---
title: Новая страница О компании
layout: default.hbs
---

<div class="page__wrapper page-wrapper--new-about" id="new-about">

    {{> header }}

    <div class="block-wrapper brand-box brand-box--has-label">
        <div class="page__center">
            <div class="page__inner">
                <div class="brand-box__inner">
                    <div class="brand-box__image">
                        <img src="img/barsgroup.svg" alt="" width="151" height="63">
                    </div>
                    <div class="brand-box__desc">
                        <div class="page__label page__label--small">О компании</div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="new-about block-wrapper js-new-about-slider" id="new-about">

        <div class="page__center">
            <div class="page__inner">
                <div class="new-about__container">
                    <div class="new-about__slides js-new-about-slides-container">

                        <div class="new-about__slide" id="home">
                            <div class="new-about__slide-content">
                                <div class="new-about__home">
                                    <img src="uploads/about/iStart-img.png" alt="" class="new-about__home-image">
                                    <div class="new-about__text-container">
                                        <h3 class="new-about__home-heading">
                                            «БАРС Груп» —<br>
                                            визионер российской цифровой экономики

                                        </h3>
                                        <p class="new-about__home-text">
                                            Создаем многопрофильные облачные ИТ-решения для государства и бизнеса с 1992
                                            года
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="new-about__slide" id="mission">
                            <div class="new-about__slide-content">

                                <div class="new-about__improve">
                                    <img src="uploads/about/bigcitylife.svg" alt="" class="new-about__improve-image">
                                    <div class="new-about__improve-text-block">
                                        <p class="new-about__improve-text-small">
                                            Создаём технологии,<br>
                                            меняем жизнь
                                        </p>
                                        <h4 class="new-about__improve-text-large" data-parallax="">
                                            Мы улучшаем качество жизни людей, повышая эффективность цифрового
                                            государства, бизнеса и экономики
                                            с помощью российских облачных технологий
                                        </h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="new-about__slide" id="geography">
                            <div class="new-about__slide-content">
                                <div class="new-about__cities">
                                    <div class="new-about__cities-text">
                                        Наши офисы<br> в 15 городах
                                    </div>

                                    <div class="new-about__cities-map-block-fullwidth-wrapper">
                                        <div class="new-about__cities-map-block-scroll-wrapper" id="cities_map">
                                            <div class="new-about__cities-map-block-padding-wrapper">
                                                <div class="new-about__cities-map-block">
                                                    <img src="img/map.svg" alt="" class="new-about__cities-map-image">
                                                    <div class="new-about__cities-cards">
                                                        <div class="new-about__cities-card new-about__cities-card--kaliningrad"
                                                            data-parallax="20">
                                                            <img src="uploads/about/cities/moscow.png" alt=""
                                                                class="new-about__cities-card-image">
                                                            <div class="new-about__cities-card-name">
                                                                Калининград
                                                            </div>
                                                        </div>
                                                        <div class="new-about__cities-card new-about__cities-card--peterburg new-about__cities-card--medium"
                                                            data-parallax="80">
                                                            <img src="uploads/about/cities/moscow.png" alt=""
                                                                class="new-about__cities-card-image">
                                                            <div class="new-about__cities-card-name">
                                                                Санкт-петербург
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="new-about__cities-card new-about__cities-card--moscow new-about__cities-card--large">
                                                            <img src="uploads/about/cities/moscow.png" alt=""
                                                                class="new-about__cities-card-image">
                                                            <div class="new-about__cities-card-name">
                                                                Москва
                                                            </div>
                                                        </div>
                                                        <div class="new-about__cities-card new-about__cities-card--kazan new-about__cities-card--large new-about__cities-card--hq"
                                                            data-parallax="100">
                                                            <img src="uploads/about/cities/moscow.png" alt=""
                                                                class="new-about__cities-card-image">
                                                            <div class="new-about__cities-card-name">
                                                                Казань
                                                            </div>
                                                        </div>
                                                        <div class="new-about__cities-card new-about__cities-card--krasnodar "
                                                            data-parallax="40">
                                                            <img src="uploads/about/cities/moscow.png" alt=""
                                                                class="new-about__cities-card-image">
                                                            <div class="new-about__cities-card-name">
                                                                Краснодар
                                                            </div>
                                                        </div>
                                                        <div class="new-about__cities-card  new-about__cities-card--innopolis "
                                                            data-parallax="20">
                                                            <img src="uploads/about/cities/moscow.png" alt=""
                                                                class="new-about__cities-card-image">
                                                            <div class="new-about__cities-card-name">
                                                                Иннополис
                                                            </div>
                                                        </div>
                                                        <div class="new-about__cities-card new-about__cities-card--medium new-about__cities-card--rostov"
                                                            data-parallax="60">
                                                            <img src="uploads/about/cities/moscow.png" alt=""
                                                                class="new-about__cities-card-image">
                                                            <div class="new-about__cities-card-name">
                                                                Ростов-на-Дону
                                                            </div>
                                                        </div>
                                                        <div class="new-about__cities-card new-about__cities-card--lipezk"
                                                            data-parallax="40">
                                                            <img src="uploads/about/cities/moscow.png" alt=""
                                                                class="new-about__cities-card-image">
                                                            <div class="new-about__cities-card-name">
                                                                Липецк
                                                            </div>
                                                        </div>
                                                        <div class="new-about__cities-card  
                                                        new-about__cities-card--medium new-about__cities-card--tumen"
                                                            data-parallax="70">
                                                            <img src="uploads/about/cities/moscow.png" alt=""
                                                                class="new-about__cities-card-image">
                                                            <div class="new-about__cities-card-name">
                                                                Тюмень
                                                            </div>
                                                        </div>
                                                        <div class="new-about__cities-card  new-about__cities-card--chelny"
                                                            data-parallax="80">
                                                            <img src="uploads/about/cities/moscow.png" alt=""
                                                                class="new-about__cities-card-image">
                                                            <div class="new-about__cities-card-name">
                                                                Набережные Челны
                                                            </div>
                                                        </div>
                                                        <div class="new-about__cities-card new-about__cities-card--medium new-about__cities-card--novosib"
                                                            data-parallax="70">
                                                            <img src="uploads/about/cities/moscow.png" alt=""
                                                                class="new-about__cities-card-image">
                                                            <div class="new-about__cities-card-name">
                                                                Новосибирск
                                                            </div>
                                                        </div>
                                                        <div class="new-about__cities-card new-about__cities-card--tomsk"
                                                            data-parallax="60">
                                                            <img src="uploads/about/cities/moscow.png" alt=""
                                                                class="new-about__cities-card-image">
                                                            <div class="new-about__cities-card-name">
                                                                Томск
                                                            </div>
                                                        </div>
                                                        <div class="new-about__cities-card  new-about__cities-card--vladivostok"
                                                            data-parallax="30">
                                                            <img src="uploads/about/cities/moscow.png" alt=""
                                                                class="new-about__cities-card-image">
                                                            <div class="new-about__cities-card-name">
                                                                Владивосток
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="new-about__cities-card 
                                                        new-about__cities-card--rybinsk"
                                                            data-parallax="70">
                                                            <img src="uploads/about/cities/moscow.png" alt=""
                                                                class="new-about__cities-card-image">
                                                            <div class="new-about__cities-card-name">
                                                                Рыбинск
                                                            </div>
                                                        </div>
                                                        <div class="new-about__cities-card 
                                                        new-about__cities-card--medium 
                                                      new-about__cities-card--ryazan"
                                                            data-parallax="50">
                                                            <img src="uploads/about/cities/moscow.png" alt=""
                                                                class="new-about__cities-card-image">
                                                            <div class="new-about__cities-card-name">
                                                                Рязань
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="img/new-about/15.svg
                                    " alt="" class="new-about__cities-number">

                                </div>
                            </div>
                        </div>
                        <div class="new-about__slide" id="numbers">
                            <div class="new-about__slide-content">
                                <div class="new-about__numbers js-new-about-numbers">
                                    <div class="new-about__numbers-main-slider">

                                        <div class="swiper-container">

                                            <div class="swiper-wrapper">

                                                <div class="swiper-slide">
                                                    <div class="new-about__numbers-card">
                                                        <div class="new-about__numbers-card-text">
                                                            Работаем с 2077 года
                                                        </div>
                                                        <div class="new-about__numbers-card-digits" style="background-image: url('img/new-about/text-bg.jpg');">
                                                            2077
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="new-about__numbers-card">
                                                        <div class="new-about__numbers-card-text">
                                                            Работаем с 2007 года
                                                        </div>
                                                        <div class="new-about__numbers-card-digits">
                                                            2007
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="new-about__numbers-card">
                                                        <div class="new-about__numbers-card-text">
                                                            Работаем с 34 года
                                                        </div>
                                                        <div class="new-about__numbers-card-digits">
                                                            34
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="new-about__numbers-card">
                                                        <div class="new-about__numbers-card-text">
                                                            Работаем с 2007 года
                                                        </div>
                                                        <div class="new-about__numbers-card-digits">
                                                            2007
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="new-about__numbers-card">
                                                        <div class="new-about__numbers-card-text">
                                                            Работаем с 301 года
                                                        </div>
                                                        <div class="new-about__numbers-card-digits">
                                                            301
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="new-about__numbers-card">
                                                        <div class="new-about__numbers-card-text">
                                                            Работаем с 2007 года
                                                        </div>
                                                        <div class="new-about__numbers-card-digits">
                                                            2007
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="new-about__slider-nav">
                                        <div class="new-about__slider-nav__buttons">
                                            <button
                                                class="new-about__slider-nav__button new-about__slider-nav__button--prev"><span></span></button>
                                            <button
                                                class="new-about__slider-nav__button new-about__slider-nav__button--next"><span></span></button>
                                        </div>
                                    </div>
                                    <div class="new-about__numbers-thumbs-slider">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="new-about__numbers-thumb">
                                                        2077
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="new-about__numbers-thumb">
                                                        2007
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="new-about__numbers-thumb">
                                                        34
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="new-about__numbers-thumb">
                                                        2007
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="new-about__numbers-thumb">
                                                        301
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="new-about__numbers-thumb">
                                                        2007
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="new-about__slide" id="advantages">
                            <div class="new-about__slide-content">
                                <div class="new-about__advantages">
                                    <h2 class="new-about__advantages-heading">
                                        Преимущества
                                    </h2>
                                    <div class="new-about__advantages-cards">
                                        <div class="new-about__advantages-cards-row">
                                            <div class="new-about__advantages-card new-about__advantages-card--red">
                                                <div class="new-about__advantages-card-content">
                                                    <h5 class="new-about__advantages-card-heading">
                                                        Экспертиза, методология и консалтинг
                                                    </h5>
                                                    <p class="new-about__advantages-card-text">
                                                        Мы решаем конкретные управленческие задачи под ключ. Каждый
                                                        проект, наряду с внедрением информационных технологий, включает
                                                        в себя методологическую и экспертную поддержку Заказчика.
                                                    </p>
                                                </div>
                                                <img src="img/new-about/target.svg" alt=""
                                                    class="new-about__advantages-card-icon">
                                            </div>
                                            <div class="new-about__advantages-card new-about__advantages-card--grey">
                                                <div class="new-about__advantages-card-content">
                                                    <h5 class="new-about__advantages-card-heading">
                                                        Комплексный подход к цифровой трансформации
                                                    </h5>
                                                    <p class="new-about__advantages-card-text">
                                                        Тиражные и индивидуальные облачные решения разрабатываются «БАРС
                                                        Груп» с учётом отрасли, особенностей бизнес-процессов, структуры
                                                        и задач Заказчика.
                                                    </p>
                                                </div>
                                                <img src="img/new-about/approach.svg" alt=""
                                                    class="new-about__advantages-card-icon">
                                            </div>
                                        </div>
                                        <div class="new-about__advantages-cards-row">
                                            <div class="new-about__advantages-card new-about__advantages-card--green">
                                                <div class="new-about__advantages-card-content">
                                                    <h5 class="new-about__advantages-card-heading">
                                                        Внедрение и сопровождение
                                                    </h5>
                                                    <p class="new-about__advantages-card-text">
                                                        Компетенции компании позволяют осуществлять все этапы проекта:
                                                        от обследования до внедрения и сопровождения. Для удобства
                                                        Заказчиков к осуществлению проектов подключаются партнёрские
                                                        организации.
                                                    </p>
                                                </div>
                                                <img src="img/new-about/integration.svg" alt=""
                                                    class="new-about__advantages-card-icon">
                                            </div>
                                            <div class="new-about__advantages-card new-about__advantages-card--blue">
                                                <div class="new-about__advantages-card-content">
                                                    <h5 class="new-about__advantages-card-heading">
                                                        Собственные технологии
                                                    </h5>
                                                    <p class="new-about__advantages-card-text">
                                                        В основе реализации проектов «БАРС Груп» — собственные облачные
                                                        платформы. На их базе создан широкий спектр программных
                                                        продуктов, включающий тиражные информационные системы и
                                                        уникальные решения.
                                                    </p>
                                                </div>
                                                <img src="img/new-about/own.svg" alt=""
                                                    class="new-about__advantages-card-icon">
                                            </div>
                                            <div class="new-about__advantages-card new-about__advantages-card--yellow">
                                                <div class="new-about__advantages-card-content">
                                                    <h5 class="new-about__advantages-card-heading">
                                                        Индивидуальные проектные решения
                                                    </h5>
                                                    <p class="new-about__advantages-card-text">
                                                        Собственные облачные технологии и модульная структура тиражных
                                                        решений дают нам возможность подобрать для Заказчика
                                                        индивидуальную комплектацию в зависимости от поставленных задач.
                                                    </p>
                                                </div>
                                                <img src="img/new-about/individual.svg" alt=""
                                                    class="new-about__advantages-card-icon">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="new-about__slide" id="ratings">
                            <div class="new-about__slide-content">
                                <div class="new-about__ratings">
                                    <h2 class="new-about__ratings-heading">
                                        Рейтинги <br>и призвание
                                    </h2>
                                    <div class="new-about__ratings-cards">
                                        <div class="new-about__ratings-row">
                                            <div class="new-about__ratings-card">
                                                <div class="new-about__ratings-card-place">
                                                    34
                                                    <img src="img/new-about/agency-blue.svg" alt=""
                                                        class="new-about__ratings-card-agency-logo">
                                                </div>
                                                <div class="new-about__ratings-card-text">
                                                    в рейтинге крупнейших ИТ-компаний России
                                                </div>
                                            </div>
                                            <div class="new-about__ratings-card">
                                                <div class="new-about__ratings-card-place">
                                                    13
                                                    <img src="img/new-about/agency-blue.svg" alt=""
                                                        class="new-about__ratings-card-agency-logo">
                                                </div>
                                                <div class="new-about__ratings-card-text">
                                                    в рейтинге крупнейших ИТ-разработчиков России
                                                </div>
                                            </div>
                                            <div class="new-about__ratings-card">
                                                <div class="new-about__ratings-card-place">
                                                    2
                                                    <img src="img/new-about/agency-green.svg" alt=""
                                                        class="new-about__ratings-card-agency-logo">
                                                </div>
                                                <div class="new-about__ratings-card-text">
                                                    в рейтинге крупнейших поставщиков медицинских информационных систем
                                                </div>
                                            </div>
                                        </div>
                                        <div class="new-about__ratings-row">
                                            <div class="new-about__ratings-card">
                                                <div class="new-about__ratings-card-place">
                                                    14
                                                    <img src="img/new-about/agency-blue.svg" alt=""
                                                        class="new-about__ratings-card-agency-logo">
                                                </div>
                                                <div class="new-about__ratings-card-text">
                                                    крупнейших поставщиков решений для госсектора
                                                </div>
                                            </div>
                                            <div class="new-about__ratings-card">
                                                <div class="new-about__ratings-card-place">
                                                    10
                                                    <img src="img/new-about/agency-green.svg" alt=""
                                                        class="new-about__ratings-card-agency-logo">
                                                </div>
                                                <div class="new-about__ratings-card-text">
                                                    выручки участников российского рынка BI-систем
                                                </div>
                                            </div>
                                            <div class="new-about__ratings-card">
                                                <div class="new-about__ratings-card-place">
                                                    5
                                                    <img src="img/new-about/agency-blue.svg" alt=""
                                                        class="new-about__ratings-card-agency-logo">
                                                </div>
                                                <div class="new-about__ratings-card-text">
                                                    крупнейших поставщиков ИТ для промышленных предприятий
                                                </div>
                                            </div>
                                            <div class="new-about__ratings-card">
                                                <div class="new-about__ratings-card-place">
                                                    29
                                                    <img src="img/new-about/agency-green.svg" alt=""
                                                        class="new-about__ratings-card-agency-logo">
                                                </div>
                                                <div class="new-about__ratings-card-text">
                                                    крупнейших разработчиков мобильных приложений для бизнеса и
                                                    госструктур
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="new-about__slide" id="tops">
                            <div class="new-about__slide-content">
                                <div class="new-about__tops">
                                    <h2 class="new-about__tops-heading">
                                        Руководство
                                    </h2>
                                    <div class="new-about__tops-cards">
                                        <div class="new-about__tops-card">
                                            <div class="new-about__tops-card-image-container">
                                                <img src="uploads/about/leadership/leadership-1.jpg" alt=""
                                                    class="new-about__tops-card-image">
                                            </div>
                                            <p class="new-about__tops-card-name">
                                                Тимур Ахмеров
                                            </p>
                                            <p class="new-about__tops-card-status">
                                                Генеральный директор
                                            </p>
                                        </div>
                                        <div class="new-about__tops-card">
                                            <div class="new-about__tops-card-image-container">
                                                <img src="uploads/about/leadership/leadership-1.jpg" alt=""
                                                    class="new-about__tops-card-image">
                                            </div>
                                            <p class="new-about__tops-card-name">
                                                Тимур Ахмеров
                                            </p>
                                            <p class="new-about__tops-card-status">
                                                Генеральный директор
                                            </p>
                                        </div>
                                        <div class="new-about__tops-card">
                                            <div class="new-about__tops-card-image-container">
                                                <img src="uploads/about/leadership/leadership-1.jpg" alt=""
                                                    class="new-about__tops-card-image">
                                            </div>
                                            <p class="new-about__tops-card-name">
                                                Тимур Ахмеров
                                            </p>
                                            <p class="new-about__tops-card-status">
                                                Генеральный директор
                                            </p>
                                        </div>
                                        <div class="new-about__tops-card">
                                            <div class="new-about__tops-card-image-container">
                                                <img src="uploads/about/leadership/leadership-1.jpg" alt=""
                                                    class="new-about__tops-card-image">
                                            </div>
                                            <p class="new-about__tops-card-name">
                                                Тимур Ахмеров
                                            </p>
                                            <p class="new-about__tops-card-status">
                                                Генеральный директор
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="new-about__slide" id="history">
                            <div class="new-about__slide-content">
                                <div class="new-about__history js-new-about-history">
                                    <div class="new-about__history-thumbs-slider">
                                        
                                        <div class="swiper-container">
                                            
                                            <div class="swiper-wrapper">
                                              
                                                <div class="swiper-slide">
                                                    <div class="new-about__history-thumb">
                                                        2019
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="new-about__history-thumb">
                                                        2018
                                                    </div>
                                                </div>
                                             
                                               
                                            </div>
                                           
                                        </div>
                                    </div>
                                    <div class="new-about__history-main-slider">
                                        <div class="new-about__history-main-slider-top-arrow">
                                            <button>
                                                <span></span>
                                            </button>
                                        </div>
                                        <div class="swiper-container">

                                            <div class="swiper-wrapper">

                                                <div class="swiper-slide">
                                                    <div class="new-about__history-card">
                                                        <div class="new-about__history-card-top-row">
                                                            <div class="new-about__history-year">
                                                                <div class="new-about__history-year-date">
                                                                    2016
                                                                    <div class="new-about__history-year-info">
                                                                        «Ростех» открывает возможности
                                                                    </div>
                                                                </div>
                                                                <div class="new-about__history-year-main-info">
                                                                    «БАРС Груп» вошла в состав Национального центра
                                                                    информатизации госкорпорации «Ростех».
                                                                </div>
                                                            </div>
                                                            <div class="new-about__history-photo">
                                                                <img src="img/new-about/history.jpg" alt=""
                                                                    class="new-about__history-photo-image">
                                                            </div>
                                                        </div>
                                                        <div class="new-about__history-card-bottom-row">
                                                            <div class="new-about__history-card-facts-detailed">
                                                                <h3>Факты</h3>
                                                                <ul>
                                                                    <li>
                                                                        Создание первой "облачной" бухгалтерии для
                                                                        государственных и муниципальных учреждений
                                                                        Клиентами "БАРС Груп" стали Министерство
                                                                        культуры РФ, Министерство здравоохранения РФ,
                                                                        Министерство связи и массовых коммуникаций РФ,
                                                                        Федеральное агенство морского и речного
                                                                        транспорта
                                                                    </li>
                                                                    <li>
                                                                        Впервые вошли в топ 50 крупнейших поставщиков ИТ
                                                                        в госсекторе по версии Cnews Ряд программных
                                                                        продуктов сертифицированы ВНИИ ПВТИ и
                                                                        рекомендованы для использования в электронных
                                                                        правительствах субъектов РФ и электронных
                                                                        муниципалитетах
                                                                    </li>
                                                                    <li>
                                                                        Динамичное развитие направления в сфере
                                                                        информатизации образования
                                                                    </li>
                                                                    <li>
                                                                        Динамичное развитие направления в сфере
                                                                        информатизации образования
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <ul class="new-about__history-card-facts-brief">
                                                                <li class="new-about__history-card-facts-brief-item">
                                                                    <div
                                                                        class="new-about__history-card-facts-brief-icon-container">
                                                                        <img src="img/new-about/history-icon.png" alt=""
                                                                            class="new-about__history-card-facts-brief-icon">
                                                                    </div>
                                                                    <div
                                                                        class="new-about__history-card-facts-brief-text">
                                                                        8 офисов по всей России: в Ростове-на-Дону в
                                                                        Севастополе в Краснодаре в Санкт-Петербурге
                                                                    </div>
                                                                </li>
                                                                <li class="new-about__history-card-facts-brief-item">
                                                                    <div
                                                                        class="new-about__history-card-facts-brief-icon-container">
                                                                        <img src="img/new-about/history-icon-2.png"
                                                                            alt=""
                                                                            class="new-about__history-card-facts-brief-icon">
                                                                    </div>
                                                                    <div
                                                                        class="new-about__history-card-facts-brief-text">
                                                                        13-е место в рейтинге ИТ-разработчиков России по
                                                                        версии Сnews
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="new-about__history-card">
                                                        <div class="new-about__history-card-top-row">
                                                            <div class="new-about__history-year">
                                                                <div class="new-about__history-year-date">
                                                                    2007
                                                                    <div class="new-about__history-year-info">
                                                                        «Ростех» открывает возможности
                                                                    </div>
                                                                </div>
                                                                <div class="new-about__history-year-main-info">
                                                                    «БАРС Груп» вошла в состав Национального центра
                                                                    информатизации госкорпорации «Ростех».
                                                                </div>
                                                            </div>
                                                            <div class="new-about__history-photo">
                                                                <img src="img/new-about/history.jpg" alt=""
                                                                    class="new-about__history-photo-image">
                                                            </div>
                                                        </div>
                                                        <div class="new-about__history-card-bottom-row">
                                                            <div class="new-about__history-card-facts-detailed">
                                                                <h3>Факты</h3>
                                                                <ul>
                                                                    <li>
                                                                        Создание первой "облачной" бухгалтерии для
                                                                        государственных и муниципальных учреждений
                                                                        Клиентами "БАРС Груп" стали Министерство
                                                                        культуры РФ, Министерство здравоохранения РФ,
                                                                        Министерство связи и массовых коммуникаций РФ,
                                                                        Федеральное агенство морского и речного
                                                                        транспорта
                                                                    </li>
                                                                    <li>
                                                                        Впервые вошли в топ 50 крупнейших поставщиков ИТ
                                                                        в госсекторе по версии Cnews Ряд программных
                                                                        продуктов сертифицированы ВНИИ ПВТИ и
                                                                        рекомендованы для использования в электронных
                                                                        правительствах субъектов РФ и электронных
                                                                        муниципалитетах
                                                                    </li>
                                                                    <li>
                                                                        Динамичное развитие направления в сфере
                                                                        информатизации образования
                                                                    </li>
                                                                    <li>
                                                                        Динамичное развитие направления в сфере
                                                                        информатизации образования
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <ul class="new-about__history-card-facts-brief">
                                                                <li class="new-about__history-card-facts-brief-item">
                                                                    <div
                                                                        class="new-about__history-card-facts-brief-icon-container">
                                                                        <img src="img/new-about/history-icon.png" alt=""
                                                                            class="new-about__history-card-facts-brief-icon">
                                                                    </div>
                                                                    <div
                                                                        class="new-about__history-card-facts-brief-text">
                                                                        8 офисов по всей России: в Ростове-на-Дону в
                                                                        Севастополе в Краснодаре в Санкт-Петербурге
                                                                    </div>
                                                                </li>
                                                                <li class="new-about__history-card-facts-brief-item">
                                                                    <div
                                                                        class="new-about__history-card-facts-brief-icon-container">
                                                                        <img src="img/new-about/history-icon-2.png"
                                                                            alt=""
                                                                            class="new-about__history-card-facts-brief-icon">
                                                                    </div>
                                                                    <div
                                                                        class="new-about__history-card-facts-brief-text">
                                                                        13-е место в рейтинге ИТ-разработчиков России по
                                                                        версии Сnews
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                        </div>
                                        <div class="new-about__history-main-slider-bottom-arrow">
                                            <button>
                                                <span></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="new-about__navigation">
                    <div class="page__center">
                        <div class="page__inner">
                            <ul class="new-about__navigation-list js-new-about-navigation">
                                <li class="new-about__navigation-list-item">
                                    <a href="#" class="new-about__navigation-link">
                                        Главное
                                    </a>
                                </li>
                                <li class="new-about__navigation-list-item">
                                    <a href="#" class="new-about__navigation-link">
                                        Миссия
                                    </a>
                                </li>
                                <li class="new-about__navigation-list-item">
                                    <a href="#" class="new-about__navigation-link">
                                        География
                                    </a>
                                </li>
                                {{!-- <li class="new-about__navigation-list-item">
                                    <a href="#" class="new-about__navigation-link">
                                        Цифры
                                    </a>
                                </li> --}}
                                <li class="new-about__navigation-list-item">
                                    <a href="#" class="new-about__navigation-link">
                                        Преимущества
                                    </a>
                                </li>
                                <li class="new-about__navigation-list-item">
                                    <a href="#" class="new-about__navigation-link">
                                        Рейтинги
                                    </a>
                                </li>
                                <li class="new-about__navigation-list-item">
                                    <a href="#" class="new-about__navigation-link">
                                        Руководство
                                    </a>
                                </li>
                                {{!-- <li class="new-about__navigation-list-item">
                                    <a href="#" class="new-about__navigation-link">
                                        Партнеры
                                    </a>
                                </li>
                                <li class="new-about__navigation-list-item">
                                    <a href="#" class="new-about__navigation-link">
                                        История
                                    </a>
                                </li> --}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> footer }}

</div>

{{> nav-mobile }}