---
title: Главная
layout: default.hbs
---

<footer class="im-footer">
	<div class="im-page__center">
		<div class="im-page__inner">
			
			<div class="im-footer__line">
				
				<div class="im-footer__logo">
					<div class="im-footer__logo__size">
						<img src="img/im-footer/barsgroup.svg" alt="" width="151" height="63">
					</div>
				</div>

				<nav class="im-footer__menu">
					<div class="im-footer__menu__col">
						<div class="im-footer__menu__title">О компании</div>
						<div class="im-footer__menu__list">
							<div class="im-footer__menu__item">
								<a href="#">О нас</a>
							</div>
							<div class="im-footer__menu__item">
								<a href="#">Партнеры</a>
							</div>
							<div class="im-footer__menu__item">
								<a href="#">История компании</a>
							</div>
							<div class="im-footer__menu__item">
								<a href="#">Руководство</a>
							</div>
						</div>
					</div>
					<div class="im-footer__menu__col">
						<div class="im-footer__menu__title">Цифровое портфолио</div>
						<div class="im-footer__menu__list">
							<div class="im-footer__menu__item">
								<a href="#">Здравоохранение</a>
							</div>
							<div class="im-footer__menu__item">
								<a href="#">Образование</a>
							</div>
							<div class="im-footer__menu__item">
								<a href="#">Сельское хозяйство</a>
							</div>
							<div class="im-footer__menu__item">
								<a href="#">Транспорт и логистика</a>
							</div>
							<div class="im-footer__menu__item">
								<a href="#">Производство</a>
							</div>
							<div class="im-footer__menu__item">
								<a href="#">Умный город</a>
							</div>
							<div class="im-footer__menu__item">
								<a href="#">Соц. защита и ЖКХ</a>
							</div>
							<div class="im-footer__menu__item">
								<a href="#">Финансы</a>
							</div>
						</div>
					</div>
					<div class="im-footer__menu__col">
						<div class="im-footer__menu__title">
							<a href="#">Технологии</a>
						</div>
						<div class="im-footer__menu__title">
							<a href="#">Пресс-центр</a>
						</div>
						<div class="im-footer__menu__title">
							<a href="#">Карьера</a>
						</div>
						<div class="im-footer__menu__title">
							<a href="#">Контакты</a>
						</div>
					</div>
				</nav>

				<div class="im-footer__find">
					<div class="im-footer__place">
						420012 г. Казань, ул. Некрасова, 9. <br>
						Бизнес-центр «На Некрасова»
					</div>
					<div class="im-footer__phone">
						<a href="tel:88005000191">8 800 5000 191</a>
					</div>
					<div class="im-footer__email">
						<a href="#">bars@bars.group</a>
					</div>

				</div>

			</div>

			<div class="im-footer__line">

				<div class="im-footer__logo im-footer__logo_for-info">
					<div class="im-footer__logo__size"></div>
				</div>

				<div>
					<div class="im-footer__info">
						<div class="im-footer__info__item">© 2018 АО «БАРС Груп»</div>
						<div class="im-footer__info__item">
							<a href="#">Политика конфиденциальности</a>
						</div>
					</div>

					<a href="http://markweber.ru" class="im-footer__dev">
						Сделано в <i class="im-footer__dev__logo"></i>
					</a>
				</div>
			</div>

		</div>
	</div>
</footer>

