---
title: Шапки
layout: default.hbs
---

<div class="page__wrapper" id="wrapper">

	<header class="header header--no-logo" id="header">
		
		{{> header-top-line }}

	</header>

	<section class="banner banner--dark-text">

		<div class="banner__image" style="background-image: url(img/banners/001.jpg);">
			<div class="banner__image__change"></div>
		</div>

		<div class="banner__text">
			
			<div class="brand-box brand-box--has-label banner__header">
				<div class="page__center">
					<div class="page__inner">
						<div class="brand-box__inner">
							<div class="brand-box__image">
								<img src="img/barsgroup.svg" alt="" width="151" height="63">
							</div>
							<div class="brand-box__desc">
								<div class="page__label">Цифровое портфолио</div>
								<div class="page__label page__label--green">Здравоохранение</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="page__center">
				<div class="page__inner">
					
					<div class="page__col-main">
						
						<div class="banner__content">
							<h3 class="page__h1 banner__h1">
								Медицинская информационная система
							</h3>

							<div class="banner__desc">
								Современные тенденции развития медицинских информационных систем сфокусированы
							</div>

							<div class="banner__button">
								<a href="#" class="button button-default js-form-wings">
									<span class="button-default__text">
										Стать партнером
									</span>
									<i class="arrow-right-fly button-default__icon">
										<span></span>
									</i>
								</a>
							</div>
						</div>
						
					</div>

				</div>
			</div>

		</div>

	</section>

	

	{{> footer }}

</div>
