---
title: Шапки
layout: default.hbs
---

<div class="page__wrapper" id="wrapper">

	{{> header }}

	<div class="nav-sticker" id="nav-sticker">

		<nav class="nav-sticker__menu" id="nav-sticker-static">
			<ul class="nav-sticker__list">
				<li class="nav-sticker__item --active">
					<a href="#section-1" class="nav-sticker__link">Схема</a>
				</li>
				<li class="nav-sticker__item">
					<a href="#section-2" class="nav-sticker__link">О платформе</a>
				</li>
				<li class="nav-sticker__item">
					<a href="#section-3" class="nav-sticker__link">Компоненты</a>
				</li>
				<li class="nav-sticker__item">
					<a href="#section-4" class="nav-sticker__link">Главные продукты</a>
				</li>
			</ul>
		</nav>

		<nav class="nav-sticker__menu --fixed --hidden" id="nav-sticker-fixed">
			<ul class="nav-sticker__list">
				<li class="nav-sticker__item --active">
					<a href="#section-1" class="nav-sticker__link">Схема</a>
				</li>
				<li class="nav-sticker__item">
					<a href="#section-2" class="nav-sticker__link">О платформе</a>
				</li>
				<li class="nav-sticker__item">
					<a href="#section-3" class="nav-sticker__link">Компоненты</a>
				</li>
				<li class="nav-sticker__item">
					<a href="#section-4" class="nav-sticker__link">Главные продукты</a>
				</li>
			</ul>
		</nav>
		
	</div>

	<section id="section-1" class="banner banner--fixed-bg banner--dark-text" data-midnight="--dark">

		<div class="banner__image" style="background-image: url(img/banners/001.jpg);">
			<div class="page__decor" style="opacity: 0.05;"></div>
		</div>

		<div class="banner__text">
			
			<div class="brand-box brand-box--has-label banner__header">
				<div class="page__center">
					<div class="page__inner">
						<div class="brand-box__inner">
							<div class="brand-box__image">
								<img src="img/barsgroup.svg" alt="" width="151" height="63">
							</div>
							<div class="brand-box__desc">
								<div class="page__label">Цифровое портфолио</div>
								<div class="page__label page__label--green">Здравоохранение</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="page__center">
				<div class="page__inner">
					
					<div class="page__col-main">
						
						<div class="banner__content">
							<div class="banner__label">
								Продукт
							</div>

							<h3 class="page__h1 banner__h1">
								Медицинская информационная система
							</h3>

							<div class="banner__desc">
								Современные тенденции развития медицинских информационных систем сфокусированы
							</div>

							<div class="banner__button">
								<a href="#" class="button button-default js-form-wings">
									<span class="button-default__text">
										Стать партнером
									</span>
									<i class="arrow-right-fly button-default__icon">
										<span></span>
									</i>
								</a>
							</div>
						</div>

						
						
					</div>

				</div>
			</div>

			<nav id="nav-banner" class="nav-banner">
				<div class="nav-banner__crop">
					<div class="nav-banner__scroll">
						
						<div class="page__center">
							<div class="page__inner">
								
								<div class="page__col-main">
									
									<div class="nav-banner__body">
										<div class="nav-banner__list">
											<div class="nav-banner__item _active">
												<div class="nav-banner__num">01</div>
												<div class="nav-banner__name">Решаемые задачи</div>
												<a href="#" class="nav-banner__link"></a>
											</div>
											<div class="nav-banner__item">
												<div class="nav-banner__num">02</div>
												<div class="nav-banner__name">Ход работы</div>
												<a href="#" class="nav-banner__link"></a>
											</div>
											<div class="nav-banner__item">
												<div class="nav-banner__num">03</div>
												<div class="nav-banner__name">Результаты</div>
												<a href="#" class="nav-banner__link"></a>
											</div>
										</div>
										<div class="nav-banner__line"></div>
									</div>

								</div>
							</div>
						</div>

					</div>
				</div>
			</nav>

		</div>

	</section>
	<section id="section-2" style="height: 800px; background: #63b7de;" data-midnight="--light"></section>
	<section id="section-3" style="height: 800px;" data-midnight="--dark"></section>
	<section id="section-4" style="height: 800px; background: #a1c527;" data-midnight="--light"></section>

	{{> footer }}

</div>

{{> nav-mobile }}
{{> hello }}
