---
title: Главная
layout: default.hbs
---

<div class="im-page__wrapper">
	
	<section class="im-digits" id="im-digits">
		<div class="im-page__center">
			<div class="im-page__inner">
				<div class="im-digits__center">
					<h3 class="im-page__label im-digits__label">Компания в цифрах</h3>
					<div class="im-digits__content">
						<div class="im-digits__slider">
							
							<div class="im-digits__pics">
								<div class="im-digits__pics__item _active">
									<div>
										<img data-src="img/im-digits/002-{width}{pixel_ratio}.jpg" alt="">
									</div>
								</div>
								<div class="im-digits__pics__item">
									<div>
										<img data-src="img/im-digits/003-{width}{pixel_ratio}.jpg" alt="">
									</div>
								</div>
								<div class="im-digits__pics__item">
									<div>
										<img data-src="img/im-digits/005-{width}{pixel_ratio}.jpg" alt="">
									</div>
								</div>
								<div class="im-digits__pics__item">
									<div>
										<img data-src="img/im-digits/004-{width}{pixel_ratio}.jpg" alt="">
									</div>
								</div>
								<div class="im-digits__pics__item">
									<div>
										<img data-src="img/im-digits/001-{width}{pixel_ratio}.jpg" alt="">
									</div>
								</div>
							</div>

							<div class="im-digits__text">
								<div class="im-digits__text__item _active">
									<div class="im-digits__text__desc">
										Работаем на мировом рынке
										<nobr>с 1992 года</nobr>
									</div>
									<div class="im-digits__text__value">1992</div>
								</div>
								<div class="im-digits__text__item">
									<div class="im-digits__text__desc">
										 Проекты в 84 регионах России
									</div>
									<div class="im-digits__text__value">84</div>
								</div>
								<div class="im-digits__text__item">
									<div class="im-digits__text__desc">
										В штате более 1300
										сотрудников
									</div>
									<div class="im-digits__text__value">1300</div>
								</div>
								<div class="im-digits__text__item">
									<div class="im-digits__text__desc">
										Более 200 компаний-партнеров 
										сотрудничают с нами
									</div>
									<div class="im-digits__text__value">200</div>
								</div>
								<div class="im-digits__text__item">
									<div class="im-digits__text__desc">
										Открыты офисы в 15 городах России
									</div>
									<div class="im-digits__text__value">15</div>
								</div>
							</div>

						</div>
						<div class="im-digits__nums">
							<div class="im-digits__nums__crop">
								<div class="im-digits__nums__list">
									<div class="im-digits__nums__item">1992</div>
									<div class="im-digits__nums__item">84</div>
									<div class="im-digits__nums__item">1300</div>
									<div class="im-digits__nums__item">200</div>
									<div class="im-digits__nums__item">15</div>
								</div>
							</div>
						</div>
					</div>
					<div class="im-digits__about">
						<div class="im-digits__about__list">
							<div class="im-digits__about__item _active">
								<div class="im-digits__about__title">
									Работаем на мировом рынке
									<nobr>уже более 27 лет</nobr>
								</div>
								<div class="im-digits__about__desc">
									В результате обновлений платформа перешла на российскую СУБД PostgreSQL, платформа перешла на российскую СУБД PostgreSQL.
								</div>
							</div>
							<div class="im-digits__about__item">
								<div class="im-digits__about__title">
									Гибкий конструктор отчетов
								</div>
								<div class="im-digits__about__desc">
									Позволяет создавать отчеты с индивидуальными параметрами и дизайном без привлечения разработчиков.
								</div>
							</div>
							<div class="im-digits__about__item">
								<div class="im-digits__about__title">
									Использование СПО
								</div>
								<div class="im-digits__about__desc">
									Использование свободного программного обеспечения позволяет максимально снизить себестоимость разработки аналитических систем силами заказчика.
								</div>
							</div>
							<div class="im-digits__about__item">
								<div class="im-digits__about__title">
									Отраслевые преднастройки
								</div>
								<div class="im-digits__about__desc">
									Настройка платформы исходя из деятельности и специфических задач заказчика: состав показателей, бизнес-процессы, формы отчетов, регламенты и др.
								</div>
							</div>
							<div class="im-digits__about__item">
								<div class="im-digits__about__title">
									Интеграции с общепринятыми системами
								</div>
								<div class="im-digits__about__desc">
									Быстрая интеграция с бухгалтерскими, финансовыми, сметными, производственными и другими системами.
								</div>
							</div>
						</div>
					</div>
					<div class="im-digits__buttons">
						<a href="#" class="im-digits__prev"></a>
						<a href="#" class="im-digits__next"></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="im-overview" id="im-overview">
		<div class="im-overview__bg">
			<div class="im-overview__bg__item _default">
				<div class="im-overview__bg__image">
					<img data-src="img/im-overview/winter-{width}{pixel_ratio}.jpg" alt="">
				</div>
				<video class="im-overview__bg__video" preload="none" loop muted playsinline>
					<source src="data/video/winter.mp4" type="video/mp4">
				</video>
			</div>
			<div class="im-overview__bg__item">
				<div class="im-overview__bg__image">
					<img data-src="img/im-overview/education-{width}{pixel_ratio}.jpg" alt="">
				</div>
			</div>
			<div class="im-overview__bg__item">
				<div class="im-overview__bg__image">
					<img data-src="img/im-overview/agriculture-{width}{pixel_ratio}.jpg" alt="">
				</div>
			</div>
			<div class="im-overview__bg__item">
				<div class="im-overview__bg__image">
					<img data-src="img/im-overview/smart-city-{width}{pixel_ratio}.jpg" alt="">
				</div>
			</div>
			<div class="im-overview__bg__item">
				<div class="im-overview__bg__image">
					<img data-src="img/im-overview/transport-{width}{pixel_ratio}.jpg" alt="">
				</div>
			</div>
			<div class="im-overview__bg__item">
				<div class="im-overview__bg__image">
					<img data-src="img/im-overview/social-{width}{pixel_ratio}.jpg" alt="">
				</div>
			</div>
			<div class="im-overview__bg__item">
				<div class="im-overview__bg__image">
					<img data-src="img/im-overview/finance-{width}{pixel_ratio}.jpg" alt="">
				</div>
			</div>
			<div class="im-overview__bg__item">
				<div class="im-overview__bg__image">
					<img data-src="img/im-overview/factory-{width}{pixel_ratio}.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="im-page__center">
			<div class="im-page__inner">
				<div class="im-overview__center">

					<h3 class="im-page__label im-overview__label">Цифровое портфолио</h3>

					<div class="im-overview__nav">
						<div class="im-overview__nav__list">
							<div class="im-overview__nav__item _active">
								<a href="#" class="im-overview__nav__link">
									<i class="im-overview__nav__icon">
										<img src="img/im-overview/icons/color/plus.svg" alt="">
									</i>
									<i class="im-overview__nav__icon im-overview__nav__icon--white">
										<img src="img/im-overview/icons/white/plus.svg" alt="">
									</i>
									Здравоохранение
								</a>
								<div class="im-overview__nav__body collapse show">
									<div class="im-overview__title">
										Национальные цели и задачи, стоящие перед Россией, вдохновили «БАРС Груп»
									</div>
									<div class="im-overview__desc">
										Ключевым фактором успешного выполнения задач — внедрение и использование цифровых сервисов в ежедневную медицинскую практику.
										<a href="#" class="im-overview__arrow">
											<span></span>
										</a>
									</div>
								</div>
							</div>
							<div class="im-overview__nav__item">
								<a href="#" class="im-overview__nav__link">
									<i class="im-overview__nav__icon">
										<img src="img/im-overview/icons/color/study.svg" alt="">
									</i>
									<i class="im-overview__nav__icon im-overview__nav__icon--white">
										<img src="img/im-overview/icons/white/study.svg" alt="">
									</i>
									Образование
								</a>
								<div class="im-overview__nav__body collapse">
									<div class="im-overview__title">
										«БАРС Груп» расширила возможности платформы бизнес-аналитики Alpha BI
									</div>
									<div class="im-overview__desc">
										Основной акцент в версии 4.2 сделан на удобный экспорт и импорт объектов с одного экземпляра Alpha BI на другой без необходимости повторной разработки и настройки одних и тех же объектов на разных экземплярах системы.
										<a href="#" class="im-overview__arrow">
											<span></span>
										</a>
									</div>
								</div>
							</div>
							<div class="im-overview__nav__item">
								<a href="#" class="im-overview__nav__link im-overview__nav__link--wheat">
									<i class="im-overview__nav__icon">
										<img src="img/im-overview/icons/color/wheat.svg" alt="">
									</i>
									<i class="im-overview__nav__icon im-overview__nav__icon--white">
										<img src="img/im-overview/icons/white/wheat.svg" alt="">
									</i>
									Сельское хозяйство
								</a>
								<div class="im-overview__nav__body collapse">
									<div class="im-overview__title">
										Результатом стало ускорение работы системы
									</div>
									<div class="im-overview__desc">
										Для ускорения системы была проведена ее оптимизация, появились новые удобства в части настройки веб-приложений, было добавлено большое количество пользовательских параметров: среди уникальных нововведений.
										<a href="#" class="im-overview__arrow">
											<span></span>
										</a>
									</div>
								</div>
							</div>
							<div class="im-overview__nav__item">
								<a href="#" class="im-overview__nav__link im-overview__nav__link--city">
									<i class="im-overview__nav__icon">
										<img src="img/im-overview/icons/color/city.svg" alt="">
									</i>
									<i class="im-overview__nav__icon im-overview__nav__icon--white">
										<img src="img/im-overview/icons/white/city.svg" alt="">
									</i>
									Умный город
								</a>
								<div class="im-overview__nav__body collapse">
									<div class="im-overview__title">
										Компания движется в сторону импортозамещения
									</div>
									<div class="im-overview__desc">
										Среди прочих обновлений: добавлена возможность скачивания изображений в формах, открытых в режиме чтения, расширены вариации отображения и выгрузки печатных форм и другие.
										<a href="#" class="im-overview__arrow">
											<span></span>
										</a>
									</div>
								</div>
							</div>
							<div class="im-overview__nav__item">
								<a href="#" class="im-overview__nav__link im-overview__nav__link--car">
									<i class="im-overview__nav__icon">
										<img src="img/im-overview/icons/color/car.svg" alt="">
									</i>
									<i class="im-overview__nav__icon im-overview__nav__icon--white">
										<img src="img/im-overview/icons/white/car.svg" alt="">
									</i>
									Транспорт и логистика
								</a>
								<div class="im-overview__nav__body collapse">
									<div class="im-overview__title">
										В дальнейшем планируются работы по переходу
									</div>
									<div class="im-overview__desc">
										Исправлено поведение системы при работе с формами, в которых изменена метаструктура: в случае, если пользователи уже заполнили данные, то ее изменение не приведет к их потере.
										<a href="#" class="im-overview__arrow">
											<span></span>
										</a>
									</div>
								</div>
							</div>
							<div class="im-overview__nav__item">
								<a href="#" class="im-overview__nav__link im-overview__nav__link--settings">
									<i class="im-overview__nav__icon">
										<img src="img/im-overview/icons/color/settings.svg" alt="">
									</i>
									<i class="im-overview__nav__icon im-overview__nav__icon--white">
										<img src="img/im-overview/icons/white/settings.svg" alt="">
									</i>
									ЖКХ и Соц. защита
								</a>
								<div class="im-overview__nav__body collapse">
									<div class="im-overview__title">
										Модуль был переписан на внутреннюю
									</div>
									<div class="im-overview__desc">
										Обращено внимание и на настройки веб-приложений – теперь можно обновлять платформу и проектные API через само приложение, без прямого подключения на сервер, также менять подключение к БД и накатывать миграции.
										<a href="#" class="im-overview__arrow">
											<span></span>
										</a>
									</div>
								</div>
							</div>
							<div class="im-overview__nav__item">
								<a href="#" class="im-overview__nav__link im-overview__nav__link--ruble">
									<i class="im-overview__nav__icon">
										<img src="img/im-overview/icons/color/ruble.svg" alt="">
									</i>
									<i class="im-overview__nav__icon im-overview__nav__icon--white">
										<img src="img/im-overview/icons/white/ruble.svg" alt="">
									</i>
									Финансы
								</a>
								<div class="im-overview__nav__body collapse">
									<div class="im-overview__title">
										«БАРС Груп» создает фреймворк для внедрения искусственного интеллекта и машинного обучения в свои системы
									</div>
									<div class="im-overview__desc">
										Правительство одобрило правила выделения субсидий в рамках программы "Цифровая экономика" по импортозамещению в сфере информационно-коммуникационных технологий"
										<a href="#" class="im-overview__arrow">
											<span></span>
										</a>
									</div>
								</div>
							</div>
							<div class="im-overview__nav__item">
								<a href="#" class="im-overview__nav__link im-overview__nav__link--factory">
									<i class="im-overview__nav__icon">
										<img src="img/im-overview/icons/color/factory.svg" alt="">
									</i>
									<i class="im-overview__nav__icon im-overview__nav__icon--white">
										<img src="img/im-overview/icons/white/factory.svg" alt="">
									</i>
									Производство
								</a>
								<div class="im-overview__nav__body collapse">
									<div class="im-overview__title">
										HR-директор «БАРС Груп» выступила на конференции «HR PRO от Head Hunter»
									</div>
									<div class="im-overview__desc">
										В документе, предназначенном для государственных учреждений и специалистов в области общественного здравоохранения, изложены 10 рекомендаций на основе двухлетнего исследовательского проекта ВОЗ.
										<a href="#" class="im-overview__arrow">
											<span></span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>	

					<div class="im-overview__about">
						<div class="im-overview__about__logo">
							<div class="im-footer__logo__size"></div>
						</div>
						<div class="im-overview__about__list">
							<div class="im-overview__about__item _active">
								<div class="im-overview__title">
									Национальные цели и задачи, стоящие перед Россией, вдохновили «БАРС Груп»
								</div>
								<div class="im-overview__desc">
									Ключевым фактором успешного выполнения задач — внедрение и использование цифровых сервисов в ежедневную медицинскую практику.
								</div>
							</div>
							<div class="im-overview__about__item">
								<div class="im-overview__title">
									«БАРС Груп» расширила возможности платформы бизнес-аналитики Alpha BI
								</div>
								<div class="im-overview__desc">
									Основной акцент в версии 4.2 сделан на удобный экспорт и импорт объектов с одного экземпляра Alpha BI на другой без необходимости повторной разработки и настройки одних и тех же объектов на разных экземплярах системы.
								</div>
							</div>
							<div class="im-overview__about__item">
								<div class="im-overview__title">
									Результатом стало ускорение работы системы
								</div>
								<div class="im-overview__desc">
									Для ускорения системы была проведена ее оптимизация, появились новые удобства в части настройки веб-приложений, было добавлено большое количество пользовательских параметров: среди уникальных нововведений.
								</div>
							</div>
							<div class="im-overview__about__item">
								<div class="im-overview__title">
									Компания движется в сторону импортозамещения
								</div>
								<div class="im-overview__desc">
									Среди прочих обновлений: добавлена возможность скачивания изображений в формах, открытых в режиме чтения, расширены вариации отображения и выгрузки печатных форм и другие.
								</div>
							</div>
							<div class="im-overview__about__item">
								<div class="im-overview__title">
									В дальнейшем планируются работы по переходу
								</div>
								<div class="im-overview__desc">
									Исправлено поведение системы при работе с формами, в которых изменена метаструктура: в случае, если пользователи уже заполнили данные, то ее изменение не приведет к их потере.
								</div>
							</div>
							<div class="im-overview__about__item">
								<div class="im-overview__title">
									Модуль был переписан на внутреннюю
								</div>
								<div class="im-overview__desc">
									Обращено внимание и на настройки веб-приложений – теперь можно обновлять платформу и проектные API через само приложение, без прямого подключения на сервер, также менять подключение к БД и накатывать миграции.
								</div>
							</div>
							<div class="im-overview__about__item">
								<div class="im-overview__title">
									«БАРС Груп» создает фреймворк для внедрения искусственного интеллекта и машинного обучения в свои системы
								</div>
								<div class="im-overview__desc">
									Правительство одобрило правила выделения субсидий в рамках программы "Цифровая экономика" по импортозамещению в сфере информационно-коммуникационных технологий"
								</div>
							</div>
							<div class="im-overview__about__item">
								<div class="im-overview__title">
									HR-директор «БАРС Груп» выступила на конференции «HR PRO от Head Hunter»
								</div>
								<div class="im-overview__desc">
									В документе, предназначенном для государственных учреждений и специалистов в области общественного здравоохранения, изложены 10 рекомендаций на основе двухлетнего исследовательского проекта ВОЗ.
								</div>
							</div>
						</div>
					</div>	

					<a href="#" class="im-page__more im-overview__more">
						<span></span>
					</a>

				</div>
			</div>
		</div>
		
	</section>

	<footer class="im-footer">
		<div class="im-page__center">
			<div class="im-page__inner">
				
				<div class="im-footer__line">
					
					<div class="im-footer__logo">
						<div class="im-footer__logo__size">
							<img src="img/im-footer/barsgroup.svg" alt="" width="151" height="63">
						</div>
					</div>

					<div class="im-footer__rest">
						<nav class="im-footer__menu">
							<div class="im-footer__menu__col">
								<div class="im-footer__menu__title">О компании</div>
								<div class="im-footer__menu__list">
									<div class="im-footer__menu__item">
										<a href="#">О нас</a>
									</div>
									<div class="im-footer__menu__item">
										<a href="#">Партнеры</a>
									</div>
									<div class="im-footer__menu__item">
										<a href="#">История компании</a>
									</div>
									<div class="im-footer__menu__item">
										<a href="#">Руководство</a>
									</div>
								</div>
							</div>
							<div class="im-footer__menu__col">
								<div class="im-footer__menu__title">Цифровое портфолио</div>
								<div class="im-footer__menu__list">
									<div class="im-footer__menu__item">
										<a href="#">Здравоохранение</a>
									</div>
									<div class="im-footer__menu__item">
										<a href="#">Образование</a>
									</div>
									<div class="im-footer__menu__item">
										<a href="#">Сельское хозяйство</a>
									</div>
									<div class="im-footer__menu__item">
										<a href="#">Транспорт и логистика</a>
									</div>
									<div class="im-footer__menu__item">
										<a href="#">Производство</a>
									</div>
									<div class="im-footer__menu__item">
										<a href="#">Умный город</a>
									</div>
									<div class="im-footer__menu__item">
										<a href="#">Соц. защита и ЖКХ</a>
									</div>
									<div class="im-footer__menu__item">
										<a href="#">Финансы</a>
									</div>
								</div>
							</div>
							<div class="im-footer__menu__col">
								<div class="im-footer__menu__title">
									<a href="#">Технологии</a>
								</div>
								<div class="im-footer__menu__title">
									<a href="#">Пресс-центр</a>
								</div>
								<div class="im-footer__menu__title">
									<a href="#">Карьера</a>
								</div>
								<div class="im-footer__menu__title">
									<a href="#">Контакты</a>
								</div>
							</div>
						</nav>

						<div class="im-footer__find">
							<div class="im-footer__place">
								420012 г. Казань, ул. Некрасова, 9. <br>
								Бизнес-центр «На Некрасова»
							</div>
							<div class="im-footer__phone">
								<a href="tel:88005000191">8 800 5000 191</a>
							</div>
							<div class="im-footer__email">
								<a href="#">bars@bars.group</a>
							</div>

							<nav class="im-footer__social">
								<a href="#" class="im-footer__social__item">
									<i class="icon icon-vkontakte"></i>
								</a>
								<a href="#" class="im-footer__social__item">
									<i class="icon icon-odnoklassniki"></i>
								</a>
								<a href="#" class="im-footer__social__item">
									<i class="icon icon-instagram"></i>
								</a>
								<a href="#" class="im-footer__social__item">
									<i class="icon icon-linkedin"></i>
								</a>
							</nav>

						</div>
					</div>

				</div>

				<div class="im-footer__line">

					<div class="im-footer__logo im-footer__logo--for-info">
						<div class="im-footer__logo__size"></div>
					</div>

					<div>
						<div class="im-footer__info">
							<div class="im-footer__info__item">© 2018 АО «БАРС Груп»</div>
							<div class="im-footer__info__item">
								<a href="#">Политика конфиденциальности</a>
							</div>
						</div>

						<a href="http://markweber.ru" class="im-footer__dev">
							Сделано в <i class="im-footer__dev__logo"></i>
						</a>
					</div>
				</div>

			</div>
		</div>
	</footer>

</div>
