---
title: Главная
layout: default.hbs
---

<div class="im-page__wrapper">
	
	<section class="im-digits" id="im-digits">
		<div class="im-page__center">
			<div class="im-page__inner">
				<div class="im-digits__center">
					<h3 class="im-page__label im-digits__label">Компания в цифрах</h3>
					<div class="im-digits__content">
						<div class="im-digits__slider">
							
							<div class="im-digits__pics">
								<div class="im-digits__pics__item _active">
									<div>
										<img data-src="img/im-digits/{width}/002{pixel_ratio}.jpg" alt="">
									</div>
								</div>
								<div class="im-digits__pics__item">
									<div>
										<img data-src="img/im-digits/{width}/003{pixel_ratio}.jpg" alt="">
									</div>
								</div>
								<div class="im-digits__pics__item">
									<div>
										<img data-src="img/im-digits/{width}/005{pixel_ratio}.jpg" alt="">
									</div>
								</div>
								<div class="im-digits__pics__item">
									<div>
										<img data-src="img/im-digits/{width}/004{pixel_ratio}.jpg" alt="">
									</div>
								</div>
								<div class="im-digits__pics__item">
									<div>
										<img data-src="img/im-digits/{width}/001{pixel_ratio}.jpg" alt="">
									</div>
								</div>
							</div>

							<div class="im-digits__text">
								<div class="im-digits__text__item _active">
									<div class="im-digits__text__desc">
										Работаем на мировом рынке
										<nobr>с 1992 года</nobr>
									</div>
									<div class="im-digits__text__value">1992</div>
								</div>
								<div class="im-digits__text__item">
									<div class="im-digits__text__desc">
										 Проекты в 84 регионах России
									</div>
									<div class="im-digits__text__value">84</div>
								</div>
								<div class="im-digits__text__item">
									<div class="im-digits__text__desc">
										В штате более 1300
										сотрудников
									</div>
									<div class="im-digits__text__value">1300</div>
								</div>
								<div class="im-digits__text__item">
									<div class="im-digits__text__desc">
										Более 200 компаний-партнеров 
										сотрудничают с нами
									</div>
									<div class="im-digits__text__value">200</div>
								</div>
								<div class="im-digits__text__item">
									<div class="im-digits__text__desc">
										Открыты офисы в 15 городах России
									</div>
									<div class="im-digits__text__value">15</div>
								</div>
							</div>

						</div>
						<div class="im-digits__nums">
							<div class="im-digits__nums__crop">
								<div class="im-digits__nums__list">
									<div class="im-digits__nums__item">1992</div>
									<div class="im-digits__nums__item">84</div>
									<div class="im-digits__nums__item">1300</div>
									<div class="im-digits__nums__item">200</div>
									<div class="im-digits__nums__item">15</div>
								</div>
							</div>
						</div>
					</div>
					<div class="im-digits__buttons">
						<a href="#" class="im-digits__prev"></a>
						<a href="#" class="im-digits__next"></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div style="background: #eff4fd; height: 2px;"></div>

	<footer class="im-footer">
		<div class="im-page__center">
			<div class="im-page__inner">
				
				<div class="im-footer__line">
					
					<div class="im-footer__logo">
						<div class="im-footer__logo__size">
							<img src="img/im-footer/barsgroup.svg" alt="" width="151" height="63">
						</div>
					</div>

					<div class="im-footer__rest">
						<nav class="im-footer__menu">
							<div class="im-footer__menu__col">
								<div class="im-footer__menu__title">О компании</div>
								<div class="im-footer__menu__list">
									<div class="im-footer__menu__item">
										<a href="#">О нас</a>
									</div>
									<div class="im-footer__menu__item">
										<a href="#">Партнеры</a>
									</div>
									<div class="im-footer__menu__item">
										<a href="#">История компании</a>
									</div>
									<div class="im-footer__menu__item">
										<a href="#">Руководство</a>
									</div>
								</div>
							</div>
							<div class="im-footer__menu__col">
								<div class="im-footer__menu__title">Цифровое портфолио</div>
								<div class="im-footer__menu__list">
									<div class="im-footer__menu__item">
										<a href="#">Здравоохранение</a>
									</div>
									<div class="im-footer__menu__item">
										<a href="#">Образование</a>
									</div>
									<div class="im-footer__menu__item">
										<a href="#">Сельское хозяйство</a>
									</div>
									<div class="im-footer__menu__item">
										<a href="#">Транспорт и логистика</a>
									</div>
									<div class="im-footer__menu__item">
										<a href="#">Производство</a>
									</div>
									<div class="im-footer__menu__item">
										<a href="#">Умный город</a>
									</div>
									<div class="im-footer__menu__item">
										<a href="#">Соц. защита и ЖКХ</a>
									</div>
									<div class="im-footer__menu__item">
										<a href="#">Финансы</a>
									</div>
								</div>
							</div>
							<div class="im-footer__menu__col">
								<div class="im-footer__menu__title">
									<a href="#">Технологии</a>
								</div>
								<div class="im-footer__menu__title">
									<a href="#">Пресс-центр</a>
								</div>
								<div class="im-footer__menu__title">
									<a href="#">Карьера</a>
								</div>
								<div class="im-footer__menu__title">
									<a href="#">Контакты</a>
								</div>
							</div>
						</nav>

						<div class="im-footer__find">
							<div class="im-footer__place">
								420012 г. Казань, ул. Некрасова, 9. <br>
								Бизнес-центр «На Некрасова»
							</div>
							<div class="im-footer__phone">
								<a href="tel:88005000191">8 800 5000 191</a>
							</div>
							<div class="im-footer__email">
								<a href="#">bars@bars.group</a>
							</div>

							<nav class="im-footer__social">
								<a href="#" class="im-footer__social__item">
									<i class="icon icon-vkontakte"></i>
								</a>
								<a href="#" class="im-footer__social__item">
									<i class="icon icon-odnoklassniki"></i>
								</a>
								<a href="#" class="im-footer__social__item">
									<i class="icon icon-instagram"></i>
								</a>
								<a href="#" class="im-footer__social__item">
									<i class="icon icon-linkedin"></i>
								</a>
							</nav>

						</div>
					</div>

				</div>

				<div class="im-footer__line">

					<div class="im-footer__logo im-footer__logo--for-info">
						<div class="im-footer__logo__size"></div>
					</div>

					<div>
						<div class="im-footer__info">
							<div class="im-footer__info__item">© 2018 АО «БАРС Груп»</div>
							<div class="im-footer__info__item">
								<a href="#">Политика конфиденциальности</a>
							</div>
						</div>

						<a href="http://markweber.ru" class="im-footer__dev">
							Сделано в <i class="im-footer__dev__logo"></i>
						</a>
					</div>
				</div>

			</div>
		</div>
	</footer>

</div>
