---
title: Пресс-центр
layout: default.hbs
---

<div class="page__wrapper" id="wrapper">

	{{> header }}

	<div class="brand-box brand-box--has-label">
		<div class="page__center">
			<div class="page__inner">
				<div class="brand-box__inner">
					<div class="brand-box__image">
						<img src="img/barsgroup.svg" alt="" width="151" height="63">
					</div>
					<div class="brand-box__desc">
						<div class="page__label">Пресс-центр</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page__center">
		<div class="page__inner">
			
			<div class="clearfix">
				<div class="page__col-side">
					
					{{!--  nav-side --}}
					<nav class="nav-side">
						<div class="nav-side__list">
							<div class="nav-side__item">
								<a href="news.html" class="nav-side__link">
									<span class="nav-side__text">Новости</span>
								</a>
								
							</div>
							<div class="nav-side__item --active">
								<a href="news-search.html" class="nav-side__link">
									<span class="nav-side__text">Поиск</span>
								</a>
								<i class="nav-side__arrow"></i>
							</div>
						</div>
					</nav>
					{{!-- /nav-side --}}

					{{!--  nav-cats --}}
					<nav class="nav-cats nav-cats--for-news">
						<div class="nav-cats__scroll">
							<div class="nav-cats__item --active">
								<a href="#" class="nav-cats__link">
									<span class="nav-cats__text">Все</span><span class="nav-cats__count">10 726</span>
								</a>
							</div>
							<div class="nav-cats__item">
								<a href="#" class="nav-cats__link">
									<span class="nav-cats__text">Праздники</span><span class="nav-cats__count">23</span>
								</a>
							</div>
							<div class="nav-cats__item">
								<a href="#" class="nav-cats__link">
									<span class="nav-cats__text">Мероприятия</span><span class="nav-cats__count">239</span>
								</a>
							</div>
							<div class="nav-cats__item">
								<a href="#" class="nav-cats__link">
									<span class="nav-cats__text">Корпоративные новости</span><span class="nav-cats__count">239</span>
								</a>
							</div>
							<div class="nav-cats__item">
								<a href="#" class="nav-cats__link">
									<span class="nav-cats__text">Интервью</span><span class="nav-cats__count">4</span>
								</a>
							</div>
							<div class="nav-cats__item">
								<a href="#" class="nav-cats__link">
									<span class="nav-cats__text">Партнерство</span><span class="nav-cats__count">31</span>
								</a>
							</div>
							<div class="nav-cats__item">
								<a href="#" class="nav-cats__link">
									<span class="nav-cats__text">Проекты</span><span class="nav-cats__count">1 041</span>
								</a>
							</div>
						</div>
					</nav>
					{{!-- /nav-cats --}}

					{{!--  nav-filter --}}
					<div class="nav-filter" id="nav-filter">
						<div class="nav-filter__item">
							<a href="#" class="nav-filter__button"><span>Год публикации</span></a>
							<div class="nav-options">
								<div class="nav-options__item">
									<a href="#" class="nav-options__link">2019</a>
								</div>
								<div class="nav-options__item">
									<a href="#" class="nav-options__link">2018</a>
								</div>
								<div class="nav-options__item">
									<a href="#" class="nav-options__link">2017</a>
								</div>
								<div class="nav-options__item">
									<a href="#" class="nav-options__link">2016</a>
								</div>
								<div class="nav-options__item">
									<a href="#" class="nav-options__link">2015</a>
								</div>
							</div>
						</div>
						<div class="nav-filter__item">
							<a href="#" class="nav-filter__button"><span>По направлениям</span></a>
							<div class="nav-options">
								<div class="nav-options__item">
									<a href="#" class="nav-options__link">Здравоохранение</a>
								</div>
								<div class="nav-options__item">
									<a href="#" class="nav-options__link">Строительство</a>
								</div>
								<div class="nav-options__item">
									<a href="#" class="nav-options__link">Финансы</a>
								</div>
							</div>
						</div>
					</div>
					{{!-- /nav-filter --}}

				</div>
				<div class="page__col-main">

					<form class="tPortfolioSearch__form tPortfolioSearch__form--no-toggle">
						<div class="input-bella catalog__ctrl-main__input">
							<input type="text" class="input-bella__field js-form-input">
							<div class="input-bella__label">Поиск по названию</div>
						</div>
						<div class="tPortfolioSearch__search-instead">
							Искать вместо этого: <span>apgighklaguakhkd</span>
						</div>
					</form>
					
					<div class="catalog__search catalog__search--for-news">
						<form action="search.html" class="form-search">
							<div class="input-brianna form-search__input">
								<input type="text" class="input-brianna__field form-search__field js-form-input">
								<div class="input-brianna__label">Поиск по названию</div>
								<button type="submit" class="form-search__submit">
									<i class="icon icon-search"></i>
								</button>
							</div>
						</form>
						<div class="tPortfolioSearch__search-instead">
							Искать вместо этого: <span>apgighklaguakhkd</span>
						</div>
					</div>

					<div class="tSiteSearch__news tSiteSearchNews">
						<div>
							<div class="tSiteSearchNews__wrapper">
								<a href="news-item.html" class="page__click"></a>

								<div class="tSiteSearchNews__thumb-wrapper">
									<div class="tSiteSearchNews__thumb" style="background-image: url('https://bujinfo.am/wp-content/uploads/2018/10/osteogoodhealth_md-1.jpg');"></div>
								</div>

								<div class="tSiteSearchNews__content">
									<p class="tSiteSearchNews__date">
										17 января 2019
									</p>

									<p class="tSiteSearchNews__title tSiteSearchResults__title">
										<a href="#">Социальный регистр от "Барс ГРУПП" победил во всероссийском конкурсе</a>
									</p>
								</div>
							</div>

							<div class="tSiteSearchNews__wrapper">
								<a href="news-item.html" class="page__click"></a>

								<div class="tSiteSearchNews__thumb-wrapper">
									<div class="tSiteSearchNews__thumb" style="background-image: url('https://images.wallpaperscraft.ru/image/dnk_spiral_genetika_132693_2048x1152.jpg');"></div>
								</div>

								<div class="tSiteSearchNews__content">
									<p class="tSiteSearchNews__date">
										18 января 2019
									</p>

									<p class="tSiteSearchNews__title tSiteSearchResults__title">
										<a href="#">"Барс ГРУПП" представила свои разработки Госсовету РФ</a>
									</p>
								</div>
							</div>

							<div class="tSiteSearchNews__wrapper">
								<a href="news-item.html" class="page__click"></a>

								<div class="tSiteSearchNews__thumb-wrapper"></div>

								<div class="tSiteSearchNews__content">
									<p class="tSiteSearchNews__date">
										17 января 2019
									</p>

									<p class="tSiteSearchNews__title tSiteSearchResults__title">
										<a href="#">Социальный регистр от "Барс ГРУПП" победил во всероссийском конкурсе</a>
									</p>
								</div>
							</div>

							<div class="tSiteSearchNews__wrapper">
								<a href="news-item.html" class="page__click"></a>

								<div class="tSiteSearchNews__thumb-wrapper">
									<div class="tSiteSearchNews__thumb" style="background-image: url('https://picsum.photos/id/304/410/300.jpg');"></div>
								</div>

								<div class="tSiteSearchNews__content">
									<p class="tSiteSearchNews__date">
										20 января 2019
									</p>

									<p class="tSiteSearchNews__title tSiteSearchResults__title">
										<a href="#">Социальный регистр от "Барс ГРУПП" победил во всероссийском конкурсе</a>
									</p>
								</div>
							</div>
						</div>

						<div class="tSiteSearchNews__nav">
							<a href="#" class="active">1</a>
							<a href="#">2</a>
							<a href="#">3</a>
							<a href="#">4</a>
							<a href="#">5</a>
							<a href="#" class="earlier">ранее</a>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

	{{> footer }}

</div>

{{> nav-mobile }}

