---
title: Новости
layout: default.hbs
---

<div class="page__wrapper" id="wrapper">

    {{> header }}

    <div class="brand-box brand-box--has-label">
        <div class="page__center">
            <div class="page__inner">
                <div class="brand-box__inner">
                    <div class="brand-box__image">
                        <img src="img/barsgroup.svg" alt="" width="151" height="63">
                    </div>
                    <div class="brand-box__desc">
                        <div class="page__label">Новости</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page__center">
        <div class="page__inner">

            <div class="clearfix">
                <div class="page__col-main">
                    <div class="news-details">

                        
                        <div class="news-details__previous-article">
                            <a href="#" class="news-details__previous-article-arrow js-news-previous-article">
                                <span class="icon icon-arrow-thin-right"></span>
                            </a>
                            <a href="#" class="news-details__previous-article-content">
                                <span class="news-details__previous-article-image-container">
                                    <img src="img/news/next-news-photo.jpg" alt=""
                                        class="news-details__previous-article-image">
                                </span>
                                <span class="news-details__description">
                                    <p>
                                        Представители компании «БАРС Груп» выступили экспертами на Всероссийском
                                        Поволжском агрофоруме
                                    </p>
                                </span>
                            </a>
                        </div>
                        <div class="news-details__next-article">
                            <a href="#" class="news-details__next-article-arrow js-news-next-article">
                                <span class="icon icon-arrow-thin-right"></span>
                            </a>
                            <a href="#" class="news-details__next-article-content">
                                <span class="news-details__next-article-image-container">
                                    <img src="img/news/next-news-photo.jpg" alt=""
                                        class="news-details__next-article-image">
                                </span>
                                <span class="news-details__description">
                                    <p>
                                        Представители компании «БАРС Груп» выступили экспертами на Всероссийском
                                        Поволжском агрофоруме
                                    </p>
                                </span>
                            </a>
                        </div>
                      
                        <div class="news-details__heading-block">
                            <h1>
                                Представители «БАРС Груп» выступили экспертами на Поволжском агрофоруме
                            </h1>
                            <time class="article__date news-details__date" datetime="2019-01-17">17 января 2019</time>
                        </div>

                        <div class="news-details__content js-news-details-content">

                            <div class="news-details__brief">
                                Представители «БАРС Груп», дочерней компании Национального Центра Информатизации,
                                приняли участие в круглых столах с участием Министерства сельского хозяйства  и
                                продовольствия РТ в рамках Поволжского агропромышленного форума.
                            </div>


                            <p>В первый день агрофорума на круглом столе «Создание консорциума Agrotech и применение
                                цифровых технологий в сельском хозяйстве» они представили цифровые платформы «БАРС
                                Груп»,
                                которые улучшают функциональные возможности в сфере ветеринарии и сельского
                                хозяйства.
                            </p>
                            <p>Дискуссию вызвал вопрос оформления субсидий. Участники круглого стола высказали
                                мнение и
                                пожелания по доработке существующей подсистемы ИАС АПК «БАРС.Сельское хозяйство –
                                Субсидирование», обсудили упрощение приема документов и логику процесса их
                                согласования.
                                После доработки подсистемы сельхозтоваропроизводители смогут осуществлять подачу
                                документов
                                через «единое окно»: разрабатывается процесс приема документов, в результате
                                которого
                                все
                                документы будут приниматься одним специалистом и далее распределяться по отделам
                                ведомства.
                            </p>

                            <div class="news-details__photo-slider js-news-details-photo-slider">
                                <div class="news-details__photo-slider-content">
                                    <div class="swiper-container">

                                        <div class="swiper-wrapper">

                                            <div class="swiper-slide">
                                                <div class="news-details__photo-slider-card">
                                                    <div class="news-details__photo-slider-image-container">
                                                        <img src="img/news-details-slider/news-photo.jpg" alt=""
                                                            class="news-details__photo-slider-image">
                                                    </div>
                                                    <div class="news-details__photo-slider-description">
                                                        Подпись фотографии
                                                    </div>
                                                    <a href="#" class="news-details__photo-slider-download">
                                                        <i class="icon icon-download"></i>
                                                        pdf 2.3 МБ
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="news-details__photo-slider-card">
                                                    <div class="news-details__photo-slider-image-container">
                                                        <img src="img/news-details-slider/news-photo.jpg" alt=""
                                                            class="news-details__photo-slider-image">
                                                    </div>
                                                    <div class="news-details__photo-slider-description">
                                                        Подпись фотографии
                                                    </div>
                                                    <a href="#" class="news-details__photo-slider-download">
                                                        <i class="icon icon-download"></i>
                                                        pdf 2.3 МБ
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="news-details__photo-slider-card">
                                                    <div class="news-details__photo-slider-image-container">
                                                        <img src="img/news-details-slider/news-photo.jpg" alt=""
                                                            class="news-details__photo-slider-image">
                                                    </div>
                                                    <div class="news-details__photo-slider-description">
                                                        Подпись фотографии
                                                    </div>
                                                    <a href="#" class="news-details__photo-slider-download">
                                                        <i class="icon icon-download"></i>
                                                        pdf 2.3 МБ
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="news-details__photo-slider-card">
                                                    <div class="news-details__photo-slider-image-container">
                                                        <img src="img/news-details-slider/news-photo.jpg" alt=""
                                                            class="news-details__photo-slider-image">
                                                    </div>
                                                    <div class="news-details__photo-slider-description">
                                                        Подпись фотографии
                                                    </div>
                                                    <a href="#" class="news-details__photo-slider-download">
                                                        <i class="icon icon-download"></i>
                                                        pdf 2.3 МБ
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="news-details__photo-slider-card">
                                                    <div class="news-details__photo-slider-image-container">
                                                        <a href="https://www.youtube.com/watch?v=ScMzIvxBSi4&t=15s" class="news-details__photo-slider-video-link js-photo-slider-video-link">
                                                            <img src="img/news-details-slider/news-photo.jpg" alt="" class="news-details__photo-slider-video-preview">
                                                        </a>
                                                    </div>
                                                    <div class="news-details__photo-slider-description">
                                                        Подпись видео
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="news-details__photo-slider-card">
                                                    <div class="news-details__photo-slider-image-container">
                                                        <img src="img/news-details-slider/news-photo.jpg" alt=""
                                                            class="news-details__photo-slider-image">
                                                    </div>
                                                    <div class="news-details__photo-slider-description">
                                                        Подпись фотографии
                                                    </div>
                                                    <a href="#" class="news-details__photo-slider-download">
                                                        <i class="icon icon-download"></i>
                                                        pdf 2.3 МБ
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="news-details__photo-slider-card">
                                                    <div class="news-details__photo-slider-image-container">
                                                        <img src="img/news-details-slider/news-photo.jpg" alt=""
                                                            class="news-details__photo-slider-image">
                                                    </div>
                                                    <div class="news-details__photo-slider-description">
                                                        Подпись фотографии
                                                    </div>
                                                    <a href="#" class="news-details__photo-slider-download">
                                                        <i class="icon icon-download"></i>
                                                        pdf 2.3 МБ
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="news-details__photo-slider-card">
                                                    <div class="news-details__photo-slider-image-container">
                                                        <img src="img/news-details-slider/news-photo.jpg" alt=""
                                                            class="news-details__photo-slider-image">
                                                    </div>
                                                    <div class="news-details__photo-slider-description">
                                                        Подпись фотографии
                                                    </div>
                                                    <a href="#" class="news-details__photo-slider-download">
                                                        <i class="icon icon-download"></i>
                                                        pdf 2.3 МБ
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="news-details__photo-slider-card">
                                                    <div class="news-details__photo-slider-image-container">
                                                        <img src="img/news-details-slider/news-photo.jpg" alt=""
                                                            class="news-details__photo-slider-image">
                                                    </div>
                                                    <div class="news-details__photo-slider-description">
                                                        Подпись фотографии
                                                    </div>
                                                    <a href="#" class="news-details__photo-slider-download">
                                                        <i class="icon icon-download"></i>
                                                        pdf 2.3 МБ
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="news-details__photo-slider-card">
                                                    <div class="news-details__photo-slider-image-container">
                                                        <img src="img/news-details-slider/news-photo.jpg" alt=""
                                                            class="news-details__photo-slider-image">
                                                    </div>
                                                    <div class="news-details__photo-slider-description">
                                                        Подпись фотографии
                                                    </div>
                                                    <a href="#" class="news-details__photo-slider-download">
                                                        <i class="icon icon-download"></i>
                                                        pdf 2.3 МБ
                                                    </a>
                                                </div>
                                            </div>
                                           


                                        </div>

                                    </div>
                                    <div class="news-details__photo-slider-arrows">
                                        <a href="#" class="arrow-both-circle__prev news-details__photo-slider-prev"></a>
                                        <a href="#" class="arrow-both-circle__next news-details__photo-slider-next"></a>
                                    </div>
                                </div>
                                <div class="news-details__photo-slider-thumbnails gradient-right js-news-details-thumbnails-slider">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="news-details__photo-slider-thumbnails-image-container">
                                                    <img src="img/news-details-slider/news-photo.jpg" alt=""
                                                        class="news-details__photo-slider-thumbnails-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="news-details__photo-slider-thumbnails-image-container">
                                                    <img src="img/news-details-slider/news-photo.jpg" alt=""
                                                        class="news-details__photo-slider-thumbnails-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="news-details__photo-slider-thumbnails-image-container">
                                                    <img src="img/news-details-slider/news-photo.jpg" alt=""
                                                        class="news-details__photo-slider-thumbnails-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="news-details__photo-slider-thumbnails-image-container">
                                                    <img src="img/news-details-slider/news-photo.jpg" alt=""
                                                        class="news-details__photo-slider-thumbnails-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="news-details__photo-slider-thumbnails-image-container news-details__photo-slider-thumbnails-image-container--video">
                                                    <img src="img/news-details-slider/news-photo.jpg" alt=""
                                                        class="news-details__photo-slider-thumbnails-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="news-details__photo-slider-thumbnails-image-container">
                                                    <img src="img/news-details-slider/news-photo.jpg" alt=""
                                                        class="news-details__photo-slider-thumbnails-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="news-details__photo-slider-thumbnails-image-container">
                                                    <img src="img/news-details-slider/news-photo.jpg" alt=""
                                                        class="news-details__photo-slider-thumbnails-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="news-details__photo-slider-thumbnails-image-container">
                                                    <img src="img/news-details-slider/news-photo.jpg" alt=""
                                                        class="news-details__photo-slider-thumbnails-image">
                                                </div>
                                            </div>
                                           
                                            <div class="swiper-slide">
                                                <div class="news-details__photo-slider-thumbnails-image-container">
                                                    <img src="img/news-details-slider/news-photo.jpg" alt=""
                                                        class="news-details__photo-slider-thumbnails-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="news-details__photo-slider-thumbnails-image-container">
                                                    <img src="img/news-details-slider/news-photo.jpg" alt=""
                                                        class="news-details__photo-slider-thumbnails-image">
                                                </div>
                                            </div>
                                           
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <p>В первый день агрофорума на круглом столе «Создание консорциума Agrotech и применение
                                цифровых технологий в сельском хозяйстве» они представили цифровые платформы «БАРС
                                Груп»,
                                которые улучшают функциональные возможности в сфере ветеринарии и сельского
                                хозяйства.
                            </p>
                            <p>Дискуссию вызвал вопрос оформления субсидий. Участники круглого стола высказали
                                мнение и
                                пожелания по доработке существующей подсистемы ИАС АПК «БАРС.Сельское хозяйство –
                                Субсидирование», обсудили упрощение приема документов и логику процесса их
                                согласования.
                                После доработки подсистемы сельхозтоваропроизводители смогут осуществлять подачу
                                документов
                                через <a href="#">«единое окно»</a>: разрабатывается процесс приема документов, в
                                результате которого
                                все
                                документы будут приниматься одним специалистом и далее распределяться по отделам
                                ведомства.
                            </p>



                            <blockquote>
                                <span class="icon icon-quotes">

                                </span>
                                <p>
                                    Данный фреймворк имеет большое комьюнити, хорошо развивается, и при разработке
                                    можно
                                    использовать тот подход, который больше нравится команде.
                                </p>
                                <p class="author">
                                    Святослав, Frontend-разработчик
                                </p>
                            </blockquote>


                            <h4>
                                Заголовок
                            </h4>
                            <p>
                                В ИАС АПК, реализованной на платформе для сбора отчетности «Своды», регулярно
                                собирается
                                80 отчетов по показателям сельскохозяйственного производства (по надоям,
                                урожайности,
                                площадям и другим), из них – 38 отраслевых отчета и 42 оперативных, составляемых по
                                240
                                315 показателям.
                            </p>


                            <ul>
                                <li>
                                    38 отраслевых отчета
                                </li>
                                <li>
                                    42 оперативных
                                </li>
                                <li>
                                    Министерство презентовало информационные системы, внедренные в республике, среди
                                    которых была разработка «БАРС Груп» – ИАС АПК
                                </li>
                            </ul>
                            <ol>
                                <li>
                                    38 отраслевых отчета
                                </li>
                                <li>
                                    42 оперативных
                                </li>
                                <li>
                                    Министерство презентовало информационные системы, внедренные в республике, среди
                                    которых была разработка «БАРС Груп» – ИАС АПК
                                </li>
                            </ol>


                            <h4>
                                Таблица 1.1
                            </h4>

                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            Заголовок 1-го столбца
                                        </th>
                                        <th>
                                            Заголовок 2-го столбца
                                        </th>
                                        <th>
                                            Заголовок 3-го столбца
                                        </th>
                                        <th>
                                            Заголовок 4-го столбца
                                        </th>
                                        <th>
                                            Заголовок 5-го столбца
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            К участию
                                        </td>
                                        <td>
                                            К участию
                                        </td>
                                        <td>
                                            К участию
                                        </td>
                                        <td>
                                            К участию
                                        </td>
                                        <td>
                                            К участию
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Приволжском агропромышленном
                                        </td>
                                        <td>
                                            Приволжском агропромышленном
                                        </td>
                                        <td>
                                            Приволжском агропромышленном
                                        </td>
                                        <td>
                                            Приволжском агропромышленном
                                        </td>
                                        <td>
                                            Приволжском агропромышленном
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            К участию
                                        </td>
                                        <td>
                                            К участию
                                        </td>
                                        <td>
                                            К участию
                                        </td>
                                        <td>
                                            К участию
                                        </td>
                                        <td>
                                            К участию
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Приволжском агропромышленном
                                        </td>
                                        <td>
                                            Приволжском агропромышленном
                                        </td>
                                        <td>
                                            Приволжском агропромышленном
                                        </td>
                                        <td>
                                            Приволжском агропромышленном
                                        </td>
                                        <td>
                                            Приволжском агропромышленном
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Форуме приглашались руководители сельскохозяйственных
                                            предприятий
                                        </td>
                                        <td>
                                            Форуме приглашались руководители сельскохозяйственных
                                            предприятий
                                        </td>
                                        <td>
                                            Форуме приглашались руководители сельскохозяйственных
                                            предприятий
                                        </td>
                                        <td>
                                            Форуме приглашались руководители сельскохозяйственных
                                            предприятий
                                        </td>
                                        <td>
                                            Форуме приглашались руководители сельскохозяйственных
                                            предприятий
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                            <p>
                                К участию в Приволжском агропромышленном форуме приглашались руководители
                                сельскохозяйственных предприятий, специалисты (агрономы, ветеринары, зоотехники,
                                механизаторы), представители власти  и профильных общественных объединений, НИИ и
                                другие
                                заинтересованные лица.
                            </p>

                        </div>
                        <nav class="news-details__sharing">
                            <span class="news-details__sharing-text">
                                Поделиться
                            </span>

                            <a href="#" class="news-details__sharing-item">
                                <i class="icon icon-facebook"></i>
                            </a>
                            <a href="#" class="news-details__sharing-item">
                                <i class="icon icon-twitter"></i>
                            </a>
                            <a href="#" class="news-details__sharing-item">
                                <i class="icon icon-instagram"></i>
                            </a>
                            <a href="#" class="news-details__sharing-item">
                                <i class="icon icon-vkontakte"></i>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="page__gap-120"></div>
    
    <section class="news-slider">
        <div class="page__center">
            <div class="page__inner">
                
                <div class="news-slider__center">

                    <h3 class="page__label news-slider__label">Другие новости</h3>
                    
                    <div class="page__col-main">

                        <div class="news-slider__content">
                            <div class="swiper-container js-news-slider">
                                <div class="swiper-wrapper">
                                    {{#repeat 2}}
                                    <div class="swiper-slide">
                                        <div class="article-cards__item">
                                            <a href="#" class="article-cards__image">
                                                <span class="article-cards__image__self" style="background-image: url(https://picsum.photos/id/1050/600/400.jpg);"></span>
                                            </a>
                                            <div class="article-cards__desc">
                                                <time class="article__date article-cards__date"
                                                    datetime="2019-01-17">17
                                                    января 2019</time>
                                                <h3 class="article-cards__h2">
                                                    <a href="#">Антону Алиханову представили мобильное приложение для дежурных врачей Калининграда</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="article-cards__item">
                                            <a href="#" class="article-cards__image">
                                                <span class="article-cards__image__self" style="background-image: url(https://picsum.photos/id/1049/600/400.jpg);"></span>
                                            </a>
                                            <div class="article-cards__desc">
                                                <time class="article__date article-cards__date"
                                                    datetime="2019-01-17">17
                                                    января 2019</time>
                                                <h3 class="article-cards__h2">
                                                    <a href="#">Регионы перенимают опыт Сахалинской области в решении медицинских проблем</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="article-cards__item">
                                            <a href="#" class="article-cards__image">
                                                <span class="article-cards__image__self" style="background-image: url(https://picsum.photos/id/1050/600/400.jpg);"></span>
                                            </a>
                                            <div class="article-cards__desc">
                                                <time class="article__date article-cards__date"
                                                    datetime="2019-01-17">17
                                                    января 2019</time>
                                                <h3 class="article-cards__h2">
                                                    <a href="#">Более 100 тысяч лицевых счетов региональных операторов ТКО рассчитывается в системе «Биллинговый центр» </a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="article-cards__item">
                                            <a href="#" class="article-cards__image">
                                                <span class="article-cards__image__self" style="background-image: url(https://picsum.photos/id/1051/600/400.jpg);"></span>
                                            </a>
                                            <div class="article-cards__desc">
                                                <time class="article__date article-cards__date"
                                                    datetime="2019-01-17">17
                                                    января 2019</time>
                                                <h3 class="article-cards__h2">
                                                    <a href="#">«Цифровые» итоги недели</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    {{/repeat}}
                                </div>

                            </div>

                        </div>

                        <div class="clearfix">
                            <div class="news-slider__ctrl">
                                <a href="#" class="arrow-both-circle__prev js-news-slider--prev"></a>
                                <a href="#" class="arrow-both-circle__next js-news-slider--next"></a>
                            </div>
                        </div>
                        
                    </div>

                </div>

            </div>
        </div>
    </section>


    {{> footer }}

</div>

{{> nav-mobile }}
{{> hello }}