---
title: Цифровое портфолио
layout: default.hbs
---

<div class="page__wrapper" id="wrapper">

	<header class="header" id="header">
		
		{{> header-top-line }}

		<div class="brand-box brand-box--has-label">
			<div class="page__center">
				<div class="page__inner">
					<div class="brand-box__inner">
						<div class="brand-box__image">
							<img src="img/barsgroup.svg" alt="" width="151" height="63">
						</div>
						<div class="brand-box__desc">
							<div class="page__label">Цифровое портфолио</div>
						</div>
					</div>
					<div class="brand-box__text-2">
						Искусственный интеллект, поддержка принятия врачебных решений при назначении лекарственных средств
					</div>
				</div>
			</div>
		</div>

	</header>
	

	<div class="portfolio" id="portfolio">
		<div class="page__center">
			<div class="page__inner">

				<div class="clearfix">
					<div class="page__col-side">
						
						{{!--  nav-side --}}
						<nav class="nav-side portfolio__nav-side">
							<div class="nav-side__list">
								<div class="nav-side__item --active">
									<a href="#" class="nav-side__link">
										<span class="nav-side__text">По отраслям</span>
									</a>
								</div>
								<div class="nav-side__item">
									<a href="#" class="nav-side__link">
										<span class="nav-side__text">По названию</span>
									</a>
								</div>
							</div>
						</nav>
						{{!-- /nav-side --}}
						
					</div>
					<div class="page__col-main">
						
						<form class="form tPortfolioSearch__form jsOffsetRight">
							<div class="tPortfolioSearch__input-wrapper">
								<input class="tPortfolioSearch__input" type="text" name="" value="" placeholder="Поиск новостей" />
							</div>

							<div class="tPortfolioSearch__choose scrollable-content dragscroll">
								<div class="tPortfolioSearch__lang">
									<a href="#">А</a>
									<a href="#">Б</a>
									<a href="#">В</a>
									<a href="#">Г</a>
									<a href="#">Д</a>
									<a href="#">Е</a>
									<a href="#">Ё</a>
									<a href="#">Ж</a>
									<a href="#">З</a>
									<a href="#">И</a>
									<a href="#">Й</a>
									<a href="#">К</a>
									<a href="#">Л</a>
									<a href="#">М</a>
									<a href="#">Н</a>
									<a href="#">О</a>
									<a href="#">П</a>
									<a href="#">Р</a>
									<a href="#">С</a>
									<a href="#">Т</a>
									<a href="#">У</a>
									<a href="#">Ф</a>
									<a href="#">Х</a>
									<a href="#">Ц</a>
									<a href="#">Ч</a>
									<a href="#">Ш</a>
									<a href="#">Щ</a>
									<a href="#">Ъ</a>
									<a href="#">Ы</a>
									<a href="#">Ь</a>
									<a href="#">Э</a>
									<a href="#">Ю</a>
									<a href="#">Я</a>
								</div>

								<div class="tPortfolioSearch__lang">
									<a href="#">A</a>
									<a href="#">B</a>
									<a href="#">C</a>
									<a href="#">D</a>
									<a href="#">E</a>
									<a href="#">F</a>
								</div>
							</div>
						</form>

						<div class="tPortfolioSearch__results tPortfolioSearchResults">
							<div class="tPortfolioSearchResults__item">
								<span class="tPortfolioSearchResults__letter">А</span>

								<div class="tPortfolioSearchResults__list">
									<a href="#">Безопасность детей</a>
									<a href="#">Бизнес аналитика</a>
									<a href="#">Биллинговый центр</a>
								</div>
							</div>

							<div class="tPortfolioSearchResults__item">
								<span class="tPortfolioSearchResults__letter">Б</span>

								<div class="tPortfolioSearchResults__list">
									<a href="#">Безопасность детей</a>
									<a href="#">Бизнес аналитика</a>
									<a href="#">Биллинговый центр</a>
								</div>
							</div>

							<div class="tPortfolioSearchResults__item">
								<span class="tPortfolioSearchResults__letter">В</span>

								<div class="tPortfolioSearchResults__list">
									<a href="#">Безопасность детей</a>
									<a href="#">Бизнес аналитика</a>
									<a href="#">Биллинговый центр</a>
								</div>
							</div>

							<div class="tPortfolioSearchResults__item">
								<span class="tPortfolioSearchResults__letter">Г</span>

								<div class="tPortfolioSearchResults__list">
									<a href="#">Безопасность детей</a>
									<a href="#">Бизнес аналитика</a>
									<a href="#">Биллинговый центр</a>
									<a href="#">Безопасность детей</a>
									<a href="#">Бизнес аналитика</a>
									<a href="#">Биллинговый центр</a>
								</div>
							</div>

							<div class="tPortfolioSearchResults__item">
								<span class="tPortfolioSearchResults__letter">Д</span>

								<div class="tPortfolioSearchResults__list">
									<a href="#">Биллинговый центр</a>
								</div>
							</div>

							<div class="tPortfolioSearchResults__item">
								<span class="tPortfolioSearchResults__letter">Е</span>

								<div class="tPortfolioSearchResults__list">
									<a href="#">Безопасность детей</a>
									<a href="#">Бизнес аналитика</a>
									<a href="#">Биллинговый центр</a>
									<a href="#">Бизнес аналитика</a>
									<a href="#">Биллинговый центр</a>
								</div>
							</div>

							<div class="tPortfolioSearchResults__item">
								<span class="tPortfolioSearchResults__letter">Ё</span>

								<div class="tPortfolioSearchResults__list">
									<a href="#">Безопасность детей</a>
									<a href="#">Бизнес аналитика</a>
								</div>
							</div>

							<div class="tPortfolioSearchResults__item">
								<span class="tPortfolioSearchResults__letter">Ж</span>

								<div class="tPortfolioSearchResults__list">
									<a href="#">Безопасность детей</a>
									<a href="#">Бизнес аналитика</a>
									<a href="#">Биллинговый центр</a>
									<a href="#">Безопасность детей</a>
									<a href="#">Бизнес аналитика</a>
									<a href="#">Биллинговый центр</a>
									<a href="#">Безопасность детей</a>
									<a href="#">Бизнес аналитика</a>
									<a href="#">Биллинговый центр</a>
								</div>
							</div>

							<div class="tPortfolioSearchResults__item">
								<span class="tPortfolioSearchResults__letter">A</span>

								<div class="tPortfolioSearchResults__list">
									<a href="#">Безопасность детей</a>
								</div>
							</div>

							<div class="tPortfolioSearchResults__item">
								<span class="tPortfolioSearchResults__letter">B</span>

								<div class="tPortfolioSearchResults__list">
									<a href="#">Бизнес аналитика</a>
									<a href="#">Биллинговый центр</a>
								</div>
							</div>

							<div class="tPortfolioSearchResults__item">
								<span class="tPortfolioSearchResults__letter">C</span>

								<div class="tPortfolioSearchResults__list">
									<a href="#">Безопасность детей</a>
									<a href="#">Бизнес аналитика</a>
									<a href="#">Биллинговый центр</a>
									<a href="#">Безопасность детей</a>
									<a href="#">Бизнес аналитика</a>
									<a href="#">Биллинговый центр</a>
								</div>
							</div>

							<div class="tPortfolioSearchResults__item">
								<span class="tPortfolioSearchResults__letter">D</span>

								<div class="tPortfolioSearchResults__list">
									<a href="#">Безопасность детей</a>
									<a href="#">Бизнес аналитика</a>
									<a href="#">Биллинговый центр</a>
									<a href="#">Бизнес аналитика</a>
								</div>
							</div>

							<div class="tPortfolioSearchResults__item">
								<span class="tPortfolioSearchResults__letter">E</span>

								<div class="tPortfolioSearchResults__list">
									<a href="#">Безопасность детей</a>
									<a href="#">Бизнес аналитика</a>
									<a href="#">Биллинговый центр</a>
									<a href="#">Бизнес аналитика</a>
									<a href="#">Биллинговый центр</a>
								</div>
							</div>

							<div class="tPortfolioSearchResults__item">
								<span class="tPortfolioSearchResults__letter">F</span>

								<div class="tPortfolioSearchResults__list">
									<a href="#">Безопасность детей</a>
								</div>
							</div>

							<div class="tPortfolioSearchResults__item">
								<span class="tPortfolioSearchResults__letter">G</span>

								<div class="tPortfolioSearchResults__list">
									<a href="#">Безопасность детей</a>
									<a href="#">Бизнес аналитика</a>
									<a href="#">Биллинговый центр</a>
								</div>
							</div>
						</div>

					</div>
				</div>


			</div>
		</div>
	</div>

	{{> footer }}

</div>
