---
title: Поиск
layout: default.hbs
---

<div class="page__wrapper" id="wrapper">

	{{> header }}

	<div class="brand-box brand-box--has-label">
		<div class="page__center">
			<div class="page__inner">
				<div class="brand-box__inner">
					<div class="brand-box__image">
						<img src="img/barsgroup.svg" alt="" width="151" height="63">
					</div>
					<div class="brand-box__desc">
						<div class="page__label page__label--small">Поиск</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page__center">
		<div class="page__inner">
			
			<div class="clearfix">
				<div class="page__col-side">
					<div class="search__sorting">
						<a href="#" class="search__sorting-btn active">
							По релевантности
						</a>
						<a href="#" class="search__sorting-btn">
							По дате
						</a>
					</div>
				</div>
				<div class="page__col-main">
		
					<div class="search">
						<form class="search__form">

							<div class="search__input">
								<input type="text" class="search__input__field js-form-input">
								<div class="search__input__label">Поиск по названию</div>
							</div>

							<div class="search__example">
								Искать вместо этого: <span>барс групп</span>
							</div>

						</form>
					</div>

					<div class="tSiteSearch__results tSiteSearchResults">
						<div class="tSiteSearchResults__wrapper">
							<p class="tSiteSearchResults__subtitle tBlocks__subtitle">
								Отрасли
							</p>

							<div class="tSiteSearchResults__item-wrapper">
								<div class="tSiteSearchResults__item">
									<div class="tSiteSearchResults__content">
										<p class="tSiteSearchResults__title">
											<a href="#">Здравоохранение</a>
										</p>
									</div>
								</div>
							</div>
						</div>

						<div class="tSiteSearchResults__wrapper">
							<p class="tSiteSearchResults__subtitle tBlocks__subtitle">
								Проекты
							</p>

							<div class="tSiteSearchResults__item-wrapper">
								<div class="tSiteSearchResults__item">
									<div class="tSiteSearchResults__content">
										<p class="tSiteSearchResults__title">
											<a href="#">Анализ работы в сфере здравоохранения</a>
										</p>
									</div>
								</div>

								<div class="tSiteSearchResults__item">
									<div class="tSiteSearchResults__content">
										<p class="tSiteSearchResults__title">
											<a href="#">Анализ работы в сфере здравоохранения</a>
										</p>
									</div>
								</div>
							</div>
						</div>

						<div class="tSiteSearchResults__wrapper">
							<p class="tSiteSearchResults__subtitle tBlocks__subtitle">
								Кейсы
							</p>

							<div class="tSiteSearchResults__item-wrapper">
								<div class="tSiteSearchResults__item">
									<div class="tSiteSearchResults__content">
										<p class="tSiteSearchResults__title">
											<a href="#">Министерство здравоохранения Российской Федерации</a>
										</p>
									</div>
								</div>

								<div class="tSiteSearchResults__item">
									<div class="tSiteSearchResults__content">
										<p class="tSiteSearchResults__title">
											<a href="#">Министерство здравоохранения Российской Федерации</a>
										</p>
									</div>
								</div>
							</div>
						</div>

						<div class="tSiteSearchResults__wrapper tSiteSearchResults__wrapper--news">
							<p class="tSiteSearchResults__subtitle tBlocks__subtitle">
								Новости
							</p>

							<div class="tSiteSearchResults__item-wrapper">
								<div class="tSiteSearchResults__item">
									<div class="tSiteSearchResults__content">
										<p class="tSiteSearchResults__title">
											<a href="#">Геннадий Никитин: "Внешних ограничений для развития
											телемедицины в коммерческом сегменте сейчас нет"</a> <span class="tSiteSearchResults__date">25.02.2019</span>
										</p>

										<p class="tSiteSearchResults__intro">
											...важных показателей у пациентов с хроническими
											заболеваниями. В 2018 году заложена основа для
											шестилетного развития информационных сервисов в
											здравоохранении в рамках национального проекта
											<b>"Здравоохранение"</b> в виде создания паспорта
											федерального проекта "Цифровой контур", который...
										</p>
									</div>
								</div>

								<div class="tSiteSearchResults__item">
									<div class="tSiteSearchResults__content">
										<p class="tSiteSearchResults__title">
											<a href="#">Геннадий Никитин: "Внешних ограничений для развития
											телемедицины в коммерческом сегменте сейчас нет"</a> <span class="tSiteSearchResults__date">25.02.2019</span>
										</p>

										<p class="tSiteSearchResults__intro">
											...важных показателей у пациентов с хроническими
											заболеваниями. В 2018 году заложена основа для
											шестилетного развития информационных сервисов в
											здравоохранении в рамках национального проекта
											<b>"Здравоохранение"</b> в виде создания паспорта
											федерального проекта "Цифровой контур", который...
										</p>
									</div>
								</div>

								<div class="tSiteSearchResults__item">
									<div class="tSiteSearchResults__content">
										<p class="tSiteSearchResults__title">
											<a href="#">Геннадий Никитин: "Внешних ограничений для развития
											телемедицины в коммерческом сегменте сейчас нет"</a> <span class="tSiteSearchResults__date">25.02.2019</span>
										</p>

										<p class="tSiteSearchResults__intro">
											...важных показателей у пациентов с хроническими
											заболеваниями. В 2018 году заложена основа для
											шестилетного развития информационных сервисов в
											здравоохранении в рамках национального проекта
											<b>"Здравоохранение"</b> в виде создания паспорта
											федерального проекта "Цифровой контур", который...
										</p>
									</div>
								</div>
							</div>
						</div>

						<div class="tSiteSearchResults__wrapper">
							<p class="tSiteSearchResults__subtitle tBlocks__subtitle">
								Теги
							</p>

							<div class="tSiteSearchResults__item-wrapper">
								<div class="tSiteSearchResults__item">
									<div class="tSiteSearchResults__content">
										<p class="tSiteSearchResults__title">
											<a href="#">Здравоохранение</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="tSiteSearch__news tSiteSearchNews">
						<div>
							<div class="tSiteSearchNews__wrapper">
								<a href="#" class="page__click"></a>

								<div class="tSiteSearchNews__thumb-wrapper">
									<div class="tSiteSearchNews__thumb" style="background-image: url('https://bujinfo.am/wp-content/uploads/2018/10/osteogoodhealth_md-1.jpg');"></div>
								</div>

								<div class="tSiteSearchNews__content">
									<p class="tSiteSearchNews__date">
										17 января 2019
									</p>

									<p class="tSiteSearchNews__title tSiteSearchResults__title">
										<a href="#">Социальный регистр от "Барс ГРУПП" победил во всероссийском конкурсе</a>
									</p>
								</div>
							</div>

							<div class="tSiteSearchNews__wrapper">
								<a href="#" class="page__click"></a>

								<div class="tSiteSearchNews__thumb-wrapper">
									<div class="tSiteSearchNews__thumb" style="background-image: url('https://images.wallpaperscraft.ru/image/dnk_spiral_genetika_132693_2048x1152.jpg');"></div>
								</div>

								<div class="tSiteSearchNews__content">
									<p class="tSiteSearchNews__date">
										18 января 2019
									</p>

									<p class="tSiteSearchNews__title tSiteSearchResults__title">
										<a href="#">"Барс ГРУПП" представила свои разработки Госсовету РФ</a>
									</p>
								</div>
							</div>

							<div class="tSiteSearchNews__wrapper">
								<a href="#" class="page__click"></a>

								<div class="tSiteSearchNews__thumb-wrapper"></div>

								<div class="tSiteSearchNews__content">
									<p class="tSiteSearchNews__date">
										17 января 2019
									</p>

									<p class="tSiteSearchNews__title tSiteSearchResults__title">
										<a href="#">Социальный регистр от "Барс ГРУПП" победил во всероссийском конкурсе</a>
									</p>
								</div>
							</div>

							<div class="tSiteSearchNews__wrapper">
								<a href="#" class="page__click"></a>

								<div class="tSiteSearchNews__thumb-wrapper">
									<div class="tSiteSearchNews__thumb" style="background-image: url('https://picsum.photos/id/304/410/300.jpg');"></div>
								</div>

								<div class="tSiteSearchNews__content">
									<p class="tSiteSearchNews__date">
										20 января 2019
									</p>

									<p class="tSiteSearchNews__title tSiteSearchResults__title">
										<a href="#">Социальный регистр от "Барс ГРУПП" победил во всероссийском конкурсе</a>
									</p>
								</div>
							</div>
						</div>

						<div class="tSiteSearchNews__nav">
							<a href="#" class="active">1</a>
							<a href="#">2</a>
							<a href="#">3</a>
							<a href="#">4</a>
							<a href="#">5</a>
							<a href="#" class="earlier">ранее</a>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
	

	{{> footer }}

</div>

{{> nav-mobile }}
