
<style type="text/css">
	
	.filelist {
		position: fixed;
		z-index: 999999;
		top: 0;
		left: 0;
		font-size: 18px;
		color: #fff;
	}

	.filelist__tip {
		padding: 10px 20px 20px 20px !important;
		max-width: 200px;
		font-size: 12px;
		line-height: 1.4;
	}

	.filelist._hidden {
		display: none;
	}

	.filelist._active div {
		display: block;
	}

	.filelist span {
		display: inline-block;
		padding: 9px 20px;
		background: #000;
	}

	.filelist div {
		display: none;
		padding: 9px 0;
		background: #000;
	}

	.filelist div a {
		display: block;
		padding: 9px 20px;
		color: #fff !important;
	}

	.filelist div a:hover {
		background: rgba(0,0,0, .1);
	}
	

</style>

<script type="text/javascript">
	
	(function () {

		var Filelist = {

			createHtml: function () {

				var $filelist = $('<div class="filelist">' +
						'<span></span>' +
						'<div class="filelist__tip">Щелкните мышкой дважды в любом месте, чтобы скрыть или показать.</div>' +
					'</div>'),

					$label = $filelist.find('span'); 

				$.ajax('filelist.json', {cache: false})
					.done(function (data) {
						$label.text('Pages count: ' + data.length);

						var $body = $('<div></div>');
						data.forEach(function (filename) {
							$('<a href="' + filename + '">' + 
								filename + 
							'</a>').appendTo($body);
						});
						$body.insertAfter($label);
					})
					.fail(function () {
						$label.text('Filelist failed.');
					})
					.always(function () {
						$filelist.appendTo($('body'));
					});

			},

			_handleSpanClick: function (e) {
				var self = e.data.self;

				$('.filelist').toggleClass('_active');
			},

			_handleDocumentClick: function (e) {
				var self = e.data.self;

				if ( $(e.target).closest('.filelist').length > 0 ) return;
				$('.filelist').removeClass('_active');
			},

			_handleDoubleClick: function (e) {
				var self = e.data.self;

				$('.filelist').toggleClass('_hidden');
			},

			_bindUI: function () {
				var self = this;

				$(document).on('dblclick', {self: self}, self._handleDoubleClick);
				$(document).on('click', '.filelist > span', {self: self}, self._handleSpanClick);
				$(document).on('click', {self: self}, self._handleDocumentClick);
			},

			init: function () {
				var self = this;

				self._bindUI();
				self.createHtml();
			}

		};

		Filelist.init();

	}());

</script>