<footer class="footer">
	<div class="page__center">
		<div class="page__inner">
			
			<div class="footer__line">
				
				<div class="footer__logo">
					<div class="footer__logo__size">
						<img src="img/barsgroup.svg" alt="" width="151" height="63">
					</div>
				</div>

				<div class="footer__rest">
					<nav class="footer__menu">
						<div class="footer__menu__col">
							<div class="footer__menu__title">О компании</div>
							<div class="footer__menu__list">
								<div class="footer__menu__item">
									<a href="#">О нас</a>
								</div>
								<div class="footer__menu__item">
									<a href="#">Партнеры</a>
								</div>
								<div class="footer__menu__item">
									<a href="#">История компании</a>
								</div>
								<div class="footer__menu__item">
									<a href="#">Руководство</a>
								</div>
							</div>
						</div>
						<div class="footer__menu__col">
							<div class="footer__menu__title">Цифровое портфолио</div>
							<div class="footer__menu__list">
								<div class="footer__menu__item">
									<a href="#">Здравоохранение</a>
								</div>
								<div class="footer__menu__item">
									<a href="#">Образование</a>
								</div>
								<div class="footer__menu__item">
									<a href="#">Сельское хозяйство</a>
								</div>
								<div class="footer__menu__item">
									<a href="#">Транспорт и логистика</a>
								</div>
								<div class="footer__menu__item">
									<a href="#">Производство</a>
								</div>
								<div class="footer__menu__item">
									<a href="#">Умный город</a>
								</div>
								<div class="footer__menu__item">
									<a href="#">Соц. защита и ЖКХ</a>
								</div>
								<div class="footer__menu__item">
									<a href="#">Финансы</a>
								</div>
							</div>
						</div>
						<div class="footer__menu__col">
							<div class="footer__menu__title">
								<a href="#">Технологии</a>
							</div>
							<div class="footer__menu__title">
								<a href="#">Пресс-центр</a>
							</div>
							<div class="footer__menu__title">
								<a href="#">Карьера</a>
							</div>
							<div class="footer__menu__title">
								<a href="#">Контакты</a>
							</div>
						</div>
					</nav>

					<div class="footer__find">
						<div class="footer__place">
							420012 г. Казань, ул. Некрасова, 9. <br>
							Бизнес-центр «На Некрасова»
						</div>
						<div class="footer__phone">
							<a href="tel:88005000191">8 800 5000 191</a>
						</div>
						<div class="footer__email">
							<a href="#">bars@bars.group</a>
						</div>

						<nav class="nav-social footer__social">
							<a href="#" class="nav-social__item">
								<i class="icon icon-vkontakte"></i>
							</a>
							<a href="#" class="nav-social__item">
								<i class="icon icon-odnoklassniki"></i>
							</a>
							<a href="#" class="nav-social__item">
								<i class="icon icon-instagram"></i>
							</a>
							<a href="#" class="nav-social__item">
								<i class="icon icon-linkedin"></i>
							</a>
						</nav>

					</div>
				</div>

			</div>

			<div class="footer__line">

				<div class="footer__logo footer__logo--for-info">
					<div class="footer__logo__size"></div>
				</div>

				<div>
					<div class="footer__info">
						<div class="footer__info__item">© 2018 АО «БАРС Груп»</div>
						<div class="footer__info__item">
							<a href="#">Политика конфиденциальности</a>
						</div>
					</div>

					<a href="http://markweber.ru" class="footer__dev">
						Сделано в <i class="footer__dev__logo"></i>
					</a>
				</div>
			</div>

		</div>
	</div>
</footer>