<aside class="hello hello--active" id="hello">
	<div class="hello__logo">
		<div class="brand-box__image">
			<img src="img/barsgroup.svg" alt="">
		</div>
	</div>
	<div class="hello__line"></div>
</aside>
