<aside class="nav-mobile" id="nav-mobile">
	<div class="nav-mobile__layer js-nav-mobile-close"></div>
	<div class="nav-mobile__side">

		<div class="nav-mobile__side__inner">
			<div class="nav-mobile__header">
				<div class="page__inner">
					<a href="#" class="nav-mobile__close js-nav-mobile-close"></a>
				</div>
			</div>
			<div class="nav-mobile__search">
				<form action="search.html" class="form-search">
					<div class="input-brianna form-search__input">
						<input type="text" class="input-brianna__field js-form-input form-search__field">
						<div class="input-brianna__label">Поиск по сайту</div>
						<button type="submit" class="form-search__submit">
							<i class="icon icon-search"></i>
						</button>
					</div>
				</form>
			</div>
			<div class="nav-mobile__body">
				<div class="page__inner">

					<nav class="nav-mobile__menu">
						<div class="nav-mobile__menu__item">
							<a href="about.html">О компании</a>
						</div>
						<div class="nav-mobile__menu__item">
							<a href="portfolio.html">Цифровое портфолио</a>
						</div>
						<div class="nav-mobile__menu__item">
							<a href="technologies.html">Технологии</a>
						</div>
						<div class="nav-mobile__menu__item">
							<a href="news.html">Пресс-центр</a>
						</div>
						<div class="nav-mobile__menu__item">
							<a href="career.html">Карьера</a>
						</div>
						<div class="nav-mobile__menu__item">
							<a href="contacts.html">Контакты</a>
						</div>
					</nav>
					<a href="#" class="nav-mobile__popup-link button-aurora js-hover-wings js-popup-open" data-src="#form-popup">
						<span class="button-aurora__text">
							Оставить заявку
						</span>
						<i class="arrow-ciara button-aurora__icon">
							<span></span>
						</i>
					</a>
					<div class="footer__find nav-mobile__find">
						<div class="footer__place">
							420012 г. Казань, ул. Некрасова, 9. <br>
							Бизнес-центр «На Некрасова»
						</div>
						<div class="footer__phone">
							<a href="tel:88005000191">8 800 5000 191</a>
						</div>
						<div class="footer__email">
							<a href="#">bars@bars.group</a>
						</div>

						<nav class="nav-social footer__social">
							<a href="#" class="nav-social__item">
								<i class="icon icon-vkontakte"></i>
							</a>
							<a href="#" class="nav-social__item">
								<i class="icon icon-odnoklassniki"></i>
							</a>
							<a href="#" class="nav-social__item">
								<i class="icon icon-instagram"></i>
							</a>
							<a href="#" class="nav-social__item">
								<i class="icon icon-linkedin"></i>
							</a>
						</nav>

					</div>

				</div>



			</div>
		</div>



	</div>
</aside>