<section class="news" id="news">
	<div class="page__center">
		<div class="page__inner">

			<div class="news__center">
				
				<h3 class="page__label news__label">Новости</h3>
				
				<div class="news__slider">
					<div class="news__list owl-carousel">
						<div class="news__item --active">
							<time class="news__date" datetime="2019-01-28" pubdate>28 января 2019</time>
							<h3  class="news__title">
								<a href="#">Ространснадзор будет рассчитывать риски в цифровом сервисе, разработанном «БАРС Груп»</a>
							</h3>
							<div class="news__desc">
								В результате обновлений платформа перешла на российскую СУБД PostgreSQL, платформа перешла на российскую СУБД PostgreSQL.
							</div>
						</div>
						<div class="news__item">
							<time class="news__date" datetime="2019-01-28" pubdate>17 января 2019</time>
							<h3  class="news__title">
								<a href="#">«БАРС Груп» выпустила новый релиз платформы «Своды»</a>
							</h3>
							<div class="news__desc">
								В результате обновлений платформа перешла на российскую СУБД PostgreSQL, платформа перешла на российскую СУБД PostgreSQL.
							</div>
						</div>
						<div class="news__item">
							<time class="news__date" datetime="2019-01-28" pubdate>17 января 2019</time>
							<h3  class="news__title">
								<a href="#">Темнокожий хоккеист переоделся в женский купальник ко Дню независимости США</a>
							</h3>
							<div class="news__desc">
								В результате обновлений платформа перешла на российскую СУБД PostgreSQL, платформа перешла на российскую СУБД PostgreSQL.
							</div>
						</div>
						<div class="news__item">
							<time class="news__date" datetime="2019-01-28" pubdate>17 января 2019</time>
							<h3  class="news__title">
								<a href="#">Сотрудники авиакомпании подвергли женщину в инвалидном кресле унижениям</a>
							</h3>
							<div class="news__desc">
								В результате обновлений платформа перешла на российскую СУБД PostgreSQL, платформа перешла на российскую СУБД PostgreSQL.
							</div>
						</div>
						<div class="news__item">
							<time class="news__date" datetime="2019-01-28" pubdate>17 января 2019</time>
							<h3  class="news__title">
								<a href="#">Джеймса Франко вовлекли в дело об избиении Эмбер Херд Джонни Деппом</a>
							</h3>
							<div class="news__desc">
								В результате обновлений платформа перешла на российскую СУБД PostgreSQL, платформа перешла на российскую СУБД PostgreSQL.
							</div>
						</div>
						<div class="news__item">
							<time class="news__date" datetime="2019-01-28" pubdate>17 января 2019</time>
							<h3  class="news__title">
								<a href="#">Исламская страна запретила женщинам покрывать лица в госучреждениях</a>
							</h3>
							<div class="news__desc">
								В результате обновлений платформа перешла на российскую СУБД PostgreSQL, платформа перешла на российскую СУБД PostgreSQL.
							</div>
						</div>
					</div>
				</div>

				<div class="arrow-both-circle arrow-both-circle--white news__ctrl">
					<a href="#" class="arrow-both-circle__prev js-news-prev"></a>
					<a href="#" class="arrow-both-circle__next js-news-next"></a>
				</div>

			</div>

		</div>
	</div>
</section>