<section class="news" id="news">
	<div class="page__center">
		<div class="page__inner">

			<div class="news__center">
				
				<h3 class="page__label news__label">Новости</h3>
				
				<div class="news__slider">
					<div class="news__list">
						<div class="news__item --active">
							<time class="news__date" datetime="2019-01-28" pubdate>28 января 2019</time>
							<h3  class="news__title">
								Ространснадзор будет рассчитывать риски в цифровом сервисе, разработанном «БАРС Груп»
							</h3>
							<div class="news__desc">
								В результате обновлений платформа перешла на российскую СУБД PostgreSQL, платформа перешла на российскую СУБД PostgreSQL.
							</div>
						</div>
						{{#repeat 10}}
						<div class="news__item">
							<time class="news__date" datetime="2019-01-28" pubdate>17 января 2019</time>
							<h3  class="news__title">
								«БАРС Груп» выпустила новый релиз платформы «Своды»
							</h3>
							<div class="news__desc">
								В результате обновлений платформа перешла на российскую СУБД PostgreSQL, платформа перешла на российскую СУБД PostgreSQL.
							</div>
						</div>
						{{/repeat}}
					</div>
				</div>

				<div class="arrow-both-circle arrow-both-circle--white news__buttons">
					<a href="#" class="arrow-both-circle__prev js-news-prev"></a>
					<a href="#" class="arrow-both-circle__next js-news-next"></a>
				</div>

			</div>

		</div>
	</div>
</section>