<section class="overview" id="overview">
	<div class="overview__bg">
		<div class="overview__bg__item _default">
			<div class="overview__bg__image js-imager-box">
				<img data-src="img/overview/winter-{width}{pixel_ratio}.jpg" alt="">
			</div>
			<video class="overview__bg__video" preload="none" loop muted playsinline>
				<source src="data/video/winter.mp4" type="video/mp4">
			</video>
		</div>
		<div class="overview__bg__item">
			<div class="overview__bg__image js-imager-box">
				<img data-src="img/overview/education-{width}{pixel_ratio}.jpg" alt="">
			</div>
		</div>
		<div class="overview__bg__item">
			<div class="overview__bg__image js-imager-box">
				<img data-src="img/overview/agriculture-{width}{pixel_ratio}.jpg" alt="">
			</div>
		</div>
		<div class="overview__bg__item">
			<div class="overview__bg__image js-imager-box">
				<img data-src="img/overview/smart-city-{width}{pixel_ratio}.jpg" alt="">
			</div>
		</div>
		<div class="overview__bg__item">
			<div class="overview__bg__image js-imager-box">
				<img data-src="img/overview/transport-{width}{pixel_ratio}.jpg" alt="">
			</div>
		</div>
		<div class="overview__bg__item">
			<div class="overview__bg__image js-imager-box">
				<img data-src="img/overview/social-{width}{pixel_ratio}.jpg" alt="">
			</div>
		</div>
		<div class="overview__bg__item">
			<div class="overview__bg__image js-imager-box">
				<img data-src="img/overview/finance-{width}{pixel_ratio}.jpg" alt="">
			</div>
		</div>
		<div class="overview__bg__item">
			<div class="overview__bg__image js-imager-box">
				<img data-src="img/overview/factory-{width}{pixel_ratio}.jpg" alt="">
			</div>
		</div>
	</div>
	<div class="page__center">
		<div class="page__inner">
			<div class="overview__center">

				<h3 class="page__label overview__label">Цифровое портфолио</h3>

				<div class="overview__nav">
					<div class="overview__nav__list">
						<div class="overview__nav__item _active">
							<a href="#" class="overview__nav__link">
								<i class="overview__nav__icon">
									<img src="img/overview/icons/color/plus.svg" alt="">
								</i>
								<i class="overview__nav__icon overview__nav__icon--white">
									<img src="img/overview/icons/white/plus.svg" alt="">
								</i>
								Здравоохранение
							</a>
							<div class="overview__nav__body collapse show">
								<div class="overview__title">
									Национальные цели и задачи, стоящие перед Россией, вдохновили «БАРС Груп»
								</div>
								<div class="overview__desc">
									Ключевым фактором успешного выполнения задач — внедрение и использование цифровых сервисов в ежедневную медицинскую практику.
									<a href="#" class="arrow-right-thin overview__arrow">
										<span></span>
									</a>
								</div>
							</div>
						</div>
						<div class="overview__nav__item">
							<a href="#" class="overview__nav__link">
								<i class="overview__nav__icon">
									<img src="img/overview/icons/color/study.svg" alt="">
								</i>
								<i class="overview__nav__icon overview__nav__icon--white">
									<img src="img/overview/icons/white/study.svg" alt="">
								</i>
								Образование
							</a>
							<div class="overview__nav__body collapse">
								<div class="overview__title">
									«БАРС Груп» расширила возможности платформы бизнес-аналитики Alpha BI
								</div>
								<div class="overview__desc">
									Основной акцент в версии 4.2 сделан на удобный экспорт и импорт объектов с одного экземпляра Alpha BI на другой без необходимости повторной разработки и настройки одних и тех же объектов на разных экземплярах системы.
									<a href="#" class="arrow-right-thin overview__arrow">
										<span></span>
									</a>
								</div>
							</div>
						</div>
						<div class="overview__nav__item">
							<a href="#" class="overview__nav__link overview__nav__link--wheat">
								<i class="overview__nav__icon">
									<img src="img/overview/icons/color/wheat.svg" alt="">
								</i>
								<i class="overview__nav__icon overview__nav__icon--white">
									<img src="img/overview/icons/white/wheat.svg" alt="">
								</i>
								Сельское хозяйство
							</a>
							<div class="overview__nav__body collapse">
								<div class="overview__title">
									Результатом стало ускорение работы системы
								</div>
								<div class="overview__desc">
									Для ускорения системы была проведена ее оптимизация, появились новые удобства в части настройки веб-приложений, было добавлено большое количество пользовательских параметров: среди уникальных нововведений.
									<a href="#" class="arrow-right-thin overview__arrow">
										<span></span>
									</a>
								</div>
							</div>
						</div>
						<div class="overview__nav__item">
							<a href="#" class="overview__nav__link overview__nav__link--city">
								<i class="overview__nav__icon">
									<img src="img/overview/icons/color/city.svg" alt="">
								</i>
								<i class="overview__nav__icon overview__nav__icon--white">
									<img src="img/overview/icons/white/city.svg" alt="">
								</i>
								Умный город
							</a>
							<div class="overview__nav__body collapse">
								<div class="overview__title">
									Компания движется в сторону импортозамещения
								</div>
								<div class="overview__desc">
									Среди прочих обновлений: добавлена возможность скачивания изображений в формах, открытых в режиме чтения, расширены вариации отображения и выгрузки печатных форм и другие.
									<a href="#" class="arrow-right-thin overview__arrow">
										<span></span>
									</a>
								</div>
							</div>
						</div>
						<div class="overview__nav__item">
							<a href="#" class="overview__nav__link overview__nav__link--car">
								<i class="overview__nav__icon">
									<img src="img/overview/icons/color/car.svg" alt="">
								</i>
								<i class="overview__nav__icon overview__nav__icon--white">
									<img src="img/overview/icons/white/car.svg" alt="">
								</i>
								Транспорт и логистика
							</a>
							<div class="overview__nav__body collapse">
								<div class="overview__title">
									В дальнейшем планируются работы по переходу
								</div>
								<div class="overview__desc">
									Исправлено поведение системы при работе с формами, в которых изменена метаструктура: в случае, если пользователи уже заполнили данные, то ее изменение не приведет к их потере.
									<a href="#" class="arrow-right-thin overview__arrow">
										<span></span>
									</a>
								</div>
							</div>
						</div>
						<div class="overview__nav__item">
							<a href="#" class="overview__nav__link overview__nav__link--settings">
								<i class="overview__nav__icon">
									<img src="img/overview/icons/color/settings.svg" alt="">
								</i>
								<i class="overview__nav__icon overview__nav__icon--white">
									<img src="img/overview/icons/white/settings.svg" alt="">
								</i>
								ЖКХ и Соц. защита
							</a>
							<div class="overview__nav__body collapse">
								<div class="overview__title">
									Модуль был переписан на внутреннюю
								</div>
								<div class="overview__desc">
									Обращено внимание и на настройки веб-приложений – теперь можно обновлять платформу и проектные API через само приложение, без прямого подключения на сервер, также менять подключение к БД и накатывать миграции.
									<a href="#" class="arrow-right-thin overview__arrow">
										<span></span>
									</a>
								</div>
							</div>
						</div>
						<div class="overview__nav__item">
							<a href="#" class="overview__nav__link overview__nav__link--ruble">
								<i class="overview__nav__icon">
									<img src="img/overview/icons/color/ruble.svg" alt="">
								</i>
								<i class="overview__nav__icon overview__nav__icon--white">
									<img src="img/overview/icons/white/ruble.svg" alt="">
								</i>
								Финансы
							</a>
							<div class="overview__nav__body collapse">
								<div class="overview__title">
									«БАРС Груп» создает фреймворк для внедрения искусственного интеллекта и машинного обучения в свои системы
								</div>
								<div class="overview__desc">
									Правительство одобрило правила выделения субсидий в рамках программы "Цифровая экономика" по импортозамещению в сфере информационно-коммуникационных технологий"
									<a href="#" class="arrow-right-thin overview__arrow">
										<span></span>
									</a>
								</div>
							</div>
						</div>
						<div class="overview__nav__item">
							<a href="#" class="overview__nav__link overview__nav__link--factory">
								<i class="overview__nav__icon">
									<img src="img/overview/icons/color/factory.svg" alt="">
								</i>
								<i class="overview__nav__icon overview__nav__icon--white">
									<img src="img/overview/icons/white/factory.svg" alt="">
								</i>
								Производство
							</a>
							<div class="overview__nav__body collapse">
								<div class="overview__title">
									HR-директор «БАРС Груп» выступила на конференции «HR PRO от Head Hunter»
								</div>
								<div class="overview__desc">
									В документе, предназначенном для государственных учреждений и специалистов в области общественного здравоохранения, изложены 10 рекомендаций на основе двухлетнего исследовательского проекта ВОЗ.
									<a href="#" class="arrow-right-thin overview__arrow">
										<span></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>	

				<div class="overview__about">
					<div class="overview__about__item _active">
						<div class="overview__title">
							Национальные цели и задачи, стоящие перед Россией, вдохновили «БАРС Груп»
						</div>
						<div class="overview__desc">
							Ключевым фактором успешного выполнения задач — внедрение и использование цифровых сервисов в ежедневную медицинскую практику.
						</div>
					</div>
					<div class="overview__about__item">
						<div class="overview__title">
							«БАРС Груп» расширила возможности платформы бизнес-аналитики Alpha BI
						</div>
						<div class="overview__desc">
							Основной акцент в версии 4.2 сделан на удобный экспорт и импорт объектов с одного экземпляра Alpha BI на другой без необходимости повторной разработки и настройки одних и тех же объектов на разных экземплярах системы.
						</div>
					</div>
					<div class="overview__about__item">
						<div class="overview__title">
							Результатом стало ускорение работы системы
						</div>
						<div class="overview__desc">
							Для ускорения системы была проведена ее оптимизация, появились новые удобства в части настройки веб-приложений, было добавлено большое количество пользовательских параметров: среди уникальных нововведений.
						</div>
					</div>
					<div class="overview__about__item">
						<div class="overview__title">
							Компания движется в сторону импортозамещения
						</div>
						<div class="overview__desc">
							Среди прочих обновлений: добавлена возможность скачивания изображений в формах, открытых в режиме чтения, расширены вариации отображения и выгрузки печатных форм и другие.
						</div>
					</div>
					<div class="overview__about__item">
						<div class="overview__title">
							В дальнейшем планируются работы по переходу
						</div>
						<div class="overview__desc">
							Исправлено поведение системы при работе с формами, в которых изменена метаструктура: в случае, если пользователи уже заполнили данные, то ее изменение не приведет к их потере.
						</div>
					</div>
					<div class="overview__about__item">
						<div class="overview__title">
							Модуль был переписан на внутреннюю
						</div>
						<div class="overview__desc">
							Обращено внимание и на настройки веб-приложений – теперь можно обновлять платформу и проектные API через само приложение, без прямого подключения на сервер, также менять подключение к БД и накатывать миграции.
						</div>
					</div>
					<div class="overview__about__item">
						<div class="overview__title">
							«БАРС Груп» создает фреймворк для внедрения искусственного интеллекта и машинного обучения в свои системы
						</div>
						<div class="overview__desc">
							Правительство одобрило правила выделения субсидий в рамках программы "Цифровая экономика" по импортозамещению в сфере информационно-коммуникационных технологий"
						</div>
					</div>
					<div class="overview__about__item">
						<div class="overview__title">
							HR-директор «БАРС Груп» выступила на конференции «HR PRO от Head Hunter»
						</div>
						<div class="overview__desc">
							В документе, предназначенном для государственных учреждений и специалистов в области общественного здравоохранения, изложены 10 рекомендаций на основе двухлетнего исследовательского проекта ВОЗ.
						</div>
					</div>
				</div>	

				<a href="#" class="arrow-right-fly overview__more">
					<span></span>
				</a>

			</div>
		</div>
	</div>
	
</section>