
.button-aurora {
	transition: background .2s ease-in;
	display: inline-block;
	user-select: none;
	position: relative;
	min-width: 200px;
	padding: 22px 30px;
	padding-right: 87px;
	background: #59b4e6;
	text-align: left;
	font-size: 18px;
	font-weight: 600;
	color: #fff !important;
	overflow: hidden;

	&:before {
		@include position-fill();
		left: -100%;
		transition: left .2s ease-in;
		background: darken(#59b4e6, 10%);
		content: ' ';
	}

	&:hover {
		&:before {
			left: 0;
		}
	}

	&__text {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		line-height: 1.45;
	}

	&__icon {
		position: absolute;
		top: 50%;
		margin-top: -20px;
		right: 10px;
	}

	&__icon-message {
		position: absolute;
		top: 50%;
		margin-top: -.4em;
		right: 25px;
		font-size: 1.5em;
	}
}

@media all and (max-width: 1050px) {
	.button-aurora {
		padding-left: 25px;
		padding-right: 75px;
		font-size: 16px;
		
		&__icon {
			right: 5px;
		}

		&__icon-message {
			right: 20px;
		}
	}
}

@media all and (max-width: 600px) {
	.button-aurora {
		padding: 18px 20px;
		padding-right: 65px;
		font-size: 12px;
		
		&__icon {
			right: 0;
		}
	}
}