.download-btn {
    transition: background .2s ease-in .1s;
    display: inline-flex;
    align-items: center;
	user-select: none;
	position: relative;
	min-width: 200px;
	padding: 22px 30px;
	text-align: left;
	font-size: 18px;
	font-weight: 600;
	color: #fff !important;
    overflow: hidden;
    margin-top: 55px;
    
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #59b4e6;
        z-index: 1;
    }
}


.download-btn__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: darken(#59b4e6, 10%);
    z-index: 2;
    transform: scaleX(0);
    transition: transform .2s linear;
    transform-origin: left center;
}


.download-btn__text,
.download-btn__icon {
    position: relative;
    z-index: 3;
}

.download-btn__icon {
    margin-left: 60px;
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    svg {
        fill: white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        &.download-btn__icon-start {
            width: 18px;
            height: 24px;
            transition: all .2s;

            .downloading &,
            .download-finished & {
                opacity: 0;
                visibility: hidden;
                transition: opacity .2s, visibility 0s linear .2s;
            }
        }


        &.download-btn__icon-progress {
            width: 21px;
            height: 21px;
            opacity: 0;
            visibility: hidden;
            transition: opacity .2s, visibility 0s linear .2s;
            animation-name: progress-rotation;
            animation-duration: .6s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;

            .downloading & {
                opacity: 1;
                visibility: visible;
                transition: all .2s;
            }
        }

        &.download-btn__icon-ready {
            width: 27px;
            height: 20px;
            opacity: 0;
            visibility: hidden;
            transition: opacity .2s, visibility 0s linear .2s;
            .download-finished & {
                opacity: 1;
                visibility: visible;
                transition: all .2s;
            }
        }
    }
}



@keyframes progress-rotation {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}