// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-sprite-png-clip-name: 'icon-sprite-png-clip';
$icon-sprite-png-clip-x: 43px;
$icon-sprite-png-clip-y: 36px;
$icon-sprite-png-clip-offset-x: -43px;
$icon-sprite-png-clip-offset-y: -36px;
$icon-sprite-png-clip-width: 11px;
$icon-sprite-png-clip-height: 22px;
$icon-sprite-png-clip-total-width: 66px;
$icon-sprite-png-clip-total-height: 63px;
$icon-sprite-png-clip-image: '../img/sprite.png';
$icon-sprite-png-clip: (43px, 36px, -43px, -36px, 11px, 22px, 66px, 63px, '../img/sprite.png', 'icon-sprite-png-clip', );
$icon-sprite-png-habrahabr-name: 'icon-sprite-png-habrahabr';
$icon-sprite-png-habrahabr-x: 0px;
$icon-sprite-png-habrahabr-y: 36px;
$icon-sprite-png-habrahabr-offset-x: 0px;
$icon-sprite-png-habrahabr-offset-y: -36px;
$icon-sprite-png-habrahabr-width: 23px;
$icon-sprite-png-habrahabr-height: 27px;
$icon-sprite-png-habrahabr-total-width: 66px;
$icon-sprite-png-habrahabr-total-height: 63px;
$icon-sprite-png-habrahabr-image: '../img/sprite.png';
$icon-sprite-png-habrahabr: (0px, 36px, 0px, -36px, 23px, 27px, 66px, 63px, '../img/sprite.png', 'icon-sprite-png-habrahabr', );
$icon-sprite-png-markweber-name: 'icon-sprite-png-markweber';
$icon-sprite-png-markweber-x: 0px;
$icon-sprite-png-markweber-y: 0px;
$icon-sprite-png-markweber-offset-x: 0px;
$icon-sprite-png-markweber-offset-y: 0px;
$icon-sprite-png-markweber-width: 66px;
$icon-sprite-png-markweber-height: 16px;
$icon-sprite-png-markweber-total-width: 66px;
$icon-sprite-png-markweber-total-height: 63px;
$icon-sprite-png-markweber-image: '../img/sprite.png';
$icon-sprite-png-markweber: (0px, 0px, 0px, 0px, 66px, 16px, 66px, 63px, '../img/sprite.png', 'icon-sprite-png-markweber', );
$icon-sprite-png-clip-2x-name: 'icon-sprite-png-clip@2x';
$icon-sprite-png-clip-2x-x: 86px;
$icon-sprite-png-clip-2x-y: 72px;
$icon-sprite-png-clip-2x-offset-x: -86px;
$icon-sprite-png-clip-2x-offset-y: -72px;
$icon-sprite-png-clip-2x-width: 22px;
$icon-sprite-png-clip-2x-height: 44px;
$icon-sprite-png-clip-2x-total-width: 132px;
$icon-sprite-png-clip-2x-total-height: 126px;
$icon-sprite-png-clip-2x-image: '../img/sprite@2x.png';
$icon-sprite-png-clip-2x: (86px, 72px, -86px, -72px, 22px, 44px, 132px, 126px, '../img/sprite@2x.png', 'icon-sprite-png-clip@2x', );
$icon-sprite-png-habrahabr-2x-name: 'icon-sprite-png-habrahabr@2x';
$icon-sprite-png-habrahabr-2x-x: 0px;
$icon-sprite-png-habrahabr-2x-y: 72px;
$icon-sprite-png-habrahabr-2x-offset-x: 0px;
$icon-sprite-png-habrahabr-2x-offset-y: -72px;
$icon-sprite-png-habrahabr-2x-width: 46px;
$icon-sprite-png-habrahabr-2x-height: 54px;
$icon-sprite-png-habrahabr-2x-total-width: 132px;
$icon-sprite-png-habrahabr-2x-total-height: 126px;
$icon-sprite-png-habrahabr-2x-image: '../img/sprite@2x.png';
$icon-sprite-png-habrahabr-2x: (0px, 72px, 0px, -72px, 46px, 54px, 132px, 126px, '../img/sprite@2x.png', 'icon-sprite-png-habrahabr@2x', );
$icon-sprite-png-markweber-2x-name: 'icon-sprite-png-markweber@2x';
$icon-sprite-png-markweber-2x-x: 0px;
$icon-sprite-png-markweber-2x-y: 0px;
$icon-sprite-png-markweber-2x-offset-x: 0px;
$icon-sprite-png-markweber-2x-offset-y: 0px;
$icon-sprite-png-markweber-2x-width: 132px;
$icon-sprite-png-markweber-2x-height: 32px;
$icon-sprite-png-markweber-2x-total-width: 132px;
$icon-sprite-png-markweber-2x-total-height: 126px;
$icon-sprite-png-markweber-2x-image: '../img/sprite@2x.png';
$icon-sprite-png-markweber-2x: (0px, 0px, 0px, 0px, 132px, 32px, 132px, 126px, '../img/sprite@2x.png', 'icon-sprite-png-markweber@2x', );
$spritesheet-width: 66px;
$spritesheet-height: 63px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($icon-sprite-png-clip, $icon-sprite-png-habrahabr, $icon-sprite-png-markweber, );
$spritesheet: (66px, 63px, '../img/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 132px;
$retina-spritesheet-height: 126px;
$retina-spritesheet-image: '../img/sprite@2x.png';
$retina-spritesheet-sprites: ($icon-sprite-png-clip-2x, $icon-sprite-png-habrahabr-2x, $icon-sprite-png-markweber-2x, );
$retina-spritesheet: (132px, 126px, '../img/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$icon-sprite-png-clip-group-name: 'icon-sprite-png-clip';
$icon-sprite-png-clip-group: ('icon-sprite-png-clip', $icon-sprite-png-clip, $icon-sprite-png-clip-2x, );
$icon-sprite-png-habrahabr-group-name: 'icon-sprite-png-habrahabr';
$icon-sprite-png-habrahabr-group: ('icon-sprite-png-habrahabr', $icon-sprite-png-habrahabr, $icon-sprite-png-habrahabr-2x, );
$icon-sprite-png-markweber-group-name: 'icon-sprite-png-markweber';
$icon-sprite-png-markweber-group: ('icon-sprite-png-markweber', $icon-sprite-png-markweber, $icon-sprite-png-markweber-2x, );
$retina-groups: ($icon-sprite-png-clip-group, $icon-sprite-png-habrahabr-group, $icon-sprite-png-markweber-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
