// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-sprite-png-alpha-bi-name: 'icon-sprite-png-alpha-bi';
$icon-sprite-png-alpha-bi-x: 0px;
$icon-sprite-png-alpha-bi-y: 164px;
$icon-sprite-png-alpha-bi-offset-x: 0px;
$icon-sprite-png-alpha-bi-offset-y: -164px;
$icon-sprite-png-alpha-bi-width: 164px;
$icon-sprite-png-alpha-bi-height: 48px;
$icon-sprite-png-alpha-bi-total-width: 497px;
$icon-sprite-png-alpha-bi-total-height: 308px;
$icon-sprite-png-alpha-bi-image: '../img/sprite.png';
$icon-sprite-png-alpha-bi: (0px, 164px, 0px, -164px, 164px, 48px, 497px, 308px, '../img/sprite.png', 'icon-sprite-png-alpha-bi', );
$icon-sprite-png-barsup-ag-white-name: 'icon-sprite-png-barsup-ag-white';
$icon-sprite-png-barsup-ag-white-x: 98px;
$icon-sprite-png-barsup-ag-white-y: 232px;
$icon-sprite-png-barsup-ag-white-offset-x: -98px;
$icon-sprite-png-barsup-ag-white-offset-y: -232px;
$icon-sprite-png-barsup-ag-white-width: 161px;
$icon-sprite-png-barsup-ag-white-height: 26px;
$icon-sprite-png-barsup-ag-white-total-width: 497px;
$icon-sprite-png-barsup-ag-white-total-height: 308px;
$icon-sprite-png-barsup-ag-white-image: '../img/sprite.png';
$icon-sprite-png-barsup-ag-white: (98px, 232px, -98px, -232px, 161px, 26px, 497px, 308px, '../img/sprite.png', 'icon-sprite-png-barsup-ag-white', );
$icon-sprite-png-barsup-ag-name: 'icon-sprite-png-barsup-ag';
$icon-sprite-png-barsup-ag-x: 98px;
$icon-sprite-png-barsup-ag-y: 278px;
$icon-sprite-png-barsup-ag-offset-x: -98px;
$icon-sprite-png-barsup-ag-offset-y: -278px;
$icon-sprite-png-barsup-ag-width: 161px;
$icon-sprite-png-barsup-ag-height: 26px;
$icon-sprite-png-barsup-ag-total-width: 497px;
$icon-sprite-png-barsup-ag-total-height: 308px;
$icon-sprite-png-barsup-ag-image: '../img/sprite.png';
$icon-sprite-png-barsup-ag: (98px, 278px, -98px, -278px, 161px, 26px, 497px, 308px, '../img/sprite.png', 'icon-sprite-png-barsup-ag', );
$icon-sprite-png-barsup-ai-name: 'icon-sprite-png-barsup-ai';
$icon-sprite-png-barsup-ai-x: 337px;
$icon-sprite-png-barsup-ai-y: 92px;
$icon-sprite-png-barsup-ai-offset-x: -337px;
$icon-sprite-png-barsup-ai-offset-y: -92px;
$icon-sprite-png-barsup-ai-width: 150px;
$icon-sprite-png-barsup-ai-height: 23px;
$icon-sprite-png-barsup-ai-total-width: 497px;
$icon-sprite-png-barsup-ai-total-height: 308px;
$icon-sprite-png-barsup-ai-image: '../img/sprite.png';
$icon-sprite-png-barsup-ai: (337px, 92px, -337px, -92px, 150px, 23px, 497px, 308px, '../img/sprite.png', 'icon-sprite-png-barsup-ai', );
$icon-sprite-png-barsup-am-white-name: 'icon-sprite-png-barsup-am-white';
$icon-sprite-png-barsup-am-white-x: 337px;
$icon-sprite-png-barsup-am-white-y: 0px;
$icon-sprite-png-barsup-am-white-offset-x: -337px;
$icon-sprite-png-barsup-am-white-offset-y: 0px;
$icon-sprite-png-barsup-am-white-width: 160px;
$icon-sprite-png-barsup-am-white-height: 26px;
$icon-sprite-png-barsup-am-white-total-width: 497px;
$icon-sprite-png-barsup-am-white-total-height: 308px;
$icon-sprite-png-barsup-am-white-image: '../img/sprite.png';
$icon-sprite-png-barsup-am-white: (337px, 0px, -337px, 0px, 160px, 26px, 497px, 308px, '../img/sprite.png', 'icon-sprite-png-barsup-am-white', );
$icon-sprite-png-barsup-am-name: 'icon-sprite-png-barsup-am';
$icon-sprite-png-barsup-am-x: 337px;
$icon-sprite-png-barsup-am-y: 46px;
$icon-sprite-png-barsup-am-offset-x: -337px;
$icon-sprite-png-barsup-am-offset-y: -46px;
$icon-sprite-png-barsup-am-width: 160px;
$icon-sprite-png-barsup-am-height: 26px;
$icon-sprite-png-barsup-am-total-width: 497px;
$icon-sprite-png-barsup-am-total-height: 308px;
$icon-sprite-png-barsup-am-image: '../img/sprite.png';
$icon-sprite-png-barsup-am: (337px, 46px, -337px, -46px, 160px, 26px, 497px, 308px, '../img/sprite.png', 'icon-sprite-png-barsup-am', );
$icon-sprite-png-barsup-stack-name: 'icon-sprite-png-barsup-stack';
$icon-sprite-png-barsup-stack-x: 0px;
$icon-sprite-png-barsup-stack-y: 0px;
$icon-sprite-png-barsup-stack-offset-x: 0px;
$icon-sprite-png-barsup-stack-offset-y: 0px;
$icon-sprite-png-barsup-stack-width: 317px;
$icon-sprite-png-barsup-stack-height: 71px;
$icon-sprite-png-barsup-stack-total-width: 497px;
$icon-sprite-png-barsup-stack-total-height: 308px;
$icon-sprite-png-barsup-stack-image: '../img/sprite.png';
$icon-sprite-png-barsup-stack: (0px, 0px, 0px, 0px, 317px, 71px, 497px, 308px, '../img/sprite.png', 'icon-sprite-png-barsup-stack', );
$icon-sprite-png-barsup-name: 'icon-sprite-png-barsup';
$icon-sprite-png-barsup-x: 0px;
$icon-sprite-png-barsup-y: 91px;
$icon-sprite-png-barsup-offset-x: 0px;
$icon-sprite-png-barsup-offset-y: -91px;
$icon-sprite-png-barsup-width: 244px;
$icon-sprite-png-barsup-height: 53px;
$icon-sprite-png-barsup-total-width: 497px;
$icon-sprite-png-barsup-total-height: 308px;
$icon-sprite-png-barsup-image: '../img/sprite.png';
$icon-sprite-png-barsup: (0px, 91px, 0px, -91px, 244px, 53px, 497px, 308px, '../img/sprite.png', 'icon-sprite-png-barsup', );
$icon-sprite-png-biux-name: 'icon-sprite-png-biux';
$icon-sprite-png-biux-x: 0px;
$icon-sprite-png-biux-y: 232px;
$icon-sprite-png-biux-offset-x: 0px;
$icon-sprite-png-biux-offset-y: -232px;
$icon-sprite-png-biux-width: 78px;
$icon-sprite-png-biux-height: 76px;
$icon-sprite-png-biux-total-width: 497px;
$icon-sprite-png-biux-total-height: 308px;
$icon-sprite-png-biux-image: '../img/sprite.png';
$icon-sprite-png-biux: (0px, 232px, 0px, -232px, 78px, 76px, 497px, 308px, '../img/sprite.png', 'icon-sprite-png-biux', );
$icon-sprite-png-clip-name: 'icon-sprite-png-clip';
$icon-sprite-png-clip-x: 483px;
$icon-sprite-png-clip-y: 135px;
$icon-sprite-png-clip-offset-x: -483px;
$icon-sprite-png-clip-offset-y: -135px;
$icon-sprite-png-clip-width: 11px;
$icon-sprite-png-clip-height: 22px;
$icon-sprite-png-clip-total-width: 497px;
$icon-sprite-png-clip-total-height: 308px;
$icon-sprite-png-clip-image: '../img/sprite.png';
$icon-sprite-png-clip: (483px, 135px, -483px, -135px, 11px, 22px, 497px, 308px, '../img/sprite.png', 'icon-sprite-png-clip', );
$icon-sprite-png-habrahabr-name: 'icon-sprite-png-habrahabr';
$icon-sprite-png-habrahabr-x: 337px;
$icon-sprite-png-habrahabr-y: 213px;
$icon-sprite-png-habrahabr-offset-x: -337px;
$icon-sprite-png-habrahabr-offset-y: -213px;
$icon-sprite-png-habrahabr-width: 23px;
$icon-sprite-png-habrahabr-height: 27px;
$icon-sprite-png-habrahabr-total-width: 497px;
$icon-sprite-png-habrahabr-total-height: 308px;
$icon-sprite-png-habrahabr-image: '../img/sprite.png';
$icon-sprite-png-habrahabr: (337px, 213px, -337px, -213px, 23px, 27px, 497px, 308px, '../img/sprite.png', 'icon-sprite-png-habrahabr', );
$icon-sprite-png-markweber-name: 'icon-sprite-png-markweber';
$icon-sprite-png-markweber-x: 337px;
$icon-sprite-png-markweber-y: 177px;
$icon-sprite-png-markweber-offset-x: -337px;
$icon-sprite-png-markweber-offset-y: -177px;
$icon-sprite-png-markweber-width: 66px;
$icon-sprite-png-markweber-height: 16px;
$icon-sprite-png-markweber-total-width: 497px;
$icon-sprite-png-markweber-total-height: 308px;
$icon-sprite-png-markweber-image: '../img/sprite.png';
$icon-sprite-png-markweber: (337px, 177px, -337px, -177px, 66px, 16px, 497px, 308px, '../img/sprite.png', 'icon-sprite-png-markweber', );
$icon-sprite-png-svody-name: 'icon-sprite-png-svody';
$icon-sprite-png-svody-x: 337px;
$icon-sprite-png-svody-y: 135px;
$icon-sprite-png-svody-offset-x: -337px;
$icon-sprite-png-svody-offset-y: -135px;
$icon-sprite-png-svody-width: 126px;
$icon-sprite-png-svody-height: 22px;
$icon-sprite-png-svody-total-width: 497px;
$icon-sprite-png-svody-total-height: 308px;
$icon-sprite-png-svody-image: '../img/sprite.png';
$icon-sprite-png-svody: (337px, 135px, -337px, -135px, 126px, 22px, 497px, 308px, '../img/sprite.png', 'icon-sprite-png-svody', );
$icon-sprite-png-alpha-bi-2x-name: 'icon-sprite-png-alpha-bi@2x';
$icon-sprite-png-alpha-bi-2x-x: 0px;
$icon-sprite-png-alpha-bi-2x-y: 328px;
$icon-sprite-png-alpha-bi-2x-offset-x: 0px;
$icon-sprite-png-alpha-bi-2x-offset-y: -328px;
$icon-sprite-png-alpha-bi-2x-width: 328px;
$icon-sprite-png-alpha-bi-2x-height: 96px;
$icon-sprite-png-alpha-bi-2x-total-width: 994px;
$icon-sprite-png-alpha-bi-2x-total-height: 616px;
$icon-sprite-png-alpha-bi-2x-image: '../img/sprite@2x.png';
$icon-sprite-png-alpha-bi-2x: (0px, 328px, 0px, -328px, 328px, 96px, 994px, 616px, '../img/sprite@2x.png', 'icon-sprite-png-alpha-bi@2x', );
$icon-sprite-png-barsup-ag-white-2x-name: 'icon-sprite-png-barsup-ag-white@2x';
$icon-sprite-png-barsup-ag-white-2x-x: 196px;
$icon-sprite-png-barsup-ag-white-2x-y: 464px;
$icon-sprite-png-barsup-ag-white-2x-offset-x: -196px;
$icon-sprite-png-barsup-ag-white-2x-offset-y: -464px;
$icon-sprite-png-barsup-ag-white-2x-width: 322px;
$icon-sprite-png-barsup-ag-white-2x-height: 52px;
$icon-sprite-png-barsup-ag-white-2x-total-width: 994px;
$icon-sprite-png-barsup-ag-white-2x-total-height: 616px;
$icon-sprite-png-barsup-ag-white-2x-image: '../img/sprite@2x.png';
$icon-sprite-png-barsup-ag-white-2x: (196px, 464px, -196px, -464px, 322px, 52px, 994px, 616px, '../img/sprite@2x.png', 'icon-sprite-png-barsup-ag-white@2x', );
$icon-sprite-png-barsup-ag-2x-name: 'icon-sprite-png-barsup-ag@2x';
$icon-sprite-png-barsup-ag-2x-x: 196px;
$icon-sprite-png-barsup-ag-2x-y: 556px;
$icon-sprite-png-barsup-ag-2x-offset-x: -196px;
$icon-sprite-png-barsup-ag-2x-offset-y: -556px;
$icon-sprite-png-barsup-ag-2x-width: 322px;
$icon-sprite-png-barsup-ag-2x-height: 52px;
$icon-sprite-png-barsup-ag-2x-total-width: 994px;
$icon-sprite-png-barsup-ag-2x-total-height: 616px;
$icon-sprite-png-barsup-ag-2x-image: '../img/sprite@2x.png';
$icon-sprite-png-barsup-ag-2x: (196px, 556px, -196px, -556px, 322px, 52px, 994px, 616px, '../img/sprite@2x.png', 'icon-sprite-png-barsup-ag@2x', );
$icon-sprite-png-barsup-ai-2x-name: 'icon-sprite-png-barsup-ai@2x';
$icon-sprite-png-barsup-ai-2x-x: 674px;
$icon-sprite-png-barsup-ai-2x-y: 184px;
$icon-sprite-png-barsup-ai-2x-offset-x: -674px;
$icon-sprite-png-barsup-ai-2x-offset-y: -184px;
$icon-sprite-png-barsup-ai-2x-width: 300px;
$icon-sprite-png-barsup-ai-2x-height: 46px;
$icon-sprite-png-barsup-ai-2x-total-width: 994px;
$icon-sprite-png-barsup-ai-2x-total-height: 616px;
$icon-sprite-png-barsup-ai-2x-image: '../img/sprite@2x.png';
$icon-sprite-png-barsup-ai-2x: (674px, 184px, -674px, -184px, 300px, 46px, 994px, 616px, '../img/sprite@2x.png', 'icon-sprite-png-barsup-ai@2x', );
$icon-sprite-png-barsup-am-white-2x-name: 'icon-sprite-png-barsup-am-white@2x';
$icon-sprite-png-barsup-am-white-2x-x: 674px;
$icon-sprite-png-barsup-am-white-2x-y: 0px;
$icon-sprite-png-barsup-am-white-2x-offset-x: -674px;
$icon-sprite-png-barsup-am-white-2x-offset-y: 0px;
$icon-sprite-png-barsup-am-white-2x-width: 320px;
$icon-sprite-png-barsup-am-white-2x-height: 52px;
$icon-sprite-png-barsup-am-white-2x-total-width: 994px;
$icon-sprite-png-barsup-am-white-2x-total-height: 616px;
$icon-sprite-png-barsup-am-white-2x-image: '../img/sprite@2x.png';
$icon-sprite-png-barsup-am-white-2x: (674px, 0px, -674px, 0px, 320px, 52px, 994px, 616px, '../img/sprite@2x.png', 'icon-sprite-png-barsup-am-white@2x', );
$icon-sprite-png-barsup-am-2x-name: 'icon-sprite-png-barsup-am@2x';
$icon-sprite-png-barsup-am-2x-x: 674px;
$icon-sprite-png-barsup-am-2x-y: 92px;
$icon-sprite-png-barsup-am-2x-offset-x: -674px;
$icon-sprite-png-barsup-am-2x-offset-y: -92px;
$icon-sprite-png-barsup-am-2x-width: 320px;
$icon-sprite-png-barsup-am-2x-height: 52px;
$icon-sprite-png-barsup-am-2x-total-width: 994px;
$icon-sprite-png-barsup-am-2x-total-height: 616px;
$icon-sprite-png-barsup-am-2x-image: '../img/sprite@2x.png';
$icon-sprite-png-barsup-am-2x: (674px, 92px, -674px, -92px, 320px, 52px, 994px, 616px, '../img/sprite@2x.png', 'icon-sprite-png-barsup-am@2x', );
$icon-sprite-png-barsup-stack-2x-name: 'icon-sprite-png-barsup-stack@2x';
$icon-sprite-png-barsup-stack-2x-x: 0px;
$icon-sprite-png-barsup-stack-2x-y: 0px;
$icon-sprite-png-barsup-stack-2x-offset-x: 0px;
$icon-sprite-png-barsup-stack-2x-offset-y: 0px;
$icon-sprite-png-barsup-stack-2x-width: 634px;
$icon-sprite-png-barsup-stack-2x-height: 142px;
$icon-sprite-png-barsup-stack-2x-total-width: 994px;
$icon-sprite-png-barsup-stack-2x-total-height: 616px;
$icon-sprite-png-barsup-stack-2x-image: '../img/sprite@2x.png';
$icon-sprite-png-barsup-stack-2x: (0px, 0px, 0px, 0px, 634px, 142px, 994px, 616px, '../img/sprite@2x.png', 'icon-sprite-png-barsup-stack@2x', );
$icon-sprite-png-barsup-2x-name: 'icon-sprite-png-barsup@2x';
$icon-sprite-png-barsup-2x-x: 0px;
$icon-sprite-png-barsup-2x-y: 182px;
$icon-sprite-png-barsup-2x-offset-x: 0px;
$icon-sprite-png-barsup-2x-offset-y: -182px;
$icon-sprite-png-barsup-2x-width: 488px;
$icon-sprite-png-barsup-2x-height: 106px;
$icon-sprite-png-barsup-2x-total-width: 994px;
$icon-sprite-png-barsup-2x-total-height: 616px;
$icon-sprite-png-barsup-2x-image: '../img/sprite@2x.png';
$icon-sprite-png-barsup-2x: (0px, 182px, 0px, -182px, 488px, 106px, 994px, 616px, '../img/sprite@2x.png', 'icon-sprite-png-barsup@2x', );
$icon-sprite-png-biux-2x-name: 'icon-sprite-png-biux@2x';
$icon-sprite-png-biux-2x-x: 0px;
$icon-sprite-png-biux-2x-y: 464px;
$icon-sprite-png-biux-2x-offset-x: 0px;
$icon-sprite-png-biux-2x-offset-y: -464px;
$icon-sprite-png-biux-2x-width: 156px;
$icon-sprite-png-biux-2x-height: 152px;
$icon-sprite-png-biux-2x-total-width: 994px;
$icon-sprite-png-biux-2x-total-height: 616px;
$icon-sprite-png-biux-2x-image: '../img/sprite@2x.png';
$icon-sprite-png-biux-2x: (0px, 464px, 0px, -464px, 156px, 152px, 994px, 616px, '../img/sprite@2x.png', 'icon-sprite-png-biux@2x', );
$icon-sprite-png-clip-2x-name: 'icon-sprite-png-clip@2x';
$icon-sprite-png-clip-2x-x: 966px;
$icon-sprite-png-clip-2x-y: 270px;
$icon-sprite-png-clip-2x-offset-x: -966px;
$icon-sprite-png-clip-2x-offset-y: -270px;
$icon-sprite-png-clip-2x-width: 22px;
$icon-sprite-png-clip-2x-height: 44px;
$icon-sprite-png-clip-2x-total-width: 994px;
$icon-sprite-png-clip-2x-total-height: 616px;
$icon-sprite-png-clip-2x-image: '../img/sprite@2x.png';
$icon-sprite-png-clip-2x: (966px, 270px, -966px, -270px, 22px, 44px, 994px, 616px, '../img/sprite@2x.png', 'icon-sprite-png-clip@2x', );
$icon-sprite-png-habrahabr-2x-name: 'icon-sprite-png-habrahabr@2x';
$icon-sprite-png-habrahabr-2x-x: 674px;
$icon-sprite-png-habrahabr-2x-y: 426px;
$icon-sprite-png-habrahabr-2x-offset-x: -674px;
$icon-sprite-png-habrahabr-2x-offset-y: -426px;
$icon-sprite-png-habrahabr-2x-width: 46px;
$icon-sprite-png-habrahabr-2x-height: 54px;
$icon-sprite-png-habrahabr-2x-total-width: 994px;
$icon-sprite-png-habrahabr-2x-total-height: 616px;
$icon-sprite-png-habrahabr-2x-image: '../img/sprite@2x.png';
$icon-sprite-png-habrahabr-2x: (674px, 426px, -674px, -426px, 46px, 54px, 994px, 616px, '../img/sprite@2x.png', 'icon-sprite-png-habrahabr@2x', );
$icon-sprite-png-markweber-2x-name: 'icon-sprite-png-markweber@2x';
$icon-sprite-png-markweber-2x-x: 674px;
$icon-sprite-png-markweber-2x-y: 354px;
$icon-sprite-png-markweber-2x-offset-x: -674px;
$icon-sprite-png-markweber-2x-offset-y: -354px;
$icon-sprite-png-markweber-2x-width: 132px;
$icon-sprite-png-markweber-2x-height: 32px;
$icon-sprite-png-markweber-2x-total-width: 994px;
$icon-sprite-png-markweber-2x-total-height: 616px;
$icon-sprite-png-markweber-2x-image: '../img/sprite@2x.png';
$icon-sprite-png-markweber-2x: (674px, 354px, -674px, -354px, 132px, 32px, 994px, 616px, '../img/sprite@2x.png', 'icon-sprite-png-markweber@2x', );
$icon-sprite-png-svody-2x-name: 'icon-sprite-png-svody@2x';
$icon-sprite-png-svody-2x-x: 674px;
$icon-sprite-png-svody-2x-y: 270px;
$icon-sprite-png-svody-2x-offset-x: -674px;
$icon-sprite-png-svody-2x-offset-y: -270px;
$icon-sprite-png-svody-2x-width: 252px;
$icon-sprite-png-svody-2x-height: 44px;
$icon-sprite-png-svody-2x-total-width: 994px;
$icon-sprite-png-svody-2x-total-height: 616px;
$icon-sprite-png-svody-2x-image: '../img/sprite@2x.png';
$icon-sprite-png-svody-2x: (674px, 270px, -674px, -270px, 252px, 44px, 994px, 616px, '../img/sprite@2x.png', 'icon-sprite-png-svody@2x', );
$spritesheet-width: 497px;
$spritesheet-height: 308px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($icon-sprite-png-alpha-bi, $icon-sprite-png-barsup-ag-white, $icon-sprite-png-barsup-ag, $icon-sprite-png-barsup-ai, $icon-sprite-png-barsup-am-white, $icon-sprite-png-barsup-am, $icon-sprite-png-barsup-stack, $icon-sprite-png-barsup, $icon-sprite-png-biux, $icon-sprite-png-clip, $icon-sprite-png-habrahabr, $icon-sprite-png-markweber, $icon-sprite-png-svody, );
$spritesheet: (497px, 308px, '../img/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 994px;
$retina-spritesheet-height: 616px;
$retina-spritesheet-image: '../img/sprite@2x.png';
$retina-spritesheet-sprites: ($icon-sprite-png-alpha-bi-2x, $icon-sprite-png-barsup-ag-white-2x, $icon-sprite-png-barsup-ag-2x, $icon-sprite-png-barsup-ai-2x, $icon-sprite-png-barsup-am-white-2x, $icon-sprite-png-barsup-am-2x, $icon-sprite-png-barsup-stack-2x, $icon-sprite-png-barsup-2x, $icon-sprite-png-biux-2x, $icon-sprite-png-clip-2x, $icon-sprite-png-habrahabr-2x, $icon-sprite-png-markweber-2x, $icon-sprite-png-svody-2x, );
$retina-spritesheet: (994px, 616px, '../img/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$icon-sprite-png-alpha-bi-group-name: 'icon-sprite-png-alpha-bi';
$icon-sprite-png-alpha-bi-group: ('icon-sprite-png-alpha-bi', $icon-sprite-png-alpha-bi, $icon-sprite-png-alpha-bi-2x, );
$icon-sprite-png-barsup-ag-white-group-name: 'icon-sprite-png-barsup-ag-white';
$icon-sprite-png-barsup-ag-white-group: ('icon-sprite-png-barsup-ag-white', $icon-sprite-png-barsup-ag-white, $icon-sprite-png-barsup-ag-white-2x, );
$icon-sprite-png-barsup-ag-group-name: 'icon-sprite-png-barsup-ag';
$icon-sprite-png-barsup-ag-group: ('icon-sprite-png-barsup-ag', $icon-sprite-png-barsup-ag, $icon-sprite-png-barsup-ag-2x, );
$icon-sprite-png-barsup-ai-group-name: 'icon-sprite-png-barsup-ai';
$icon-sprite-png-barsup-ai-group: ('icon-sprite-png-barsup-ai', $icon-sprite-png-barsup-ai, $icon-sprite-png-barsup-ai-2x, );
$icon-sprite-png-barsup-am-white-group-name: 'icon-sprite-png-barsup-am-white';
$icon-sprite-png-barsup-am-white-group: ('icon-sprite-png-barsup-am-white', $icon-sprite-png-barsup-am-white, $icon-sprite-png-barsup-am-white-2x, );
$icon-sprite-png-barsup-am-group-name: 'icon-sprite-png-barsup-am';
$icon-sprite-png-barsup-am-group: ('icon-sprite-png-barsup-am', $icon-sprite-png-barsup-am, $icon-sprite-png-barsup-am-2x, );
$icon-sprite-png-barsup-stack-group-name: 'icon-sprite-png-barsup-stack';
$icon-sprite-png-barsup-stack-group: ('icon-sprite-png-barsup-stack', $icon-sprite-png-barsup-stack, $icon-sprite-png-barsup-stack-2x, );
$icon-sprite-png-barsup-group-name: 'icon-sprite-png-barsup';
$icon-sprite-png-barsup-group: ('icon-sprite-png-barsup', $icon-sprite-png-barsup, $icon-sprite-png-barsup-2x, );
$icon-sprite-png-biux-group-name: 'icon-sprite-png-biux';
$icon-sprite-png-biux-group: ('icon-sprite-png-biux', $icon-sprite-png-biux, $icon-sprite-png-biux-2x, );
$icon-sprite-png-clip-group-name: 'icon-sprite-png-clip';
$icon-sprite-png-clip-group: ('icon-sprite-png-clip', $icon-sprite-png-clip, $icon-sprite-png-clip-2x, );
$icon-sprite-png-habrahabr-group-name: 'icon-sprite-png-habrahabr';
$icon-sprite-png-habrahabr-group: ('icon-sprite-png-habrahabr', $icon-sprite-png-habrahabr, $icon-sprite-png-habrahabr-2x, );
$icon-sprite-png-markweber-group-name: 'icon-sprite-png-markweber';
$icon-sprite-png-markweber-group: ('icon-sprite-png-markweber', $icon-sprite-png-markweber, $icon-sprite-png-markweber-2x, );
$icon-sprite-png-svody-group-name: 'icon-sprite-png-svody';
$icon-sprite-png-svody-group: ('icon-sprite-png-svody', $icon-sprite-png-svody, $icon-sprite-png-svody-2x, );
$retina-groups: ($icon-sprite-png-alpha-bi-group, $icon-sprite-png-barsup-ag-white-group, $icon-sprite-png-barsup-ag-group, $icon-sprite-png-barsup-ai-group, $icon-sprite-png-barsup-am-white-group, $icon-sprite-png-barsup-am-group, $icon-sprite-png-barsup-stack-group, $icon-sprite-png-barsup-group, $icon-sprite-png-biux-group, $icon-sprite-png-clip-group, $icon-sprite-png-habrahabr-group, $icon-sprite-png-markweber-group, $icon-sprite-png-svody-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
