// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-gantt-slider-dots-name: 'icon-gantt-slider-dots';
$icon-gantt-slider-dots-x: 0px;
$icon-gantt-slider-dots-y: 0px;
$icon-gantt-slider-dots-offset-x: 0px;
$icon-gantt-slider-dots-offset-y: 0px;
$icon-gantt-slider-dots-width: 42px;
$icon-gantt-slider-dots-height: 45px;
$icon-gantt-slider-dots-total-width: 128px;
$icon-gantt-slider-dots-total-height: 92px;
$icon-gantt-slider-dots-image: '../img/sprite.png';
$icon-gantt-slider-dots: (0px, 0px, 0px, 0px, 42px, 45px, 128px, 92px, '../img/sprite.png', 'icon-gantt-slider-dots', );
$icon-sprite-clip-name: 'icon-sprite-clip';
$icon-sprite-clip-x: 43px;
$icon-sprite-clip-y: 65px;
$icon-sprite-clip-offset-x: -43px;
$icon-sprite-clip-offset-y: -65px;
$icon-sprite-clip-width: 11px;
$icon-sprite-clip-height: 22px;
$icon-sprite-clip-total-width: 128px;
$icon-sprite-clip-total-height: 92px;
$icon-sprite-clip-image: '../img/sprite.png';
$icon-sprite-clip: (43px, 65px, -43px, -65px, 11px, 22px, 128px, 92px, '../img/sprite.png', 'icon-sprite-clip', );
$icon-sprite-habrahabr-name: 'icon-sprite-habrahabr';
$icon-sprite-habrahabr-x: 0px;
$icon-sprite-habrahabr-y: 65px;
$icon-sprite-habrahabr-offset-x: 0px;
$icon-sprite-habrahabr-offset-y: -65px;
$icon-sprite-habrahabr-width: 23px;
$icon-sprite-habrahabr-height: 27px;
$icon-sprite-habrahabr-total-width: 128px;
$icon-sprite-habrahabr-total-height: 92px;
$icon-sprite-habrahabr-image: '../img/sprite.png';
$icon-sprite-habrahabr: (0px, 65px, 0px, -65px, 23px, 27px, 128px, 92px, '../img/sprite.png', 'icon-sprite-habrahabr', );
$icon-sprite-markweber-name: 'icon-sprite-markweber';
$icon-sprite-markweber-x: 62px;
$icon-sprite-markweber-y: 0px;
$icon-sprite-markweber-offset-x: -62px;
$icon-sprite-markweber-offset-y: 0px;
$icon-sprite-markweber-width: 66px;
$icon-sprite-markweber-height: 16px;
$icon-sprite-markweber-total-width: 128px;
$icon-sprite-markweber-total-height: 92px;
$icon-sprite-markweber-image: '../img/sprite.png';
$icon-sprite-markweber: (62px, 0px, -62px, 0px, 66px, 16px, 128px, 92px, '../img/sprite.png', 'icon-sprite-markweber', );
$icon-gantt-slider-dots-2x-name: 'icon-gantt-slider-dots@2x';
$icon-gantt-slider-dots-2x-x: 0px;
$icon-gantt-slider-dots-2x-y: 0px;
$icon-gantt-slider-dots-2x-offset-x: 0px;
$icon-gantt-slider-dots-2x-offset-y: 0px;
$icon-gantt-slider-dots-2x-width: 84px;
$icon-gantt-slider-dots-2x-height: 90px;
$icon-gantt-slider-dots-2x-total-width: 256px;
$icon-gantt-slider-dots-2x-total-height: 184px;
$icon-gantt-slider-dots-2x-image: '../img/sprite@2x.png';
$icon-gantt-slider-dots-2x: (0px, 0px, 0px, 0px, 84px, 90px, 256px, 184px, '../img/sprite@2x.png', 'icon-gantt-slider-dots@2x', );
$icon-sprite-clip-2x-name: 'icon-sprite-clip@2x';
$icon-sprite-clip-2x-x: 86px;
$icon-sprite-clip-2x-y: 130px;
$icon-sprite-clip-2x-offset-x: -86px;
$icon-sprite-clip-2x-offset-y: -130px;
$icon-sprite-clip-2x-width: 22px;
$icon-sprite-clip-2x-height: 44px;
$icon-sprite-clip-2x-total-width: 256px;
$icon-sprite-clip-2x-total-height: 184px;
$icon-sprite-clip-2x-image: '../img/sprite@2x.png';
$icon-sprite-clip-2x: (86px, 130px, -86px, -130px, 22px, 44px, 256px, 184px, '../img/sprite@2x.png', 'icon-sprite-clip@2x', );
$icon-sprite-habrahabr-2x-name: 'icon-sprite-habrahabr@2x';
$icon-sprite-habrahabr-2x-x: 0px;
$icon-sprite-habrahabr-2x-y: 130px;
$icon-sprite-habrahabr-2x-offset-x: 0px;
$icon-sprite-habrahabr-2x-offset-y: -130px;
$icon-sprite-habrahabr-2x-width: 46px;
$icon-sprite-habrahabr-2x-height: 54px;
$icon-sprite-habrahabr-2x-total-width: 256px;
$icon-sprite-habrahabr-2x-total-height: 184px;
$icon-sprite-habrahabr-2x-image: '../img/sprite@2x.png';
$icon-sprite-habrahabr-2x: (0px, 130px, 0px, -130px, 46px, 54px, 256px, 184px, '../img/sprite@2x.png', 'icon-sprite-habrahabr@2x', );
$icon-sprite-markweber-2x-name: 'icon-sprite-markweber@2x';
$icon-sprite-markweber-2x-x: 124px;
$icon-sprite-markweber-2x-y: 0px;
$icon-sprite-markweber-2x-offset-x: -124px;
$icon-sprite-markweber-2x-offset-y: 0px;
$icon-sprite-markweber-2x-width: 132px;
$icon-sprite-markweber-2x-height: 32px;
$icon-sprite-markweber-2x-total-width: 256px;
$icon-sprite-markweber-2x-total-height: 184px;
$icon-sprite-markweber-2x-image: '../img/sprite@2x.png';
$icon-sprite-markweber-2x: (124px, 0px, -124px, 0px, 132px, 32px, 256px, 184px, '../img/sprite@2x.png', 'icon-sprite-markweber@2x', );
$spritesheet-width: 128px;
$spritesheet-height: 92px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($icon-gantt-slider-dots, $icon-sprite-clip, $icon-sprite-habrahabr, $icon-sprite-markweber, );
$spritesheet: (128px, 92px, '../img/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 256px;
$retina-spritesheet-height: 184px;
$retina-spritesheet-image: '../img/sprite@2x.png';
$retina-spritesheet-sprites: ($icon-gantt-slider-dots-2x, $icon-sprite-clip-2x, $icon-sprite-habrahabr-2x, $icon-sprite-markweber-2x, );
$retina-spritesheet: (256px, 184px, '../img/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$icon-gantt-slider-dots-group-name: 'icon-gantt-slider-dots';
$icon-gantt-slider-dots-group: ('icon-gantt-slider-dots', $icon-gantt-slider-dots, $icon-gantt-slider-dots-2x, );
$icon-sprite-clip-group-name: 'icon-sprite-clip';
$icon-sprite-clip-group: ('icon-sprite-clip', $icon-sprite-clip, $icon-sprite-clip-2x, );
$icon-sprite-habrahabr-group-name: 'icon-sprite-habrahabr';
$icon-sprite-habrahabr-group: ('icon-sprite-habrahabr', $icon-sprite-habrahabr, $icon-sprite-habrahabr-2x, );
$icon-sprite-markweber-group-name: 'icon-sprite-markweber';
$icon-sprite-markweber-group: ('icon-sprite-markweber', $icon-sprite-markweber, $icon-sprite-markweber-2x, );
$retina-groups: ($icon-gantt-slider-dots-group, $icon-sprite-clip-group, $icon-sprite-habrahabr-group, $icon-sprite-markweber-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
