
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> {{ title }}</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap&subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="css/main.min.css">
	<link rel="stylesheet" href="css/talgat.min.css">
    <link rel="stylesheet" href="css/about.min.css">
    <link rel="stylesheet" href="css/arch.min.css">
	<script src="js/modernizr-output.js"></script>
</head>
<body class="page__locked">

	<div class="loader-ajax" id="loader-ajax"></div>
	<div class="loader-main --active" id="loader-main">
		<div class="loader-main__logo">
			<div class="brand-box__image">
				<img src="img/barsgroup.svg" alt="">
			</div>
		</div>
		<div class="loader-main__line"></div>
	</div>
	
	{{> body }}
	
	<script src="js/main.min.js"></script>

	{{> filelist }}
</body>
</html>

