.clearfix {
	&::after {
	  display: block;
	  clear: both;
	  content: "";
	}
}

.d-none {
	display: none !important;
}

.float-100 {
	float: left;
	width: 100%;
}

.mt-0 {
	margin-top: 0 !important;
}

.is-flipped-x {
	transform: scaleX(-1);
}