@max_extra: 	~"screen and (max-width: 1200px)";
@max_large: 	~"screen and (max-width: 992px)";
@max_middle: 	~"screen and (max-width: 768px)";
@max_small: 	~"screen and (max-width: 576px)";
@max_mini:      ~"screen and (max-width: 378px)";

@min_extra: 	~"screen and (min-width: 1201px)";
@min_large: 	~"screen and (min-width: 993px)";
@min_middle: 	~"screen and (min-width: 767px)";
@min_small: 	~"screen and (min-width: 577px)";
@min_mini:   	~"screen and (min-width: 379px)";

@iScrollWidth: 1600px;
@iOffsetTop: 155px;
@iOffsetBottom: 155px;
@iPageLabelLeft: 200px;
@iPageInnerPadding: 40px;

body {
  &.with-scrollbar {
    .iScroll {
      &__item {
        min-width: calc(~'100vw - 17px');
      }
    }
  }
}

[data-factor] {
  will-change: transform;
  transition: transform 0.5s linear 0s;
}

.page-center-h100 {
  min-height: calc(~'100vh - @{iOffsetTop} - 105px');
  height: 100%;
}

.about {
  &-slider {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    min-height: 750px;
    max-width: 100vw;
    width: 100%;
    overflow: hidden;
    @media @max_small {
      position: relative;
      height: initial;
    }
    .gantt {
      &-slider {
        &__crop {
          min-height: 100vh;
          height: 100%;
          @media @max_small {
            min-height: initial;
          }
          &:before, &:after {
            display: none;
          }
        }
        &__ctrl {
          margin-top: -85px;
          height: 85px;
          padding-bottom: 10px;
        }
        &__range {
          height: 32px;
          margin-bottom: 12px;
          .rangeslider__handle {
            width: 72px;
            height: 32px;
            i {
              height: 32px;
              font-size: 12px;
              line-height: 32px;
            }
          }
        }
      }
    }
  }
}

.iNav {
  display: flex;
  @media @max_small {
    display: none;
  }
  a {
    margin-right: 37px;
    font-size: 16px;
    line-height: 24px;
    @media @max_large {
      margin-right: 18px;
      font-size: 13px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.iScroll {
  display: flex;
  flex-wrap: nowrap;
  min-height: 100vh;
  @media @max_small {
    min-height: initial;
    flex-wrap: wrap;
  }
  @media @min_small {
    &-2 {
      width: calc(~"@{iScrollWidth}*2");
    }

    &-3 {
      width: calc(~"@{iScrollWidth}*3");
    }

    &-4 {
      width: calc(~"@{iScrollWidth}*4");
    }

    &-5 {
      width: calc(~"@{iScrollWidth}*5");
    }

    &-6 {
      width: calc(~"@{iScrollWidth}*6");
    }

    &-7 {
      width: calc(~"@{iScrollWidth}*7");
    }

    &-8 {
      width: calc(~"@{iScrollWidth}*8");
    }

    &-9 {
      width: calc(~"@{iScrollWidth}*9");
    }

    &-10 {
      width: calc(~"@{iScrollWidth}*10");
    }
  }
  &-item {
    position: relative;
    min-width: 100vw;
    width: @iScrollWidth;
    margin-top: @iOffsetTop;
    padding-bottom: 105px;
    @media screen and (max-width: @iScrollWidth){
      min-width: @iScrollWidth;
    }
    @media @max_small {
      min-width: initial;
      max-width: 100%;
      width: auto;
      margin-top: 0;
      padding: 60px 0;
    }
    &__label {
      text-transform: uppercase;
      font-size: 10px;
      line-height: 24px;
      display: inline-block;
      min-width: 100px;
      height: 24px;
      color: #ffffff;
      background: #59B4E6;
      padding: 0 9px;
      margin-bottom: 32px;
      font-weight: 600;
      letter-spacing: 1.11px;
      @media @min_small {
        display: none;
      }
    }
    &__parallax {
      @media @max_small {
        display: none;
      }
      position: absolute;
      /*transition: 4.75s linear;
      transition-delay: 0.12s;*/
      background-repeat: no-repeat;
      &-1 {
        width: 231px;
        height: 415px;
        background-image: url('../img/about/parallax/1.png');
        left: 0;
        bottom: 20%;
      }
      &-2 {
        width: 671px;
        height: 526px;
        background-image: url('../img/about/parallax/2.png');
        left: -200px;
        bottom: 25%;
      }
      &-3 {
        width: 648px;
        height: 515px;
        background-image: url('../img/about/parallax/3.png');
        left: -200px;
        top: 15%;
      }
      &-4 {
        width: 648px;
        height: 515px;
        background-image: url('../img/about/parallax/3.png');
        left: -200px;
        top: 15%;
      }
      &-6 {
        width: 862px;
        height: 756px;
        background-image: url('../img/about/parallax/6.png');
        left: -400px;
        top: -550px;
      }
      &-8 {
        width: 733px;
        height: 569px;
        background-image: url('../img/about/parallax/8.png');
        left: 800px;
        top: -250px;
      }
    }
  }
  .page {
    &__center {
      position: relative;
      @media @min_small {
        .page-center-h100;
      }
    }
    &__inner {
      position: relative;
      @media @min_small {
        .page-center-h100;
      }
    }
  }
}

.iStart {
  position: relative;
  &__img {
    @media @min_small {
      position: absolute;
      top: 30px;
      left: @iPageInnerPadding + @iPageLabelLeft + 100px;
    }
    @media @max_small {
      & + .iStart__title, & + .iStart__subtitle {
        margin-top: 25px;
      }
    }
  }
  &__title {
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;

    @media @min_mini {
      font-size: 25px;
      line-height: 28px;
    }
    @media @min_small {
      position: absolute;
      top: 45%;
      left: @iPageLabelLeft + @iPageInnerPadding;
      width: 45%;
      font-size: 50px;
      line-height: 58px;
    }
    @media @max_small {
      & + .iStart__subtitle {
        margin-top: 20px;
      }
    }
  }
  &__subtitle {
    font-size: 14px;
    line-height: 22px;
    @media @min_small {
      position: absolute;
      top: 80%;
      left: 50%;
      max-width: 455px;
      font-size: 18px;
      line-height: 30px;
    }
    @media @max_small {
      padding-left: 25px;
      text-align: right;
    }
  }
}

.iMission {
  position: relative;
  &__bg {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: auto;
    height: 100%;
  }
  &__pretitle {
    font-weight: bold;
    color: #59B4E6;
    @media @min_small {
      margin-top: 30px;
      margin-left: @iPageLabelLeft;
      max-width: 455px;
      font-size: 30px;
    }
    @media @max_small {
      order: 2;
      font-size: 22px;
      line-height: 27px;
      width: 100%;
      padding-left: 50px;
      & + .iMission__title {
        margin-bottom: 25px;
      }
    }
    @media @max_mini {
      font-size: 15px;
      line-height: 20px;
      padding-left: 40%;
    }
  }
  &__title {
    font-weight: bold;
    @media @min_small {
      position: absolute;
      top: 35%;
      right: 45px;
      width: 75%;
      max-width: 1073px;
      font-size: 50px;
    }
    @media @max_small {
      order: 1;
      font-size: 26px;
      line-height: 36px;
    }
    @media @max_mini {
      font-size: 20px;
      line-height: 26px;
    }
  }
  @media @max_small {
    .page {
      &__inner {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

.iGeo {
  margin-top: 0;
  @media @min_small {
    padding-top: @iOffsetTop;
    min-height: 100vh;
  }
  @media @max_small {
    width: 100%;
    padding: 0;
    overflow: hidden;
  }
  &__wrapper {
    z-index: 10;
    @media @max_small {
      position: relative;
      overflow-x: scroll;
      overflow-y: hidden;
      height: 508px;
      margin-bottom: -25px;
    }
  }
  &__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1200px;
    height: 100%;
    text-align: center;
    span {
      position: absolute;
      top: 50px;
      right: 0;
      font-size: 500px;
      font-weight: bold;
      color: #9ad1ef;
      opacity: 0.25;
      z-index: 0;
    }
    img {
      @media @min_small {
        display: none;
        min-width: 896px;
        margin-top: 63px;
      }
      max-height: 100%;
    }
  }
  &__title {
    font-size: 26px;
    line-height: 33px;
    font-weight: bold;
    @media @min_small {
      position: absolute;
      top: 25px;
      left: @iPageLabelLeft + @iPageInnerPadding;
      font-size: 50px;
    }
  }
  &__items {
    @media @min_small {
      position: absolute;
      top: 0;
      width: 100%;
      height: calc(~'100% - 125px');
      left: 50%;
      transform: translateX(-50%);
    }
    @media @max_small {
      position: relative;
      min-width: 1200px;
      min-height: 100%;
    }
  }
  &__item {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    display: flex;
    align-items: center;
    color: #ffffff;
    background: #5CB3E5;
    padding: 0 50px;
    min-width: 277px;
    min-height: 72px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: bold;
    &--small {
      width: 266px;
      height: 71px;
      @media @max_small {
        width: 188px;
        height: 48px;
      }
    }
    &--middle {
      width: 326px;
      height: 85px;
      @media @max_small {
        width: 231px;
        height: 59px;
      }
    }
    &--big {
      width: 374px;
      height: 98px;
      @media @max_small {
        width: 296px;
        height: 72px;
      }
    }
    &--active {
      opacity: 1;
      transform: scale(1);
    }
    &:after {
      content: '';
      position: absolute;
      width: 27px;
      height: 1px;
      background: #ffffff;
      right: 30px;
      top: 50%;
      transform: translateY(-50%) translateZ(0);
    }
    label {
      background: #59B4E6;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 1.2px;
      padding: 0 10px;
      height: 20px;
      margin-left: 15px;
      display: flex;
      align-items: center;
    }
  }
  .page {
    &__center {
      z-index: 20;
    }
  }
}

.iAdvantages {
  z-index: 5;
  &-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    @media @min_small {
      height: 100%;
    }
    @media @max_small {
      justify-content: space-between;
    }
  }
  &-item {
    width: 100%;
    padding-top: 19px;
    @media @min_mini {
      width: calc(~"100%/2 - 25px");
    }
    @media @min_small {
      width: calc(~"100%/3 - 75px");
      padding-top: 23px;
      &:nth-child(1) {
        margin-top: 65px;
      }

      &:nth-child(3) {
        margin-top: 85px;
      }

      &:nth-child(5) {
        margin-top: 25px;
      }
    }
    @media @max_small {
      margin-bottom: 47px;
    }
    &--bordered {
      border-top: 7px solid;
      @media @max_small {
        border-top-width: 2px;
      }
      &--blue {
        border-color: #59B4E6;
      }
      &--green {
        border-color: #95C11B;
      }
      &--red {
        border-color: #C32118;
      }
      &--gray {
        border-color: #E6EBF2;
      }
      &--yellow {
        border-color: #FCD300;
      }
    }
    &__title {
      margin-bottom: 19px;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      @media @min_small {
        font-size: 24px;
        line-height: 30px;
      }
    }
    &__desc {
      color: #6F8FB9;
      font-size: 14px;
      line-height: 21px;
    }
  }
}

.iDigits {
  max-width: 100%;
  .page__center {
    background: transparent;
  }
  @media @min_small {
    &-slides {
      &.owl-carousel {
        display: flex;
        align-items: center;
      }
      height: calc(~'100% - 165px');
    }
  }
  @media @max_small {
    &-slides {
      & + .iDigits-values {
        margin-top: 37px;
      }
    }
  }
  &-item {
    display: flex;
    justify-content: space-between;
    @media @min_small {
      //padding: 100px 0 100px @iPageLabelLeft;
      padding-left: @iPageLabelLeft;
    }
    @media @max_small {
      flex-wrap: wrap;
    }
    &__title {
      display: flex;
      align-items: center;
      font-size: 50px;
      font-weight: bold;
      line-height: 58px;
      @media @max_small {
        order: 2;
        width: 100%;
        font-size: 26px;
        line-height: 36px;
        & + .iDigits-item__value {
          margin-bottom: 25px;
        }
      }
      @media @max_mini {
        font-size: 20px;
        line-height: 26px;
      }
    }
    &__value {
      display: flex;
      font-size: 325px;
      @media @max_small {
        order: 1;
        width: auto;
        font-size: 110px;
      }
      @media @max_mini {
        font-size: 95px;
      }
      span {
        margin-left: -1px;
        margin-top: -1px;
        margin-bottom: -1px;
      }
    }
  }
  &-values {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #59B4E6;
    @media @max_small {
      .owl-item {
        &:last-child {
          .iDigits {
            &-values {
              &__item {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
    &__item {
      border-top: 2px solid transparent;
      padding-top: 25px;
      cursor: pointer;
      font-size: 80px;
      font-weight: bold;
      line-height: 109px;
      color: #DCE7FC;
      transition: 0.3s ease-out;
      @media @max_small {
        padding-top: 12px;
        font-size: 36px;
        line-height: 49px;
        margin-right: 25px;
      }
      &--active {
        border-color: #59B4E6;
        color: #9AD1EF;
        transition: 0.3s ease-in;
      }
    }
  }
  .owl {
    &-nav {
      position: absolute;
      bottom: 25px;
      right: 0;
      button {
        &.owl {
          &-prev, &-next {
            width: 35px;
            height: 35px;
            border-radius: 100%;
            background: #EFF4FD;
            color: #6E7F95;
            font-family: icomoon!important;
            text-align: center;
            &.disabled {
              opacity: 0.5;
              cursor: default;
            }
            span {
              display: none;
            }
            &:before {
              position: relative;
              top: -2px;
              font-size: 14px;
            }
          }
          &-prev {
            &:before {
              content: '\e904';
            }
          }
          &-next {
            margin-left: 5px;
            &:before {
              content: '\e905';
            }
          }
        }
      }
    }
  }
}

.iRatings {
  margin-top: 0;
  background: url('../img/about/iRatings-bg.jpg') #091C34 center no-repeat;
  background-size: cover;
  @media @min_small {
    padding-top: @iOffsetTop;
    height: 100vh;
    &.active {
      .iRatings {
        &-item {
          transition: 0.3s ease-out;
          opacity: 1;
          transform: scale(1);
          &:nth-child(1){
            transition-delay: 0.1s;
          }
          &:nth-child(2){
            transition-delay: 0.3s;
          }
          &:nth-child(3){
            transition-delay: 0.5s;
          }
          &:nth-child(4){
            transition-delay: 0.7s;
          }
          &:nth-child(5){
            transition-delay: 0.2s;
          }
          &:nth-child(6){
            transition-delay: 0.4s;
          }
          &:nth-child(7){
            transition-delay: 0.6s;
          }
        }
      }
    }
  }
  @media @max_small {
    padding-bottom: 60px - 47px;
  }
  &-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media @min_small {
      margin-top: 50px;
      justify-content: center;
    }
  }
  &-item {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    @media @min_small {
      width: 280px;
      height: 280px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 100%;
      margin: 0 35px 30px;
      padding: 0px 30px 0 40px;
      transition: 0.3s ease-out;
      opacity: 0;
      transform: scale(0);
      &:before {
        content: '';
        position: absolute;
        top: 30px;
        left: 30px;
        width: 21px;
        height: 21px;
        background-color: #59B4E6;
        border-radius: 100%;
      }
    }
    &:first-child {
      margin-left: 0;
    }
    @media @max_small {
      margin-bottom: 47px;
      width: calc(~'100%/2 - 15px');
    }
    @media @max_mini {
      margin-bottom: 47px;
      width: 100%;
    }
    &__line {
      display: flex;
    }
    &__digit {
      font-weight: bold;
      font-size: 44px;
      line-height: 50px;
      @media @min_small {
        font-size: 80px;
        line-height: 64px;
      }
    }
    &__text {
      opacity: 0.8;
      font-size: 12px;
      line-height: 16px;
      @media @min_small {
        margin-top: 20px;
        font-size: 14px;
        line-height: 19px;
      }
      @media @max_mini {
        padding-right: 60px;
      }
    }
    &__image {
      padding-top: 11px;
      margin-left: 21px;
      @media @min_small {
        padding-top: 5px;
      }
      img {
        max-width: 93px;
        opacity: 0.8;
      }
    }
  }
}

.iLeadership {
  @iLeadership_height: 367px;
  @iLeadership_width: 290px;
  @iLeadership_margin: 15px;
  @media @min_small {
    overflow: hidden;
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 200px;
      height: 100%;
      background-image: linear-gradient(to right, rgba(white, 0) 16px, white);
    }
  }
  &.opened {
    width: inherit;
    &:after {
      display: none;
    }
    .page {
      &__center {
        max-width: inherit;
      }
    }
  }
  .page {
    &__center {
      min-height: calc(~"100vh - @{iOffsetTop} - 88px");
      max-height: calc(~"100vh - @{iOffsetTop} - 88px");
      transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
      &.opened {
        max-height: initial;
        transition: max-height 0.3s ease-in-out;
        .page {
          &__inner {
            &:after {
              display: none;
            }
          }
        }
      }
      .button-aurora {
        z-index: 50;
        @media @min_small {
          position: absolute;
          right: 0;
          bottom: 0;
        }
        @media @max_small {
          position: relative;
          margin-top: 25px;
          margin-right: 20px;
          margin-left: auto;
          float: right;
          &.opened {
            padding-right: 20px;
            text-align: right;
            min-width: initial;
          }
        }
      }
    }
    &__inner {
      min-height: inherit;
      max-height: inherit;
      @media @max_small {
        overflow: hidden;
        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100px;
          background-image: linear-gradient(to bottom, rgba(white, 0) 16px, white);
        }
      }
    }
  }

  &__items {
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    @media @min_small {
      flex-direction: column;
    }
    @media @max_small {
      justify-content: space-between;
    }
  }
  &-item {
    display: flex;
    width: 50%;
    height: 320px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    @media @max_small {
      padding: 15px;
      color: #ffffff;
      flex-direction: column;
      justify-content: flex-end;
    }
    @media @max_mini {
      min-width: 100%;
    }
    @media @min_mini {
      height: 198px;
      min-width: calc(~'100%/2 - 10px');
    }
    @media @min_small {
      min-height: 255px;
      min-width: @iLeadership_width;
      height: calc(~"50% - 15px");
      margin-right: @iLeadership_margin;
      margin-bottom: @iLeadership_margin;
      span {
        display: none;
      }
    }
    &:nth-child(2n){
      @media @min_mini {
        margin-bottom: 0;
      }
    }
    &__name {
      font-weight: bold;
      font-size: 12px;
      line-height: 17px;
    }
    &__position {
      font-size: 10px;
      line-height: 12px;
    }
  }
  &-modal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 250px;
    &__left {
      width: 300px;
      @media @max_small {
        width: 100%;
        & + .iLeadership {
          &-modal {
            &__right {
              margin-top: 25px;
            }
          }
        }
      }
    }
    &__right {
      min-width: 300px;
      width: calc(~"100% - 300px - 50px");
      @media @max_small {
        min-width: 100%;
        width: 100%;
      }
    }
    &__name {
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      & + .iLeadership-modal__position {
        margin-top: 13px;
      }
      & + .iLeadership-modal__title {
        margin-top: 53px;
        @media @max_small {
          margin-top: 25px;
        }
      }
    }
    &__position {
      font-size: 14px;
      line-height: 18px;
      color: #657385;
      & + .iLeadership-modal__title {
        margin-top: 53px;
        @media @max_small {
          margin-top: 25px;
        }
      }
    }
    &__title {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      & + .iLeadership-modal__text {
        margin-top: 13px;
      }
    }
    &__text {
      font-size: 14px;
      line-height: 21px;
      p, li {
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      & + .iLeadership-modal__title {
        margin-top: 30px;
      }
      & + .iLeadership-modal__text {
        margin-top: 23px;
      }
    }
  }
}

.iPartners {
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 55px;
    min-height: calc(~'100vh - @{iOffsetTop} - 105px');
    max-height: calc(~'100vh - @{iOffsetTop} - 105px');
    align-items: center;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(~"100%/5 - 15px");
    height: 100px;

    @media @max_small {
      width: calc(~"100%/2 - 25px");
    }
    @media @max_mini {
      padding: 0 10px;
    }
  }
}

.iHistory {
  .page {
    &__inner {
      max-height: calc(~'100% - 125px');
    }
    &__center {
      padding: 50px 0;
    }
  }
  &-ruler {
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
    @media @max_small {
      margin-bottom: 20px;
    }
    &__left, &__right {
      width: 85px;
      font-size: 26px;
      line-height: 36px;
      cursor: pointer;
      @media @max_small {
        width: 50px;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
      }
    }
    &__left {
      text-align: left;
    }
    &__right {
      text-align: right;
    }
    &__line {
      position: relative;
      width: calc(~"100% - 170px");
      height: 80px;
      overflow: hidden;
      @media @max_small {
        width: calc(~"100% - 100px");
      }
      &:before {
        content: '';
        position: absolute;
        top: 20px;
        width: 100%;
        height: 1px;
        background: rgba(110,127,149,0.98);
      }
    }
    &__pipe {
      position: absolute;
      bottom: 0;
      left: -200px;
      width: 140px;
      height: 40px;
      background: #DCE7FC;
      z-index: -10;
    }
    &__item {
      min-width: 120px;
      height: 80px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 2px;
        height: 10px;
        background: rgba(110,127,149,0.98);
        left: 50%;
        top: 21px;
        @media @max_small {
          left: 15px;
        }
      }
      &--active {
        a {
          color: #000000;
        }
      }
      a {
        position: relative;
        display: flex;
        align-items: center;
        width: 140px;
        height: 40px;
        font-size: 18px;
        line-height: 24px;
        position: relative;
        top: 40px;
        left: 50%;
        padding: 0 8px;
        margin-left: -8px;
      }
    }
  }
  &-events {
    min-height: 425px;
  }
  &-event {
    display: flex;
    justify-content: space-between;
    @media @max_small {
      flex-wrap: wrap;
    }
    &__left, &__right {
      width: 50%;
      @media @max_small {
        width: 100%;
      }
    }
    &__left {
      padding: 36px 0;
      @media @max_small {
        order: 2;
      }
    }
    &__right {
      @media @max_small {
        order: 1;
      }
    }
    &__title {
      font-size: 34px;
      font-weight: bold;
      line-height: 46px;
      margin-bottom: 24px;
      @media @max_small {
        font-size: 26px;
        line-height: 36px;
      }
    }
    &__anons {
      color: #6F8FB9;
      font-size: 22px;
      line-height: 31px;
      margin-bottom: 20px;
      @media @max_small {
        font-size: 16px;
        line-height: 24px;
      }
    }
    &__text {
      font-size: 18px;
      line-height: 25px;
      @media @max_small {
        font-size: 12px;
        line-height: 18px;
      }
    }
    &__image {
      max-width: 100%;
      max-height: 425px;
      width: auto !important;
      height: auto;
      float: right;
    }
  }
}
