@extra: 	~"screen and (max-width: 1200px)";
@large: 	~"screen and (max-width: 992px)";
@middle: 	~"screen and (max-width: 768px)";
@small: 	~"screen and (max-width: 576px)";

@iScrollWidth: 1600px;
@iOffsetTop: 155px;
@iOffsetBottom: 155px;
@iPageLabelLeft: 200px;
@iPageInnerPadding: 40px;

.iziModal {
  &-close {
    position: fixed;
    top: 0;
    left: 100%;
    width: 54px;
    height: 54px;
    background: #0F1C2D;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    padding-left: 2px;
    color: #ffffff;
  }
}

body {
  &.with-scrollbar {
    .iScroll {
      &__item {
        min-width: calc(~'100vw - 17px');
      }
    }
  }
}

.page-center-h100 {
  min-height: calc(~'100vh - @{iOffsetTop}');
  height: 100%;
}
.header {
  .page {
    &__center {
      //background: #cc3829;
    }
  }
}

.about {
  &-slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    min-height: 750px;
    max-width: 100vw;
    width: 100%;
    overflow: hidden;
    .gantt {
      &-slider {
        &__crop {
          min-height: 100vh;
          height: 100%;
          &:before, &:after {
            display: none;
          }
        }
        &__ctrl {
          margin-top: -50px;
        }
      }
    }
  }
}

.iScroll {
  display: flex;
  flex-wrap: nowrap;
  min-height: 100vh;
  &-2 {
    width: calc(~"@{iScrollWidth}*2");
  }
  &-3 {
    width: calc(~"@{iScrollWidth}*3");
  }
  &-4 {
    width: calc(~"@{iScrollWidth}*4");
  }
  &-5 {
    width: calc(~"@{iScrollWidth}*5");
  }
  &-6 {
    width: calc(~"@{iScrollWidth}*6");
  }
  &-7 {
    width: calc(~"@{iScrollWidth}*7");
  }
  &-8 {
    width: calc(~"@{iScrollWidth}*8");
  }
  &-9 {
    width: calc(~"@{iScrollWidth}*9");
  }
  &-10 {
    width: calc(~"@{iScrollWidth}*10");
  }
  &__item {
    position: relative;
    min-width: 100vw;
    width: @iScrollWidth;
    @media screen and (max-width: @iScrollWidth){
      min-width: @iScrollWidth;
    }
    //min-height: calc(~'100vh - @{iOffsetTop}');
    //height: 100%;
    margin-top: @iOffsetTop;
  }
  .page {
    &__center {
      position: relative;
      //background: rgba(245, 109, 103, 0.36);
      .page-center-h100;
    }
    &__inner {
      position: relative;
      .page-center-h100;
    }
  }
}

.iStart {
  position: relative;
  &__img {
    position: absolute;
    top: 30px;
    left: @iPageInnerPadding + @iPageLabelLeft + 100px;
  }
  &__title {
    position: absolute;
    top: 45%;
    left: @iPageLabelLeft + @iPageInnerPadding;
    width: 45%;
    font-size: 50px;
    font-weight: bold;
    line-height: 58px;
  }
  &__subtitle {
    position: absolute;
    top: 72%;
    left: 50%;
    max-width: 455px;
    font-size: 18px;
    line-height: 30px;
  }
}

.iMission {
  position: relative;
  &__bg {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: auto;
    height: 100%;
  }
  &__pretitle {
    margin-top: 30px;
    margin-left: @iPageLabelLeft;
    max-width: 455px;
    color: #59B4E6;
    font-weight: bold;
    font-size: 30px;
  }
  &__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 45px;
    width: 75%;
    max-width: 1073px;
    font-weight: bold;
    font-size: 50px;
  }
}

.iGeo {
  margin-top: 0;
  padding-top: @iOffsetTop;
  min-height: 100vh;
  &__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    img {
      margin-top: 63px;
      max-height: 100%;
    }
  }
  &__title {
    position: absolute;
    top: 25px;
    left: @iPageLabelLeft + @iPageInnerPadding;
    font-size: 50px;
    font-weight: bold;
  }
  &__items {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  &__item {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0);
    opacity: 0;
    display: flex;
    align-items: center;
    color: #ffffff;
    background: #5CB3E5;
    padding: 0 50px;
    min-width: 277px;
    min-height: 72px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: bold;
    transition: 0.3s ease-out;
    &--active {
      opacity: 1;
      transform: scale(1);
      transition: 0.3s ease-in;
    }
    &:after {
      content: '';
      position: absolute;
      width: 27px;
      height: 1px;
      background: #ffffff;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
    }
    label {
      background: #59B4E6;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 1.2px;
      padding: 0 10px;
      height: 20px;
      margin-left: 15px;
      display: flex;
      align-items: center;
    }
  }
}

.iAdvantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  &__item {
    width: calc(~"100%/3 - 75px");
  }
  &Item {
    padding-top: 23px;
    &:nth-child(1){
      margin-top: 65px;
    }
    &:nth-child(3) {
      margin-top: 85px;
    }
    &:nth-child(5){
      margin-top: 25px;
    }
    &--bordered {
      border-top: 7px solid;
      &--blue {
        border-color: #59B4E6;
      }
      &--green {
        border-color: #95C11B;
      }
      &--red {
        border-color: #C32118;
      }
      &--gray {
        border-color: #E6EBF2;
      }
      &--yellow {
        border-color: #FCD300;
      }
    }
    &__title {
      margin-bottom: 24px;
      font-weight: bold;
      font-size: 24px;
    }
    &__desc {
      color: #6F8FB9;
      font-size: 14px;
    }
  }
}

.iDigits {
  .page__center {
    background: transparent;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 100px @iPageLabelLeft;
    &__title {
      display: flex;
      align-items: center;
      font-size: 50px;
      font-weight: bold;
      line-height: 58px;
    }
    &__value {
      display: flex;
      font-size: 325px;
      span {
        margin-left: -1px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
  &-values {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #59B4E6;
    &__item {
      padding-top: 25px;
      cursor: pointer;
      font-size: 80px;
      font-weight: bold;
      line-height: 109px;
      color: #DCE7FC;
      transition: 0.3s ease-out;
      &--active {
        border-top: 2px solid #59B4E6;
        color: #9AD1EF;
        transition: 0.3s ease-in;
      }
    }
  }
  .owl {
    &-nav {
      position: absolute;
      bottom: 25px;
      right: 0;
      button {
        &.owl {
          &-prev, &-next {
            width: 35px;
            height: 35px;
            border-radius: 100%;
            background: #EFF4FD;
            color: #6E7F95;
            font-family: icomoon!important;
            &.disabled {
              opacity: 0.5;
              cursor: default;
            }
            span {
              display: none;
            }
            &:before {
              position: relative;
              top: -2px;
              font-size: 14px;
            }
          }
          &-prev {
            &:before {
              content: '\e904';
            }
          }
          &-next {
            margin-left: 5px;
            &:before {
              content: '\e905';
            }
          }
        }
      }
    }
  }
}

.iRatings {
  margin-top: 0;
  padding-top: @iOffsetTop;
  height: 100vh;
  background: url('../img/about/iRatings-bg.jpg') #091C34 center no-repeat;
  background-size: cover;
  &__items {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 280px;
    height: 280px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    margin: 0 35px 30px;
    padding: 0px 30px 0 40px;
    color: #ffffff;
    &:first-child {
      margin-left: 0;
    }
    &:before {
      content: '';
      position: absolute;
      top: 30px;
      left: 30px;
      width: 21px;
      height: 21px;
      background-color: #59B4E6;
      border-radius: 100%;
    }
  }
  &-item {
    &__line {
      display: flex;
    }
    &__digit {
      font-weight: bold;
      font-size: 80px;
      line-height: 64px;
    }
    &__text {
      margin-top: 20px;
      font-size: 14px;
      line-height: 19px;
      opacity: 0.8;
    }
    &__image {
      padding-top: 5px;
      margin-left: 21px;
      img {
        max-width: 93px;
        opacity: 0.8;
      }
    }
  }
}

.iPartners {
  display: flex;
  flex-wrap: wrap;
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(~"100%/5 - 15px");
    height: 150px;

    @media @extra {
      width: calc(~"100%/4 - 15px");
    }
    @media @large {
      width: calc(~"100%/3 - 15px");
    }
    @media @middle {
      width: calc(~"100%/2 - 15px");
    }
    @media @small {
      width: 100%;
    }
  }
}

.iHistory {
  .page {
    &__center {
      padding: 50px 0;
    }
  }
  &-ruler {
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
    &__left, &__right {
      width: 85px;
      font-size: 26px;
      line-height: 36px;
    }
    &__left {
      text-align: left;
    }
    &__right {
      text-align: right;
    }
    &__line {
      position: relative;
      width: calc(~"100% - 170px");
      height: 80px;
      &:before {
        content: '';
        position: absolute;
        top: 20px;
        width: 100%;
        height: 1px;
        background: rgba(110,127,149,0.98);
      }
    }
    &__item {
      min-width: 120px;
      height: 80px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 2px;
        height: 10px;
        background: rgba(110,127,149,0.98);
        left: 50%;
        top: 21px;
      }
      &--active {
        a {
          background: #DCE7FC;
          color: #000000;
        }
      }
      a {
        display: flex;
        align-items: center;
        width: 140px;
        height: 40px;
        font-size: 18px;
        line-height: 24px;
        position: relative;
        top: 40px;
        left: 50%;
        padding: 0 8px;
        margin-left: -8px;
      }
    }
  }
  &-events {
    min-height: 625px;
  }
  &-event {
    display: flex;
    justify-content: space-between;
    &__left, &__right {
      width: 50%;
    }
    &__left {
      padding: 36px 0;
    }
    &__title {
      font-size: 34px;
      font-weight: bold;
      line-height: 46px;
      margin-bottom: 24px;
    }
    &__anons {
      color: #6F8FB9;
      font-size: 22px;
      line-height: 31px;
      margin-bottom: 20px;
    }
    &__text {
      font-size: 18px;
      line-height: 25px;
    }
    &__image {
      max-width: 100%;
      max-height: 425px;
      width: auto !important;
      height: auto;
      float: right;
    }
  }
}

.iLeadership {
  @iLeadership_height: 367px;
  @iLeadership_width: 290px;
  @iLeadership_margin: 15px;
  overflow: hidden;
  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-image: linear-gradient(to right, rgba(white, 0) 16px, white);
  }
  .page {
    &__center {
      min-height: calc(~"100vh - @{iOffsetTop} - 50px");
      max-height: calc(~"100vh - @{iOffsetTop} - 50px");
      .button {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 50;
      }
    }
    &__inner {
      min-height: inherit;
      max-height: inherit;
    }
  }
  &__items {
    height: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  &-item {
    display: flex;
    width: @iLeadership_width;
    //height: @iLeadership_height;
    min-height: 267px;
    height: calc(~"50% - 15px");
    margin-right: @iLeadership_margin;
    margin-bottom: @iLeadership_margin;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &:nth-child(2n){
      margin-bottom: 0;
    }
  }
  &-modal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 250px;
    &__left {
      width: 300px;
    }
    &__right {
      min-width: 300px;
      width: calc(~"100% - 300px - 50px");
    }
    &__name {
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      & + .iLeadership-modal__position {
        margin-top: 13px;
      }
      & + .iLeadership-modal__title {
        margin-top: 53px;
      }
    }
    &__position {
      font-size: 14px;
      line-height: 18px;
      color: #657385;
      & + .iLeadership-modal__title {
        margin-top: 53px;
      }
    }
    &__title {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      & + .iLeadership-modal__text {
        margin-top: 13px;
      }
    }
    &__text {
      font-size: 14px;
      line-height: 21px;
      p, li {
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      & + .iLeadership-modal__title {
        margin-top: 30px;
      }
      & + .iLeadership-modal__text {
        margin-top: 23px;
      }
    }
  }
}
