
// vendor
@import '../../bower_components/destyle.css/destyle';
@import '../../bower_components/slick-carousel/slick/slick.css';
@import '../../bower_components/perfect-scrollbar/css/perfect-scrollbar';
@import 'vendor/bootstrap-transitions';

// sprites
.icon {
	display: inline-block;
}

@import "../../temp/css/sprite";
@include retina-sprites($retina-groups);

// partials
@import '_fonts';
@import '_helpers';
@import '_mixins';
@import '_colors';
@import '_typos';

body {
	min-width: 360px;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.42;
	color: #000000;
}

a {
	transition: color .2s;
	color: #6f8fb9;

	&:hover {
		color: lighten(#6f8fb9, 10%);
	}
}

strong {
	font-weight: 700;
}

img {
	max-width: 100%;
	height: auto;
}

.nobr {
	white-space: nowrap;
}

// blocks
@import 'blocks/button';
@import 'blocks/arrow';
@import 'blocks/nav-social';
@import 'blocks/nav-pager';
@import 'blocks/article';
@import 'blocks/page';
@import 'blocks/header';
@import 'blocks/footer';
@import 'blocks/overview';
@import 'blocks/gantt-slider';
@import 'blocks/slider-digits';
@import 'blocks/slider-content';
@import 'blocks/news';
@import 'blocks/press-center';
@import 'blocks/vacancies';
@import 'blocks/article-cards';
@import 'blocks/cats-scroll';



