
// reset
@import '../../bower_components/destyle.css/destyle';

// vendor
@import 'vendor/bootstrap-transitions';

// sprites
.icon {
	display: inline-block;
}

@import "../../temp/css/sprite";
@include retina-sprites($retina-groups);

// partials
@import '_fonts';
@import '_helpers';
@import '_mixins';
@import '_colors';

body {
	min-width: 320px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.42;
	color: #000000;
}

a {
	transition: color .2s;
}

img {
	max-width: 100%;
	height: auto;
}

// blocks
@import 'blocks/im-header';
@import 'blocks/im-page';
@import 'blocks/im-footer';
@import 'blocks/im-overview';
@import 'blocks/im-digits';
@import 'blocks/im-slider';



