
// vendor
@import '../../node_modules/destyle.css/destyle';
@import '../../node_modules/owl.carousel/dist/assets/owl.carousel.css';
@import '../../node_modules/owl.carousel/dist/assets/owl.theme.default.css';
@import '../../node_modules/swiper/dist/css/swiper.css';
@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css';
@import 'vendor/bootstrap-transitions';
@import 'vendor/perfect-scrollbar';
@import 'vendor/notifyjs';

// sprites
.icon {
	display: inline-block;
}

@import "../../temp/css/sprite";
@include retina-sprites($retina-groups);

// partials
@import '_variables';
@import '_vendor-fix';
@import '_fonts';
@import '_helpers';
@import '_mixins';
@import '_defaults';

html {
	&.vh100 {
		min-height: 100vh;
		body {
			min-height: 100vh;
		}
	}
}

body {
	min-width: 320px;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1;
	color: #000000;
}



a {
	transition: color .2s;
	color: #6f8fb9;

	&:hover {
		color: lighten(#6f8fb9, 10%);
	}
}

strong {
	font-weight: 700;
}

img {
	max-width: 100%;
	height: auto;
}

.nobr {
	white-space: nowrap;
}

// blocks
@import 'blocks/search';
@import 'blocks/slider-nav';
@import 'blocks/bg-layer';
@import 'blocks/loader';
@import 'blocks/loader-main';
@import 'blocks/loader-ajax';
@import 'blocks/rangeslider';
@import 'blocks/buttons/button-aurora';
@import 'blocks/inputs/input-brianna';
@import 'blocks/inputs/input-barbara';
@import 'blocks/arrows/arrow-ciara';
@import 'blocks/arrows/arrow-carina';
@import 'blocks/nav-social';
@import 'blocks/nav-pager';
@import 'blocks/nav-side';
@import 'blocks/nav-filter';
@import 'blocks/nav-cats';
@import 'blocks/nav-video';
@import 'blocks/nav-banner';
@import 'blocks/nav-mobile';
@import 'blocks/nav-options';
@import 'blocks/nav-sticker';
@import 'blocks/article';
@import 'blocks/page';
@import 'blocks/header';
@import 'blocks/footer';
@import 'blocks/overview';
@import 'blocks/gantt-slider';
@import 'blocks/cities-slider';
@import 'blocks/slider-digits';
@import 'blocks/slider-content';
@import 'blocks/slider-tabs';
@import 'blocks/news';
@import 'blocks/press-center';
@import 'blocks/vacancies';
@import 'blocks/article-cards';
@import 'blocks/cats-scroll';
@import 'blocks/subscribe';
@import 'blocks/brand-box';
@import 'blocks/banner';
@import 'blocks/form';
@import 'blocks/form-search';
@import 'blocks/form-filter';
@import 'blocks/form-job';
@import 'blocks/history';
@import 'blocks/catalog';

@import 'blocks/news-details';
@import 'blocks/news-slider';
@import 'blocks/tech-promo';
@import 'blocks/popup';
@import 'blocks/success';

@media all and (max-width: 600px) {

	body {
	    font-size: 14px;
	}
	
}

