.advantages {

}

.advantages__slider {
    position: relative;
    color: white;
    margin-top: 40px;
    padding: 65px 0;
    padding-bottom: 120px;
    @media screen and (max-width: 800px) {
        padding: 30px 0;
        margin-left: -30px;
        margin-right: -30px;
    }
    @media screen and (max-width: 600px) {
        padding: 35px 0;
        margin-left: -20px;
        margin-right: -20px;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(black, .35);
    }
    .swiper-slide {
        box-sizing: border-box;
        height: auto;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 800px) {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .swiper-container {
        padding: 0 50px;
        @media screen and (max-width: 800px) {
            padding: 0 30px;
        }
        @media screen and (max-width: 600px) {
            padding: 0 20px;
        }
    }


    .swiper-wrapper {
        @media screen and (max-width: 800px) {
            flex-direction: column;
        }
    }
}

.advantages__slider-card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


.advantages__slider-nav {
    position: absolute;
    right: 75px;
    bottom: 65px;
    @media screen and (max-width: 800px) {
        display: none;
    }
}


.advantages__slider-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -2;
}



.advantages__slider-heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
    @media screen and (max-width: 800px) {
        margin-bottom: 10px;
    }
}


.advantages__slider-text {
    font-size: 18px;
    line-height: 28px;
    margin-top: auto;
    font-weight: 300;
    @media screen and (max-width: 800px) {
        font-size: 14px;
    }
    &::before {
        content: '';
        width: 100%;
        height: 1px;
        display: block;
        background-color: #979797;
        margin-bottom: 15px;
        @media screen and (max-width: 800px) {
            background-color: white;
            margin-bottom: 10px;
        }
    }
}