
.article-cards {

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -12px;
		margin-top: -55px;
	}

	&__col {
		margin-top: 55px;
		width: 33.33%;
		max-width: 33.33%;
		padding: 0 12px;
		display: flex;

		&--gradient-1,
		&--gradient-2 {
			&:hover {
				.article-cards__image {
					filter: hue-rotate(10deg);
				}
			}
		}


		&--gradient-1 {
			.article-cards__image {
				background: linear-gradient(45deg,#bb92e5,#58b4e6);
			}
		}

		&--gradient-2 {
			.article-cards__image {
				background: linear-gradient(45deg,#92e0e5,#58b4e6);
			}
		}

		&--no-image {
			.article-cards__desc {
				border-top: 4px solid #59b4e6;
				padding-right: 25px;
				padding-left: 25px;
			}
		}

		&--color-bg {

			.article-cards__image {
				@include position-fill();
			}

			.article-cards__desc {
				position: relative;
				z-index: 1;
				padding: 30px;

				* {
					color: #fff !important;
				}
			}

			.article-cards__text {
				padding-bottom: 60px;
			}

		}
	}

	&__item {
		position: relative;
		width: 100%;
	}

	&__image {
		transition: all .2s;
		position: relative;
		display: block;
		overflow: hidden;

		&:hover {
			.article-cards__image__self {
				transform: scale(1.1);
			}
		}

		&__self {
			transition: all .2s ease-out;
			display: block;
			padding-top: 66.66%;
			background: $base-gray 50% 50% no-repeat;
			background-size: cover;
		}
	}

	&__desc {
		position: relative;
		z-index: 1;
		padding-top: 30px;
	}

	&__h1 {
		margin-bottom: .8em;
		font-size: 24px;
		font-weight: 700;
		line-height: 1.35;

		a {
			color: #000 !important;
		}
	}

	&__h2 {
		margin-bottom: .8em;
		font-size: 18px;
		font-weight: 700;
		line-height: 1.45;

		a {
			color: #000 !important;
		}
	}

	&__text {
		font-size: 14px;
		line-height: 1.7;
		color: rgba(#000, .7);
	}

	&__arrow {
		position: absolute;
		right: 25px;
		bottom: 25px;
	}

}

@media all and (max-width: 1050px) {

	.article-cards {
		
		&__col {
			width: 50%;
			max-width: 50%;
		}

	}

}

@media all and (max-width: 700px) {

	.article-cards {

		&__col {
			width: 100%;
			max-width: none;
		}

		&__col {
			&--no-image {
				.article-cards__desc {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}


}

@media all and (max-width: 600px) {

	.article-cards {

		&__list {
			margin-top: -45px;
		}

		&__col {
			margin-top: 45px;

			&--color-bg {
				.article-cards__desc {
					padding: 30px 25px;
				}
			}
		}

		&__desc {
			padding-top: 25px;
		}

		&__h2 {
			font-size: 16px;
		}

		&__text {
			font-size: 12px;
		}
	}

}