
.article-cards {

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -12px;
		margin-top: -55px;
	}

	&__col {
		margin-top: 55px;
		width: 33.33%;
		max-width: 33.33%;
		padding: 0 12px;
		display: flex;
	}

	&__item {
		position: relative;
		width: 100%;

		&--no-image {
			.article-cards__desc {
				border-top: 4px solid #59b4e6;
				padding-right: 30px;
				padding-left: 30px;
			}
		}

		&--color-bg {

			.article-cards__image {
				@include position-fill();
			}

			.article-cards__desc {
				position: relative;
				z-index: 1;
				padding: 30px;

				* {
					color: #fff !important;
				}
			}

			.article-cards__text {
				padding-bottom: 80px;
			}

		}
	}

	&__image {
		display: block;
		background-color: $base-gray;
		background-size: cover;

		&:before {
			content: " ";
			display: block;
			padding-top: 64.31%;
		}

		img {
			display: none;
		}
	}

	&__desc {
		position: relative;
		z-index: 1;
		padding-top: 30px;
	}

	&__date {
		margin-top: -5px;
	}

	&__h1 {
		@extend .typo-24;
	}

	&__h2 {
		@extend .typo-18;
	}

	&__h3 {
		@extend .typo-17;
	}

	&__text {
		@extend .typo-14;
		color: rgba(#000, .7);
	}

	&__arrow {
		position: absolute;
		right: 25px;
		bottom: 25px;
	}

}

@media all and (max-width: 1300px) {

	.article-cards {
		
		&__col {
			width: 50%;
			max-width: 50%;
		}

	}

}

@media all and (max-width: 700px) {

	.article-cards {

		&__col {
			width: 100%;
			max-width: none;
			
		}

		&__item {
			&--no-image {
				.article-cards__desc {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}


}

@media all and (max-width: 600px) {

	.article-cards {

		&__list {
			margin-top: -45px;
		}

		&__col {
			margin-top: 45px;
		}

		&__item {

			&--color-bg {
				.article-cards__desc {
					padding: 20px;
				}
			}
			
		}

		&__desc {
			padding-top: 20px;
		}

		&__date {
			margin-top: 0;
		}

		&__text {
			font-size: 12px;
		}
	}

}