
.banner {

	position: relative;

	&--dark-text {
		.banner__h1 {
			color: #000;
		}

		.banner__desc {
			color: rgba(#000, .8);
		}
	}

	&--fixed-bg {
		.banner__image {
			background-attachment: fixed;
		}
	}

	&__image {
		@include position-fill();
		background-color: $base-gray;
		background-position: 50% 50%;
		background-size: cover;

		&__change {
			@include position-fill();
		}
	}

	&__text {
		position: relative;
		z-index: 1;
		padding-top: 1px;
	}

	&__content {
		padding: 110px 0;
		max-width: 600px;
	}

	&__label {
		margin-bottom: 15px;
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1.55px;
		color: #59b4e6;
	}

	&__h1 {
		color: #fff;
	}

	&__desc {
		font-size: 18px;
		line-height: 1.7;
		color: rgba(#fff, .8);
	}

	&__button {
		margin: 35px 0;
	}

}


@media all and (max-width: 1300px) {
	.banner {

		&__content {
			padding: .8*100px 0;
		}
	}
}

@media all and (max-width: 1050px) {
	.banner {

		&__content {
			padding: .6*100px 0;
		}
	}
}

@media all and (max-width: 600px) {

	.banner {

		&__header {
			margin-top: 30px;
		}

		&__desc {
			font-size: 14px;
		}
	}
}
