
.banner {

	position: relative;

	&__image {
		@include position-fill();
		background-color: $base-gray;
		background-position: 50% 50%;
		background-attachment: fixed;
		background-size: cover;

		&:after {
			@include position-fill();
			background: rgba(#000, .3);
			content: ' ';
		}
	}

	&__content {
		position: relative;
		padding: 200px 0;
		z-index: 1;
	}

	&__logo {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	&__h1 {
		color: #fff;
	}

	&__desc {
		max-width: 600px;
		font-size: 18px;
		line-height: 1.7;
		color: rgba(#fff, .8);
	}

	&__button {
		margin-top: 25px;
	}

}


@media all and (max-width: 600px) {

	.banner {

		&__logo {
			margin-top: 30px;
		}

		&__content {
			padding: 0.6*200px 0;
		}

		&__desc {
			font-size: 14px;
		}
	}
}
