
.banner {

	position: relative;

	&--dark-text {
		.banner__h1 {
			color: #000;
		}

		.banner__desc {
			color: rgba(#000, .8);
		}

		.nav-banner__item {
			color: rgba(#000, .7);

			&:hover,
			&._active {
				color: rgba(#000, 1);
			}
		}

		.nav-banner__num {
			color: rgba(#000, .3);
		}

		.nav-banner__line {
			background: #59b4e6;
		}
	}

	

	.bx-no-touch &--fixed-bg {
		.banner__image {
			background-attachment: fixed;
		}
	}

	&__header {
		margin-bottom: 0;
	}

	&__image {
		@include position-fill();
		background: $base-gray 50% 50% no-repeat;
		background-size: cover;
	}

	&__text {
		position: relative;
		z-index: 1;
	}

	&__content {
		padding: 110px 0;
		max-width: 600px;
		min-height: 580px;
		@media screen and (max-width: 800px) {
			min-height: auto;
		}
	}

	&__label {
		margin-bottom: 15px;
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1.55px;
		color: #59b4e6;
	}

	&__h1 {
		color: #fff;
	}

	&__desc {
		font-size: 18px;
		line-height: 1.7;
		color: rgba(#fff, .8);
	}

	&__button {
		margin: 35px 0;
	}

}


@media all and (max-width: 1300px) {
	.banner {

		&__content {
			padding: .8*100px 0;
		}
	}
}

@media all and (max-width: 1050px) {
	.banner {

		&__content {
			padding: .6*100px 0;
		}
	}
}

@media all and (max-width: 600px) {

	.banner {

		&__header {
			padding-top: 30px;
		}

		&__desc {
			font-size: 14px;
		}
	}
}
