
.bg-layer {
	@include position-fill();
	background: #000;

	&--light {
		background-color: #fff;
	}

	&--10 {
		opacity: .1;
	}
	&--20 {
		opacity: .2;
	}
	&--30 {
		opacity: .3;
	}
	&--40 {
		opacity: .4;
	}
	&--50 {
		opacity: .5;
	}
	&--60 {
		opacity: .6;
	}
	&--70 {
		opacity: .7;
	}
	&--80 {
		opacity: .8;
	}
	&--90 {
		opacity: .9;
	}
	&--100 {
		opacity: 1;
	}

	&__item {
		@include position-fill();

		&._active {
			z-index: 1;
		}
	}

	&__image {
		@include position-fill();
		background-position: 50% 50%;
		background-size: cover;
	}

	&__video {
		@include position-fill();
		object-fit: cover;
		display: none;

		&._active {
			display: block;
		}
	}

	&__color {
		@include position-fill();
		background: #000;
		opacity: .3;
	}

}