
.brand-box {

	margin-top: 55px;

	&--has-label {
		.brand-box__inner {
			align-items: flex-end;
		}
		.brand-box__desc {
			margin-top: 0;
			margin-bottom: 2px;
		}
	}

	&__inner {
		display: flex;
	}

	&__image {
		flex: 0 0 151px;
	}

	&__desc {
		margin-left: 48px;
		margin-top: 13px;
		font-size: 18px;
		line-height: 1.5;

		&__long {
			display: none;
		}

		span {
			color: #6f8fb9;
		}
	}

}


@media all and (max-width: 1050px) {
	
	.brand-box {

		&--has-label {
			.brand-box__desc {
				margin-left: 30px;
			}
		}

		&__image {
			flex-basis: 130px;
		}

		&__desc {
			margin-left: 45px;
			font-size: 16px;
		}

	}

}


@media all and (max-width: 600px) {
	
	.brand-box {

		margin-top: 17px;

		&--has-label {
			.brand-box__desc {
				flex-basis: auto;
				margin-left: 17px;
				margin-bottom: 0;
			}
		}

		&__inner {
			flex-wrap: wrap;
		}

		&__image {
			flex-basis: 90px;
		}

		&__desc {
			flex-basis: 100%;
			margin-left: 0;
			margin-top: 20px;
			font-size: 12px;
			line-height: 1.7;

			&__long {
				display: block;
			}

			&__short {
				display: none;
			}
			
		}
	}

}
