
.brand-box {

	margin-top: 55px;

	&--has-label {
		
		.brand-box__desc {
			margin-top: 0;
			margin-bottom: 2px;
		}

		.brand-box__inner {
			align-items: flex-end;
		}

		.page__label {
			min-width: auto;
		}
	}

	&__inner {
		display: flex;
	}

	&__image {
		flex: 0 0 151px;
	}

	&__desc {
		margin-left: 49px;
		margin-top: 13px;
	}

	&__text-1 {
		max-width: 360px;
		font-size: 18px;
		line-height: 1.45;
	}

	&__text-2 {
		margin-top: 8px;
		margin-left: 200px;
		max-width: 360px;
		font-size: 14px;
		line-height: 1.7;

		span {
			color: #6f8fb9;
		}
	}

}


@media all and (max-width: 1050px) {
	
	.brand-box {

		&__image {
			flex-basis: 130px;
		}

		&__desc {
			margin-top: 11px;
			margin-left: 40px;
		}

		&__text-1 {
			font-size: 16px;
		}

		&__text-2 {
			margin-left: 170px;
		}
	}

}


@media all and (max-width: 600px) {
	
	.brand-box {

		margin-top: 17px;

		&--has-label {

			.brand-box__desc {
				flex-basis: auto;
				margin-bottom: 0;
				margin-left: 20px;
			}

		}

		&__inner {
			flex-wrap: wrap;
		}

		&__image {
			flex-basis: 90px;
		}

		&__desc {
			flex-basis: 100%;
			margin-top: 20px;
			margin-left: 0;
		}

		&__text-1 {
			max-width: 300px;
			font-size: 12px;
			line-height: 1.7;
		}

		&__text-2 {
			margin-top: 20px;
			margin-left: 0;
			max-width: 300px;
			font-size: 12px;
		}
	
	}

}
