
.brand-box {

	position: relative;
	z-index: 10;
	padding-top: 55px;
	margin-bottom: 100px;


	.page__wrapper--gantt & {
		margin-bottom: 60px;

		@media screen and(max-width: 600px) {
			margin-bottom: 30px;
		}
	}

	&--has-label {
		
		.brand-box__desc {
			margin-top: 17px;
			font-size: 0;
		}

		.page__label {
			min-width: auto;
		}
	}

	&__inner {
		display: flex;
	}

	&__image {
		flex: 0 0 151px;
		margin-right: 49px;
		img {
			&:nth-child(2) {
				display: none;
			}
		}

		.banner--dark & img {
			display: none;
			&:nth-child(2) {
				display: block;
			}
		}
		@media screen and (max-width: 1300px) {
			flex: 0 0 140px;
		}
	}

	&__desc {
		margin-top: 13px;
	}

	&__text-1 {
		max-width: 360px;
		font-size: 18px;
		line-height: 1.45;
	}

	&__text-2 {
		margin-top: 8px;
		margin-left: 200px;
		max-width: 360px;
		font-size: 14px;
		line-height: 1.7;

		span {
			color: #6f8fb9;
		}
	}

}


@media all and (max-width: 1050px) {
	
	.brand-box {

		margin-bottom: 60px;

		&--has-label {

			.brand-box__desc {
				margin-top: 14px;
			}

		}

		&__image {
			flex-basis: 130px;
			margin-right: 40px;
		}

		&__desc {
			margin-top: 11px;
		}

		&__text-1 {
			font-size: 16px;
		}

		&__text-2 {
			margin-left: 170px;
		}
	}

}


@media all and (max-width: 800px) {
	.brand-box__text-2 {
		display: none;
	}
}


@media all and (max-width: 600px) {
	
	.brand-box {

		padding-top: 17px;
		margin-bottom: 40px;

		&--has-label {

			.brand-box__desc {
				flex-basis: auto;
				margin-top: 8px;
			}

		}

		&__inner {
			flex-wrap: wrap;
		}

		&__image {
			flex-basis: 90px;
			margin-right: 20px;
			margin-bottom: 10px;
		}

		&__desc {
			flex-basis: 100%;
			margin-top: 20px;
		}

		&__text-1 {
			max-width: 300px;
			font-size: 12px;
			line-height: 1.7;
		}

		&__text-2 {
			margin-top: 15px;
			margin-left: 0;
			max-width: 300px;
			font-size: 12px;
		}
	
	}

}
