
.button {
	transition: background .2s ease-in;
	display: inline-block;
	user-select: none;
}

.button-default {
	position: relative;
	min-width: 200px;
	padding: 22px 30px;
	padding-right: 87px;
	text-align: left;
	background: #59b4e6;
	color: #fff !important;
	overflow: hidden;

	&:before {
		@include position-fill;
		left: -100%;
		transition: left .2s ease-in;
		background: darken(#59b4e6, 10%);
		content: ' ';
	}

	&:hover {
		&:before {
			left: 0;
		}
	}

	&__text {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		font-size: 18px;
		font-weight: 600;
		line-height: 1.45;
	}

	&__icon {
		position: absolute;
		top: 50%;
		margin-top: -20px;
		right: 10px;
	}
}

@media all and (max-width: 1050px) {
	.button-default {
		padding-left: 25px;
		padding-right: 75px;
		
		&__text {
			font-size: 16px;
		}

		&__icon {
			right: 5px;
		}
	}
}

@media all and (max-width: 600px) {
	.button-default {
		padding: 18px 20px;
		padding-right: 65px;
		
		&__text {
			font-size: 12px;
		}

		&__icon {
			right: 0;
		}
	}
}