
.button {
	transition: background .2s ease-in;
	display: inline-block;
	user-select: none;
}

.button-default {
	position: relative;
	min-width: 200px;
	padding: 23px 30px;
	padding-right: 87px;
	font-size: 18px;
	font-weight: 600;
	text-align: left;
	background: linear-gradient(90deg, darken(#59b4e6, 5%) 50%, #59b4e6 50%);
	background-size: 210%;
	background-position: 100% 0;
	color: #fff !important;

	&:hover {
		background-position: 0 0;
	}

	&__icon {
		position: absolute;
		top: 50%;
		margin-top: -20px;
		right: 10px;
	}
}

@media all and (max-width: 1050px) {
	.button-default {
		padding-left: 25px;
		padding-right: 75px;
		font-size: 16px;

		&__icon {
			right: 5px;
		}
	}
}

@media all and (max-width: 600px) {
	.button-default {
		padding: 18px 20px;
		padding-right: 65px;
		font-size: 12px;

		&__icon {
			right: 0;
		}
	}
}