.digital-portfolio-preview {
    display: none;
    margin-top: 30px;
    @media screen and (max-width: 600px) {
        display: block;
    }
}

.digital-portfolio-preview__heading {
    font-size: 17px;
    font-weight: 700;
    line-height: 1.35;
    margin-bottom: 20px;
}

.digital-portfolio-preview__list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 10px;
    grid-row-gap: 20px;
    padding-top: 20px;
    border-top: 1px solid #e6ebf2;
    margin-bottom: 40px;

    @media screen and (max-width: 340px) {
        font-size: 10px;
    }
}

.digital-portfolio-preview__card {
    display: flex;
    flex-direction: column;
    text-align: center;
  
}

.digital-portfolio-preview__card-icon-container {
    position: relative;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 50%;
    
    &::before {
        content: '';
        display: block;
        padding-bottom: 100%;
    }
}

.digital-portfolio-preview__card-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.digital-portfolio-preview__card-title {
    color: black;
    font-size: 10px;
    line-height: 1.2;
    margin-top: -5px;
    font-weight: 700;

    @media screen and (max-width: 340px) {
        font-size: 9px;
    }
    
}

.digital-portfolio-preview__bottom-row {
    display: flex;
    align-items: center;

    &::after {
        content: '';
        width: 1px;
        height: 1px;
        flex-grow: 1;
        background-color: #e6ebf2;
        margin-left: 25px;
    }


    @media screen and (max-width: 340px) {
        &::after {
            display: none;
        }

        .button-aurora {
            padding-left: 15px;
           
            width: 100%;
        }
    }
}