.error {
    margin-bottom: 230px;
    position: relative;
    margin-top: -50px;
    @media screen and (max-width: 1300px) {
        margin-top: 0;
        margin-bottom: 120px;
    }
    @media screen and (max-width: 800px) {
       
        margin-bottom: 50px;
    }
}


.error__image {
    width: 90%;
    height: auto;
    margin-left: auto;
    display: block;
    @media screen and (max-width: 800px) {
        width: 100%;
        margin-left: 0;
    }
}


.error__button {
    position: absolute;
    left: 0;
    bottom: 32px;
    @media screen and (max-width: 800px) {
        position: relative;
        margin-top: 30px;
        bottom: auto;
    }
}