
.footer {

	padding: 97px 0;
	background: #fff;

	&__line {
		display: flex;
	}

	&__logo {
		margin-right: 6%;

		&__size {
			margin-top: -16px;
			width: 151px;
		}
	}

	&__rest {
		flex-grow: 1;
		display: flex;
	}

	&__menu {
		flex-grow: 1;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -30px;

		&__col {
			max-width: 200px;
			margin-bottom: 30px;
			margin-right: 10%;
		}

		&__title {
			margin-top: 24px;
			font-size: 14px;
			font-weight: 600;
			text-transform: uppercase;
			white-space: nowrap;
			color: #6f8fb9;

			&:first-child {
				margin-top: 0;
			}
		}
		
		&__list {
			margin-top: 28px;
		}

		&__item {
			margin-top: 17px;
			font-size: 14px;
			font-weight: 400;

			&:first-child {
				margin-top: 0;
			}

			a {
				color: #000000;

				&:hover {
					opacity: .8;
				}
			}
		}

	}

	&__find {
		padding-right: 30px;
		padding-left: 50px;
	}

	&__place {
		font-size: 14px;
		width: 260px;
	}

	&__phone {
		margin-top: 32px;
		font-size: 20px;
		font-weight: 700;

		a {
			color: #000000;
		}
	}

	&__email {
		margin-top: 5px;
		font-size: 14px;
		font-weight: 600;
	}

	&__social {
		margin-top: 43px;
	}

	&__info {
		margin-top: 93px;
		font-size: 0;

		&__item {
			display: inline-block;
			margin-right: 34px;
			font-size: 11px;
			font-weight: 600;
			color: #c4c4c4;

			a {
				color: #c4c4c4;

				&:hover {
					color: darken(#c4c4c4, 10%);
				}
			}
		}
	}

	&__dev {
		margin-top: 27px;
		display: inline-block;
		position: relative;
		padding-right: 71px;
		font-size: 12px;
		font-weight: 600;
		color: #c4c4c4;

		&__logo {
			@extend .icon;
			@extend .icon-footer-markweber;
			position: absolute;
			right: 0;
			top: 4px;
		}
	}

}


@media all and (max-width: 1050px) {

	.footer {

		&__logo {

			&--for-info {
				display: none;
			}

			&__size {
				width: 130px;
			}
		}

		&__line {
			flex-wrap: wrap;
		}

		&__logo {
			width: 100%;
			margin-bottom: 40px;
			margin-right: 0;
		}

	}

}
@media all and (max-width: 850px) {

	.footer {

		padding: 70px 0;

		&__rest  {
			flex-wrap: wrap;
		}

		&__menu {

			margin-right: -20px;

			&__col {
				width: 50%;
				max-width: none;
				margin-right: 0;
				order: 2;

				&:nth-child(2) {
					width: 100%;
					order: 1;

					.footer__menu__list {
						column-count: 2;
						column-gap: 0;
					}

				}
			}
			
			&__title,
			&__item {
				padding-right: 30px;
			}
		}

		&__find {
			width: 100%;
			padding-left: 0;
			margin-top: 50px;
		}

		&__info {
			margin-top: 50px;
		}

	}

}

@media all and (max-width: 600px) {
	
	.footer {

		padding: 55px 0;

		&__logo {
			margin-bottom: 23px;

			&__size {
				width: 90px;
				margin-top: -13px;
			}
		}

		&__menu {

			&__title {
				font-size: 11px;
				margin-top: 16px;
			}

			&__item {
				font-size: 11px;
				margin-top: 11px;
			}

			&__list {
				margin-top: 15px;
			}
		}

		&__find {
			margin-top: 25px;
		}

		&__place {
			font-size: 11px;
		}

		&__phone {
			margin-top: 28px;
			font-size: 16px;
		}

		&__email {
			margin-top: 0;
			font-size: 11px;
		}

		&__social {
			margin-top: 13px;
		}

		&__info {
			margin-top: 35px;
		}

		&__dev {
			margin-top: 31px;
		}

	}

}