
.icheckbox {
	transition: background .2s;
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	background: #59b4e6;
	color: #fff;
	cursor: pointer;

	&:before {
		@extend .icon;
		@extend .icon-checked;
		transition: width .2s;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -8px 0 0 -8px;
		width: 0;
		overflow: hidden;
		font-size: 16px;
	}

	&.checked {
		&:before {
			width: 16px;
		}
	}

	&.hover {
		background: darken(#59b4e6, 5%);
	}
}

.iradio {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	border: 2px solid #59b4e6;
	border-radius: 50%;
	text-align: center;
	line-height: 26px;

	&:before {
		transition: all .2s;
		content: ' ';
		display: inline-block;
		vertical-align: middle;
		width: 12px;
		height: 12px;
		background: #59b4e6;
		border-radius: 50%;
		opacity: 0;
	}

	&.checked {

		&:before {
			opacity: 1;
		}
	}

}

.form {

	position: relative;

	&._success {
		.success {
			visibility: visible;
			opacity: 1;
		}
	}

	&__tip {
		margin-top: 10px;
		font-size: 12px;
		color: rgba(#000, .3);
	}

	&__check {
		display: flex;
		align-items: center;
		user-select: none;
		font-size: 0;

		&__field {
			flex: 0 0 50px;
			align-self: flex-start;
			line-height: 40px;
		}

		&__text {
			font-size: 14px;
			line-height: 1.6;
		}

		input {
			position: absolute;
			opacity: 0;
		}
	
	}

	label._error {
		display: block;
		margin-top: 10px;
		font-size: 12px;
		color: #c32118;
	}

}

@media all and (max-width: 600px) {

	.icheckbox {
		width: 26px;
		height: 26px;

		&:before {
			margin: -7px 0 0 -7px;
			font-size: 14px;
		}

		&.checked {
			&:before {
				width: 14px;
			}
		}
		
	}

	.iradio {
		width: 26px;
		height: 26px;
		line-height: 22px;

		&:before {
			width: 10px;
			height: 10px;
		}
	}

	.form {
		&__check {

			&__field {
				flex-basis: 45px;
				line-height: 35px;
			}
		}
	}

}