
.gantt-slider {

	position: relative;

	&.--loading {
		.gantt-slider__canvas,
		.gantt-slider__ctrl {
			visibility: hidden;
		}
	}

	&--frozen {
		* {
			transition: none !important;
		}
	}

	&--gantt-view {

		.gantt-slider__line,
		.gantt-slider__type {
			transition-delay: 0s;
			visibility: hidden;
		}

		.gantt-slider__item {

			width: 510px;

			&:hover {
				padding-left: 0;
				padding-right: 0;

				.gantt-slider__bg,
				.gantt-slider__dash {
					right: -20px;
					left: -20px;
				}
			}

			&--yellow {
				.gantt-slider__h1 {
					font-size: 40px;
				}
			}

			.gantt-slider__label {
				opacity: 1;
			}
		}

	}

	&--sandbox {
		overflow: hidden;	
		height: 0;
	}

	&__body {
		background: url('../img/gantt-slider/dots.png');
		padding: 7px 0;
	}

	&__crop {
		position: relative;
		overflow: hidden;
	}

	&__scroll {
		@include add-scrollbar();
	}

	&__canvas {
		transition: height .2s ease-out;
		position: relative;
		height: 600px;
	}

	&__label {
		position: relative;
		z-index: 1;
		display: inline-block;
		padding: 6px 8px;
		font-size: 10px;
		font-weight: 700;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		color: #ffffff;
	}

	&__line {
		transition-delay: .5s;
		position: absolute;
		border-top: 1px solid #d4ddea;
		margin-top: 3px;
	}

	&__type,
	&__item {

		&--yellow {
			.gantt-slider__label,
			.gantt-slider__dash {
				background: #fcd300;
			}
		}

		&--blue {
			.gantt-slider__label,
			.gantt-slider__dash {
				background: #59b4e6;
			}
		}

		&--green {
			.gantt-slider__label,
			.gantt-slider__dash {
				background: #95c11b;
			}
		}

		&--red {
			.gantt-slider__label,
			.gantt-slider__dash {
				background: #c32118;
			}
		}
	}

	&__type {
		transition-delay: .5s;
		position: absolute;
		width: 200px;
		font-size: 0;
	}

	&__item {
		transition: all .5s ease-out, padding .2s ease-out;
		position: absolute;
		width: 410px;
		height: 160px;
		padding-bottom: 18px;
		padding-top: 24px;
		margin-bottom: 20px;
		margin-right: 24px;

		&:hover {
			
			padding-left: 20px;
			padding-right: 20px;

			.gantt-slider__bg {
				height: 100%;
				opacity: 1;
			}
			
			.gantt-slider__dash {
				height: 100%;
				opacity: 0;
			}

			.gantt-slider__h1,
			.gantt-slider__desc {
				color: #fff;
			}

			.gantt-slider__label {
				opacity: 1;
			}
		}

		.gantt-slider__label {
			transition: opacity .2s ease-out;
			display: block;
			opacity: 0;
		}

	}

	&__bg,
	&__dash {
		transition: all .2s ease-out;
		position: absolute;
	    z-index: 1;
	    top: 0;
	    right: 0;
	    left: 0;
	    height: 7px;
	}

	&__bg {
		overflow: hidden;
	    cursor: pointer;
	    opacity: 0;

	    &__image {
	    	@include position-fill;
	    	background-position: 50% 50%;
	    	background-size: cover;
	    }

	    &__video {
	    	@include position-fill;
	    	object-fit: cover;
	    	display: none;

	    	&.--active {
	    		display: block;
	    	}
	    }
	}

	&__h1,
	&__desc {
		transition: all .2s ease-out;
		position: relative;
		z-index: 2;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__h1 {
		display: flex;
		max-height: 2.66em;
		font-size: 22px;
		font-weight: 700;
		line-height: 1.35;

		&__left {
			padding-right: 15px;
			flex-grow: 1;
		}

		&__right {
			position: relative;
			top: .33em;
		}
	}

	&__desc {
		display: block;
		margin-top: 5px;
		max-width: 75%;
		max-height: 3em;
		font-size: 14px;
		line-height: 1.7;
		color: #6f8fb9;
	}

	&__ctrl {
		@extend .clearfix;
		position: relative;
		z-index: 50;
		margin-top: -20px;
		height: 40px;
	}

	&__toggle {
		transition: background .2s;
		float: right;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 40px;
		height: 40px;
		background: #eff4fd;
		border-radius: 50%;

		&:hover {
			background: darken(#eff4fd, 2%);			
		}

		span {
			transition: all .1s ease-out;
			display: block;
			width: 45%;
			height: 2px;
			background: #97b2d6;
			margin: 2px auto;

			&:nth-child(1) {
				transform: translateX(-15%);
			}
			&:nth-child(2) {
				transform: translateX(15%);
			}

			.gantt-slider--gantt-view & {
				&:nth-child(1) {
					transform: translateX(0%);
				}
				&:nth-child(2) {
					transform: translateX(0%);
				}
			}
		}

	}

	&__range {
		margin-right: 60px;

		&--hidden {
			visibility: hidden !important;
		}

		input {
			opacity: 0;
		}
	}

}

@media all and (max-width: 1050px) {

	.gantt-slider {
	
		&--gantt-view {

			.gantt-slider__item {

				width: 450px;

				&--yellow {
					.gantt-slider__h1 {
						font-size: 30px;
					}
				}
			}
		}

		&__type {
			width: 170px;
		}

		&__item {
			height: 150px;
		}

	}

}

@media all and (max-width: 600px) {
	.gantt-slider {

		&--gantt-view {

			.gantt-slider__item {
				width: 350px;

				&--yellow {
					.gantt-slider__h1 {
						font-size: 20px;
					}
				}
			}
		}

		&__canvas {
			height: 410px;
		}

		&__label {
			padding: 5px 7px;
			font-size: 8px;
		}

		&__line {
			margin-top: 1px;
		}

		&__type {
			width: 120px;
		}

		&__item {
			width: 300px;
			height: 110px;
			padding-bottom: 15px;
			padding-top: 15px;
			margin-bottom: 15px;
			margin-right: 20px;
		}

		&__bg,
		&__dash {
		    height: 3px;
		}

		&__h1 {
			font-size: 16px;

			&__right {
				top: 0;
			}
		}
		
		&__desc {
			font-size: 12px;
		}

		&__toggle {
			width: 34px;
			height: 34px;
		}

	}
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.gantt-slider {
		&__body {
			background: url('../img/gantt-slider/dots@2x.png');
			background-size: 42px 45px;
		}
	}
}