.gantt-slider__bg,
.gantt-slider__click {
    right: -30px !important;
    left: -30px !important;
    @media screen and(max-width: 800px) {
        right: -20px !important;
        left: -20px !important;
    }
    @media screen and(max-width: 600px) {
        right: -30px !important;
        left: -30px !important;
    }
}

.gantt-slider {
    position: relative;
    display: flex;
    flex-direction: column;

    .page__center {
        width: 100%;
        order: -1;
    }

    .slider-arrow-container {
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
        @media screen and (max-width: 800px) {
            display: none;
        }
        button {
            margin: 0;
            &[disabled] {
                display: inline-block !important;
                opacity: 0.5;
                cursor: default;
                pointer-events: none;
            }
        }
        &--prev {
            left: 25px;
        }
        &--next {
            right: 25px;
            transform: scaleX(-1);
        }
    }

    &._loading {
        .gantt-slider__canvas,
        .gantt-slider__ctrl {
            visibility: hidden;
        }
    }

    &--frozen {
        * {
            transition: none !important;
        }
    }

    &--parallax-inition {
        .gantt-slider__item {
            transition: transform 0.5s;
        }
    }

    &--gantt-view {
        .gantt-slider__line,
        .gantt-slider__type {
            transition-delay: 0s;
            visibility: hidden;
        }

        .gantt-slider__item {
            width: 510px;

            .gantt-slider__label {
                opacity: 1;
            }
        }

        .gantt-slider__h1--size-1 {
            margin-top: -0.1em;
            font-size: 36px;
        }
    }

    &--sandbox {
        overflow: hidden;
        height: 0;
    }

    &__body {
        background: url("../img/gantt-slider/dots.png");
        padding: 7px 0;
    }

    &__crop {
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
    }

    &__scroll {
        @include add-scrollbar();
    }

    &__canvas {
        transition: height 0.2s ease-out;
        position: relative;
        height: 600px;
    }

    &__label {
        position: relative;
        display: inline-block;
        padding: 7px 8px 6px 8px;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: #ffffff;
    }

    &__line {
        transition-delay: 0.5s;
        position: absolute;
        border-top: 1px solid #d4ddea;
        margin-top: 3px;
    }

    &__type,
    &__item {
        &--yellow {
            .gantt-slider__label,
            .gantt-slider__dash {
                background: #fcd300;
            }
        }

        &--blue {
            .gantt-slider__label,
            .gantt-slider__dash {
                background: #59b4e6;
            }
        }

        &--green {
            .gantt-slider__label,
            .gantt-slider__dash {
                background: #95c11b;
            }
        }

        &--red {
            .gantt-slider__label,
            .gantt-slider__dash {
                background: #c32118;
            }
        }
    }

    &__type {
        transition-delay: 0.5s;
        position: absolute;
        width: 200px;
        font-size: 0;
    }

    &__item {
        position: absolute;
        width: 410px;
        height: 160px;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-bottom: 20px;
        margin-right: 60px;

        @media screen and (max-width: 800px) {
            // .gantt-slider__bg,
            // .gantt-slider__click,
            // .gantt-slider__dash {
            //     right: -30px;
            //     left: -30px;
            // }

            .gantt-slider__bg {
                height: 100%;
                opacity: 1;
                transform: scale(1);
            }

            .gantt-slider__dash {
                // height: 100%;
                opacity: 0;
            }

            .gantt-slider__h1,
            .gantt-slider__desc {
                color: #fff;
            }

            .gantt-slider__label {
                opacity: 1 !important;
            }
        }
        @media screen and (max-width: 600px) {
            // .gantt-slider__bg,
            // .gantt-slider__click,
            // .gantt-slider__dash {
            //     right: -20px;
            //     left: -20px;
            // }
        }

        &:hover {
            // .gantt-slider__bg,
            // .gantt-slider__click,
            // .gantt-slider__dash {
            //     right: -30px;
            //     left: -30px;

            // }

            .gantt-slider__bg {
                height: 100%;
                opacity: 1;
                transform: scale(1);
            }

            .gantt-slider__dash {
                // height: 100%;
                opacity: 0;
            }

            .gantt-slider__h1,
            .gantt-slider__desc {
                color: #fff;
            }

            .gantt-slider__label {
                opacity: 1;
            }
        }

        .gantt-slider__label {
            transition: opacity 0.2s ease-out;
            display: block;
            opacity: 0;
        }
    }

    &__dash {
        transition: all 0.2s ease-out 0.1s;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 7px;
    }

    &__bg {
        transition: all 0.2s ease-out 0.1s;
        width: auto;
        right: 0;
        height: 7px;
        opacity: 0;
        background: $base-gray;

        height: 100%;
        transform-origin: center top;
        transform: scale(0);
    }

    &__click {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        z-index: 30;
    }

    &__h1,
    &__desc {
        transition: color 0.2s ease-out 0.1s;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__h1 {
        display: flex;
        max-height: 2.66em;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.35;

        &__left {
            padding-right: 15px;
            flex-grow: 1;
        }

        &__right {
        }
    }

    &__desc {
        display: block;
        margin-top: 5px;
        max-height: 3em;
        font-size: 14px;
        line-height: 1.7;
        color: #6f8fb9;
    }

    &__ctrl {
        @extend .clearfix;
        position: relative;
        z-index: 50;
        margin-top: -152px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        // @media screen and (max-width: 800px) {
        //     display: block;
        // }
        @media all and (max-width: 1050px) {
            margin-top: -108px;
        }
        @media screen and (max-width: 600px) {
            margin-top: -145px;
        }
    }

    &__toggle {
        transition: background 0.2s;
        float: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: #eff4fd;
        border-radius: 50%;

        &:hover {
            background: darken(#eff4fd, 2%);
        }

        span {
            transition: all 0.1s ease-out;
            display: block;
            width: 45%;
            height: 2px;
            background: #97b2d6;
            margin: 2px auto;

            &:nth-child(1) {
                transform: translateX(-15%);
            }
            &:nth-child(2) {
                transform: translateX(15%);
            }

            .gantt-slider--gantt-view & {
                &:nth-child(1) {
                    transform: translateX(0%);
                }
                &:nth-child(2) {
                    transform: translateX(0%);
                }
            }
        }
    }

    &__switch {
        position: relative;
        width: 84px;
        height: 40px;
        float: right;
        background-color: #eff4fd;
        border-radius: 50px;
        border: 5px solid transparent;
        transition: opacity 0.2s;
        margin-right: 30px;
        @media screen and (max-width: 800px) {
            margin-right: 0;
        }
        .gantt-animating & {
            opacity: 0.5;
            cursor: default;
        }

        &--contacts {
            margin-left: auto;
            align-self: center;
            display: block !important;
        }

        @media screen and (max-width: 800px) {
            display: none;
        }
        &-slider {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            &::before {
                content: "";
                width: 30px;
                height: 30px;
                border-radius: 50%;
                z-index: 2;
                position: absolute;
                left: 4px;
                top: 4px;
                left: 0;
                top: 0;
                background: #44abe1;
                transition: transform 0.2s;
            }
        }

        &.active &-slider {
            &::before {
                transform: translateX(44px);
            }
        }

        &-slider-item {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 3;
            &::before {
                content: "";
                width: 14px;
                height: 14px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                transition: filter 0.2s;
            }
            &:first-child {
                &::before {
                    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff%7D%3C/style%3E%3C/defs%3E%3Ccircle class='cls-1' cx='1.56' cy='1.56' r='1.56'/%3E%3Ccircle class='cls-1' cx='1.56' cy='7' r='1.56'/%3E%3Ccircle class='cls-1' cx='1.56' cy='12.44' r='1.56'/%3E%3Ccircle class='cls-1' cx='7' cy='1.56' r='1.56'/%3E%3Ccircle class='cls-1' cx='7' cy='7' r='1.56'/%3E%3Ccircle class='cls-1' cx='7' cy='12.44' r='1.56'/%3E%3Ccircle class='cls-1' cx='12.44' cy='1.56' r='1.56'/%3E%3Ccircle class='cls-1' cx='12.44' cy='7' r='1.56'/%3E%3Ccircle class='cls-1' cx='12.44' cy='12.44' r='1.56'/%3E%3C/svg%3E");
                    filter: brightness(0.5) sepia(1) hue-rotate(160deg)
                        saturate(1);
                    @media all and (max-width: 800px) {
                        filter: none;
                    }
                }
            }

            &:last-child {
                order: -1;
                @media all and (max-width: 800px) {
                    order: 1;
                }
                &::before {
                    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 15'%3E%3Cpath fill='white' d='M15.5 0h-12a1.5 1.5 0 0 0 0 3h12a1.5 1.5 0 0 0 0-3zM14.5 6h-12a1.5 1.5 0 0 0 0 3h12a1.5 1.5 0 0 0 0-3zM13.5 12h-12a1.5 1.5 0 0 0 0 3h12a1.5 1.5 0 0 0 0-3z'/%3E%3C/svg%3E");
                    filter: none;
                    @media all and (max-width: 800px) {
                        filter: brightness(0.5) sepia(1) hue-rotate(160deg)
                            saturate(1);
                    }
                }
            }
        }

        &.active &-slider-item {
            &:first-child {
                &::before {
                    filter: none;
                    @media all and (max-width: 800px) {
                        filter: brightness(0.5) sepia(1) hue-rotate(160deg)
                            saturate(1);
                    }
                }
            }
            &:last-child {
                &::before {
                    filter: brightness(0.5) sepia(1) hue-rotate(160deg)
                        saturate(1);
                    @media all and (max-width: 800px) {
                        filter: none;
                    }
                }
            }
        }
    }

    &__range {
        margin-right: 60px;
        display: none;
        &--hidden {
            visibility: hidden !important;
        }

        input {
            opacity: 0;
        }
    }
}

@media all and (max-width: 1050px) {
    .gantt-slider {
        &--gantt-view {
            .gantt-slider__item {
                width: 450px;
            }

            .gantt-slider__h1--size-1 {
                font-size: 30px;
            }
        }

        &__type {
            width: 170px;
        }

        &__item {
            height: 150px;
        }
    }
}

@media all and (max-width: 600px) {
    .gantt-slider {
        &--gantt-view {
            .gantt-slider__item {
                width: 350px;
            }

            .gantt-slider__h1--size-1 {
                margin-top: 0;
                font-size: 20px;
            }
        }

        &__canvas {
            height: 410px;
        }

        &__label {
            padding: 6px 7px 5px 7px;
            font-size: 8px;
        }

        &__line {
            margin-top: 1px;
        }

        &__type {
            width: 120px;
        }

        &__item {
            width: 300px;
            height: 110px;
            padding-bottom: 15px;
            padding-top: 15px;
            margin-right: 60px;

            // &:hover {
            //     .gantt-slider__bg,
            //     .gantt-slider__click,
            //     .gantt-slider__dash {
            //         right: -20px;
            //         left: -20px;
            //     }
            // }
        }

        &__bg,
        &__dash {
            height: 3px;
        }

        &__h1 {
            font-size: 16px;

            &__right {
                top: 0;
            }
        }

        &__desc {
            font-size: 12px;
        }

        &__toggle {
            width: 36px;
            height: 36px;
        }
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .gantt-slider {
        &__body {
            background: url("../img/gantt-slider/dots@2x.png");
            background-size: 42px 45px;
        }
    }
}
