
.header {
	
	position: relative;
	z-index: 10;
	margin-bottom: 100px;
	
	&--no-logo {
		margin-bottom: 0 !important;
	}

	&__top-line {
		border-bottom: 2px solid #e6ebf2;
		background: #fff;

		&__center {
			position: relative;
			display: flex;
			height: 72px;
		}
	}

	&__menu {
		padding-top: 19px;

		&__wrap {
			position: relative;
			padding-right: 100px;
		}

		&__crop {
			overflow: hidden;
			height: 55px;
		}

		&__item {
			margin-right: 35px;
			float: left;

			> a {
				position: relative;
				height: 50px;
				line-height: 50px;
				white-space: nowrap;
			}

			&.--active {
				a {
					color: #000 !important;

					&:before {
						content: ' ';
						position: absolute;
						bottom: -5px;
						right: 10px;
						left: 10px;
						height: 2px;
						background: #59b4e6;
					}
				}
			}

			&--more {
				position: absolute;
				left: 100%;
				top: 0;
				visibility: hidden;

				&.--shown {
					visibility: visible;
				}

				&.--opened {

					.header__menu__down {
						visibility: visible;
						opacity: 1;
					}

					> a {
						&:before {
							transform: rotate(-90deg) scaleX(-1);
						}
					}
				}

				> a {
					position: relative;
					padding-right: 25px;

					&:before {
						@extend .icon;
						@extend .icon-arrow-left;
						transition: transform .2s ease-out;
						transform: rotate(-90deg);
						position: absolute;
						right: 0;
						top: 50%;
						margin-top: -7px;
						font-size: 12px;
					}
				}
			}
		}

		&__down {
			transition: opacity .2s ease-out, visibility .2s ease-out;
			position: absolute;
			z-index: 110;
			top: 100%;
			left: -22px;
			padding-top: 20px;
			min-width: 240px;
			visibility: hidden;
			line-height: 1.45;
			opacity: 0;

			&__body {
				padding: 20px;
				box-shadow: 0 0 15px rgba(#000, .15);
				background: #fff;
			}

			a {
				padding: 5px 0;
			}
		}

		a {
			display: block;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 600;
			color: #8a9eb8;

			&:hover {
				color: darken(#8a9eb8, 5%);
			}
		}

	}

	&__item {
		padding-left: 25px;
		padding-top: 32px;
		white-space: nowrap;
	}

	&__phone {
		font-size: 14px;
		font-weight: 600;
		color: #000 !important;
	}

	&__email {
		font-size: 14px;
		font-weight: 600;
		color: #92a4bc;

		&:hover {
			color: darken(#92a4bc, 5%);
		}
	}

	&__search {
		@extend .icon;
		@extend .icon-search;
		flex: 0 0 70px;
		padding-top: 34px;
		text-align: center;
		font-size: 17px;
		color: #6e7f95;

		&:before {
			margin-left: -4px;
		}
	}

	&__write {
		@extend .icon;
		@extend .icon-comment;
		font-size: 26px;
		color: #44abe1;
	}

	&__gap {
		flex-grow: 1;
	}

	&__sep {
		flex: 0 0 3px;
		background: #e6ebf2;
	}
	
	&__burger {
		display: none;
		position: absolute;
		top: 50%;
		margin-top: -18px;
		right: 0;
		
		&__icon {
			@extend .clearfix;
			display: block;
			padding: 10px 0;
			width: 34px;

			&:hover {
				span {
					width: 100% !important;
				}
			}

			span {
				transition: width .2s ease-in-out;
				display: block;
				height: 2px;
				margin-bottom: 5px;
				background: #000;

				&:last-child {
					float: right;
					margin-bottom: 0;
					width: 80%;
				}
			}
		}
	}

}

@media all and (max-width: 1050px) {

	.header {
		margin-bottom: 60px;
	}

}

@media all and (max-width: 950px) {

	.header {
		
		&__top-line {
			&__center {
				align-items: center;
			}
		}

		&__menu,
		&__search,
		&__write,
		&__sep,
		&__gap {
			display: none;
		}

		&__item {
			padding-top: 0;
			padding-right: 25px;
			padding-left: 0;
		}

		&__burger {
			display: block;
		}
	}

}
@media all and (max-width: 600px) {

	.header {

		margin-bottom: 40px;

		&__top-line {
			border-bottom: 0;

			&__center {
				height: 56px;
			}
		}

		&__phone,
		&__email {
			font-size: 12px;
		}

		&__burger {
			margin-top: -17px;

			&__icon {
				width: 26px;

				span {
					margin-bottom: 4px;
				}
			}
		}		
		
	}

}