
.im-digits {

	margin-top: 198px;
	margin-bottom: 163px;

	&._visible {
		.im-digits__nums__list {
			visibility: visible;
		}
	}

	&._ready {
		.im-digits__nums__list {
			transition: transform .4s ease-in-out;
			will-change: transform;
		}
	}

	&__center {
		@extend .clearfix;
		position: relative;
	}

	&__content {
		@extend .clearfix;
	}

	&__slider {
		position: relative;
		overflow: hidden;
		float: left;
		margin-left: 13.15%;
		height: 239px;
		width: 56.38%;
		background: $base-gray;
	}

	&__pics {
		@include position-fill();

		&:after {
			@include position-fill();
			z-index: 5;
			content: ' ';
			background: #58616f;
			opacity: .5;
		}

		&__item {
			position: absolute;
			width: 120%;
			height: 100%;
			top: 0;
			left: -10%;
			opacity: 0;

			&._active {
				opacity: 1;
			}

			&._cover {
				z-index: 1;
			}

			// элемент вложен, потому что при трансформации элемента 
			// с фоновой картинкой есть проблемы
			> div {
				height: 100%;
				background-position: 30% 50%;
				background-size: cover;
			}

			img {
				visibility: hidden;
			}
		}
	}

	&__text {
		@include position-fill();
		z-index: 5;

		&__item {
			@include position-fill();
			display: flex;
			align-items: center;
			opacity: 0;

			&._active {
				opacity: 1;
			}
		}

		&__desc {
			position: relative;
			padding: 0 60px;
			flex-grow: 1;
			font-size: 24px;
			font-weight: 700;
			line-height: 1.33;
			color: #fff;
		}

		&__value {
			position: relative;
			padding-right: 60px;
			font-size: 80px;
			font-weight: 700;
			color: #fff;

			&._ready {
				transition: transform .4s ease-in-out;
				will-change: transform;
			}
		}
	}

	&__nums {
		float: left;
		width: 0;

		&__crop {
			position: relative;
			overflow: hidden;
			width: 1400px;
		}

		&__list {
			visibility: hidden;
			display: inline-block;
			white-space: nowrap;
			font-size: 0;
		}

		&__item {
			transition: transform .4s ease-in-out, color .2s;
			will-change: transform;
			display: inline-block;
			margin-left: 65px;
			height: 239px;
			line-height: 239px;
			font-size: 80px;
			font-weight: 700;
			cursor: pointer;
			color: #dde7f8;

			&:hover {
				color: darken(#dde7f8, 5%);
			}

			&._hidden {
				visibility: hidden;
			}

			&._fixed {
				position: absolute;
				margin-left: 0;
				top: 0;
			}
		}

	}

	&__label {
		position: absolute;
		z-index: 10;
		top: 27px;
		left: 0;
	}

	&__buttons {
		position: absolute;
		right: 0;
		bottom: -85px;
	}

	&__prev,
	&__next {
		transition: background .2s;
		margin-left: 9px;
		float: left;
		width: 36px;
		height: 36px;
		line-height: 36px;
		text-align: center;
		border-radius: 50%;
		background: #eff4fd;
		font-size: 15px;
		color: #6e7f95 !important;

		&:hover {
			background: darken(#eff4fd, 5%);
		}
	}

	&__prev {
		@extend .icon;
		@extend .icon-arrow-left;
	}

	&__next {
		@extend .icon;
		@extend .icon-arrow-right;
	}

	&__about {
		display: none;
	}

	._fadeOutLeft {
		animation: imDigitsFadeOutLeft .4s ease-in-out;
		animation-fill-mode: forwards;
	}

	._fadeOutRight {
		animation: imDigitsFadeOutRight .4s ease-in-out;
		animation-fill-mode: forwards;
	}

	._fadeInRight {
		animation: imDigitsFadeInRight .4s ease-in-out;
		animation-fill-mode: forwards;
	}

	._fadeInLeft {
		animation: imDigitsFadeInLeft .4s ease-in-out;
		animation-fill-mode: forwards;
	}

	._fadeInImage {
		animation: imDigitsFadeInImage .5s ease-in-out;
		animation-fill-mode: forwards;
	}

}

@media all and (max-width: 1300px) {

	.im-digits {

		&__slider {
			margin-left: 0;
			width: 65%;
		}

		&__label {
			top: -18px;
			left: 20px;
		}
	}
}

@media all and (max-width: 1200px) {
	
	.im-digits {

		&__text {

			&__desc {
				padding: 0 50px;
				font-size: 21px;
			}

			&__value {
				padding-right: 50px;
				font-size: 70px;
			}

		}
		
		&__nums {
			&__item {
				margin-left: 50px;
				font-size: 70px;
			}
		}

	}

}

@media all and (max-width: 1100px) {

	.im-digits {

		&__slider {
			width: 75%;
		}

	}
}


@media all and (max-width: 800px) {

	.im-digits {

		&__label {
			left: 0;
		}

		&__content {
			margin: 0 -20px;
		}

		&__slider {
			width: 100%;
			height: 200px;
		}

		&__text {
			&__desc {
				display: none;
			}

			&__value {
				padding: 0 20px;
			}
		}

		&__nums {
			margin-left: -1px;
			overflow: hidden;

			&__item {
				height: 200px;
				line-height: 200px;
				visibility: visible !important;
			}
		}

		&__about {
			display: block;
			margin-top: 25px;

			&__list {
				overflow: hidden;
			}

			&__item {
				transition: opacity .4s;
				opacity: 0;
				float: left;
				width: 100%;
				margin-left: -100%;
	
				&:first-child {
					margin-left: 0;
				}

				&._active {
					opacity: 1;
				}
			}

			&__title {
				font-size: 20px;
				font-weight: 700;
				line-height: 1.37;
			}

			&__desc {
				margin-top: 9px;
				font-size: 14px;
				line-height: 1.72;
				opacity: .7;
			}
		}

		&__buttons {
			position: static;
			float: right;
			margin-top: 20px;
		}

	}
}

@media all and (max-width: 600px) {

	.im-digits {

		&__slider {
			height: 118px;
		}

		&__text {
			&__value {
				padding: 0 16px;
				font-size: 60px;
			}
		}

		&__nums {
			&__item {
				height: 118px;
				line-height: 118px;
			}
		}

		&__about {

			&__title {
				font-size: 16px;
			}

			&__desc {
				font-size: 11px;
			}
		}

		&__prev,
		&__next {
			width: 28px;
			height: 28px;
			line-height: 28px;
			font-size: 12px;
		}

	}
}




@keyframes imDigitsFadeOutLeft {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		transform: translateX(-200px);
		opacity: 0;
	}
}

@keyframes imDigitsFadeOutRight {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		transform: translateX(100px);
		opacity: 0;
	}
}

@keyframes imDigitsFadeInRight {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes imDigitsFadeInLeft {
	0% {
		transform: translateX(-200px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes imDigitsFadeInImage {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}