
.im-news {

	margin-top: 130px;

	&__center {
		position: relative;
	}

	&__buttons {
		position: absolute;
		right: 0;
		top: 225px;

		.im-digits__prev,
		.im-digits__next {
			background: #fff;
		}
	}

	&__label {
		min-width: 225px;
		position: absolute;
	    z-index: 10;
	    top: 27px;
	    left: 0;
	}

	&__slider {
		margin-left: 13.15%;
		width: 3000px;
		background: #eff4fd;
	}

	&__list {
		white-space: nowrap;
		font-size: 0;
	}

	&__item {
		transition: width .2s ease-out;
		display: inline-block;
		vertical-align: top;
		margin-left: -60px;
		width: 420px;
		padding: 60px;
		white-space: normal;

		&:first-child {
			margin-left: 0;
		}

		&.--active {
			width: 560px;

			.im-news__title {
				font-size: 24px;
			}

			.im-news__desc {
				opacity: .7;
			}
		}
	}

	&__date {
		margin-top: -20px;
		display: block;
		font-size: 14px;
		line-height: 1.7;
		color: #6f8fb9;
	}

	&__title {
		transition: font-size .2s ease-out;
		margin-top: 11px;
		font-size: 18px;
		font-weight: 700;
		line-height: 1.33;
	}

	&__desc {
		transition: opacity .2s ease-out;
		margin-top: 20px;
		font-size: 14px;
		line-height: 1.5;
		opacity: 0;
	}
}

@media all and (max-width: 1300px) {

	.im-news {

		&__label {
			top: -18px;
		    left: 20px;
		}

		&__slider {
			margin-left: 0;
		}
	}
}