
.im-page {

	&__wrapper {
		overflow: hidden;
		max-width: 3000px;
		margin: 0 auto;
	}
	
	&__center {
		max-width: 1600px;
		margin: 0 auto;
	}

	&__inner {
		padding: 0 40px;
	}

	&__label {
		display: inline-block;
		padding: 13px 16px 11px 16px;
		background: #59b4e6;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1.78px;
		color: #ffffff;
	}

}

@media screen and (max-width: 1200px) {

	.im-page {
		&__label {
			font-size: 14px;
		}
	}
}

@media screen and (max-width: 850px) {

	.im-page {

		&__inner {
			padding: 0 20px;
		}

	}

}