
.im-page {

	&__wrapper {
		overflow: hidden;
		max-width: 3000px;
		margin: 0 auto;
	}
	
	&__center {
		max-width: 1600px;
		margin: 0 auto;
	}

	&__inner {
		padding: 0 40px;
	}

	&__label {
		display: inline-block;
		padding: 13px 16px 11px 16px;
		background: #59b4e6;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1.78px;
		color: #ffffff;
	}

	&__more {
		display: inline-block;
		padding: 20px;

		&:hover {
			span {
				&:before {
					transform: rotate(45deg);
				}
				&:after {
					transform: rotate(-45deg);
				}
			}
		}

		span {
			position: relative;
			display: block;
			height: 2px;
			background: #fff;
			width: 27px;

			&:before,
			&:after {
				transition: transform .2s;
				content: ' ';
				position: absolute;
				right: 0;
				top: 0;
				height: 2px;
				background: #fff;
				width: 15px;
			}

			&:before {
				transform-origin: right bottom;
			}
			&:after {
				transform-origin: right top;
			}
			
		}
	}

}

@media all and (max-width: 1200px) {

	.im-page {
		&__label {
			font-size: 14px;
		}
	}
}

@media all and (max-width: 850px) {

	.im-page {

		&__inner {
			padding: 0 20px;
		}

	}

}

@media all and (max-width: 600px) {

	.im-page {
		&__label {
			padding: 8px 7px;
			font-size: 11px;
			letter-spacing: 1.22px;
		}
	}
}