
.input-smart-label {
	position: relative;
	border-bottom: 2px solid #59b4e6;

	&._focused {
		.input-smart-label__label {
			top: 25%;
			font-size: 10px;
		}
	}

	&._error {
		border-bottom-color: #c32118;
	}

	&--email {
		border-bottom-width: 4px;

		.input-smart-label__field {
			padding-right: 50px;
		}
	}

	&__field {
		position: relative;
		z-index: 1;
		display: block;
		width: 100%;
		height: 60px;
		padding-bottom: 10px;
		padding-top: 20px;
		font-size: 14px;
		line-height: 28px;
	}

	&__label {
		transition: all .2s;
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -.5em;
		font-size: 14px;
		line-height: 1;
		color: rgba(#000, .3);
	}

	&__icon {
		position: absolute;
		top: 50%;
		margin-top: -13px;
		right: 0;
		font-size: 26px;
		color: #59b4e6;
	}
}


@media all and (max-width: 600px) {

	.input-smart-label {

		&._focused {
			.input-smart-label__label {
				top: 15%;
			}
		}

		&--email {
			border-bottom-width: 2px;
		}

		&__field {
			height: 50px;
			padding-bottom: 5px;
			padding-top: 15px;
		}


		&__icon {
			font-size: 20px;
		}

	}


}
