
.nav-side {
	
	position: relative;
	background: #eff4fd;
	padding: 13px 0;

	&:before {
		content: ' ';
		position: absolute;
		right: 100%;
		top: 0;
		height: 100%;
		width: 3000px;
		background: #eff4fd;
	}

	&__item {
		position: relative;
		padding-right: 40px;

		&._active {

			.nav-side__link {
				color: #000 !important;
				cursor: default;
			}

			.nav-side__text {
				border-color: transparent !important;
			}
		}

	}

	&__arrow {
		@extend .icon;
		@extend .icon-arrow-right;
		transition: all .2s;
		position: absolute;
		top: 0;
		right: 23px;
		display: flex;
		align-items: center;
		height: 100%;
		font-size: 12px;
		color: #6e7f95;
	}

	&__link {
		display: block;
		padding: 7px 0;
		font-size: 16px;
		font-weight: 600;
	    line-height: 1.45;

		&:hover {
			.nav-side__text {
				border-color:lighten(#6f8fb9, 10%);
			}
		}
	}

	&__text {
		border-bottom: 1px dotted #6e7f95;
	}

}

@media all and (max-width: 1300px) {

	.nav-side {

		margin: 0 -40px;
		padding: 0 40px;
		padding-top: 35px;
		font-size: 0;
		
		&:before,
		&:after {
			display: none;
		}

		&__item {
			display: inline-block;
			margin-right: 30px;
			padding: 0;

			&:last-child {
				margin-right: 0;
			}

			&:before {
				display: none;
			}

			&._active {
				&:after {
					content: ' ';
					position: absolute;
					width: 100%;
					bottom: 0;
					left: 0;
					height: 3px;
					background: #59b4e6;
				}
			}
		}

		&__arrow {
			display: none;
		}

		&__link {
			padding: 0;
			padding-bottom: 25px;
		}

		&__text {
			border: 0;
		}

	}
}

@media all and (max-width: 600px) {

	.nav-side__link {
		font-size: 14px;
	}


}