
.nav-cats {
	
	margin-top: 60px;
	font-size: 14px;

	div {
		padding: 8px 0;

		&.--active {
			a {
				font-weight: 600;
				border-color: transparent !important;
				color: #000 !important;
				cursor: default;
			}
		}

		a {
			border-bottom: 1px dotted #6e7f95;

			&:hover {
				border-color:lighten(#6f8fb9, 10%);
			}
		}

		span {
			position: relative;
			left: 5px;
			font-size: 11px;
			color: #6e7f95;
		}
	}

}