
.nav-filter {

	margin-top: 60px;
	font-size: 14px;
	line-height: 1.45;

	&__item {
		position: relative;
		margin-top: 35px;

		&:first-child {
			margin-top: 0;
		}

		&.--active {
			.nav-options {
				transform: translateY(0px);
				visibility: visible;
				opacity: 1;
			}
		}
	}

	&__button {

		&:after {
			content: ' ';
			position: relative;
			left: 5px;
			top: -2px;
			border: 3px solid transparent;
			border-top-color: #6e7f95;
			font-size: 0;
			width: 0;
			height: 0;
		}

		span {
			border-bottom: 1px dotted #6e7f95;
		}

		&:hover {
			span {
				border-color: lighten(#6f8fb9, 10%);
			}
		}
	}

}