.nav-social {
	white-space: nowrap;

	&__item {
		display: inline-block;
		vertical-align: middle;
		margin-right: 20px;
		font-size: 0;
		color: #7695bc;

		&:hover {
			color: lighten(#7695bc, 10%);
		}

		i {
			font-size: 20px;
		}

		.icon-nav-social-habrahabr {
			position: relative;
			top: 2px;
		}

	}

}

@media all and (max-width: 600px) {

	.nav-social {

		&__item {
			margin-right: 7px;

			i {
				font-size: 13px;
			}
		}
	}
}