
.news-slider {

    &__center {
        position: relative;
    }

    &__label {
        position: absolute;
        left: 0;
        top: 27px;

        @media screen and (max-width: 1300px) {
            left: 20px;
            top: -20px;
        }
    }
    
    &__content {
        margin: 0 -12px;
    }

    .swiper-container {
        overflow: visible;
    }

    .swiper-slide {
        flex: 0 0 440px;
        max-width: 440px;
        padding: 0 12px;
    }

    .swiper-button-disabled {
        opacity: .5;
    }

}

@media all and (max-width: 1050px) {

    .news-slider {

        &__lable {
            left: 0;
        }

        .swiper-slide {
            flex-basis: 380px;
            max-width: 380px;
        }
    }

}

@media all and (max-width: 850px) {

    .news-slider {
        .swiper-slide {
            flex-basis: 320px;
            max-width: 320px;
        }
    }
    
}

@media all and (max-width: 600px) {

    .news-slider {
        .swiper-slide {
            flex-basis: 280px;
            max-width: 280px;
        }
    }
    
}
