
.news {

	margin-top: 130px;

	&__center {
		position: relative;
	}

	&__ctrl {
		position: absolute;
		z-index: 10;
		right: 0;
		bottom: 60px;
	}

	&__label {
		position: absolute;
	    z-index: 10;
	    top: 27px;
	    left: 0;
	    min-width: 245px;
	}

	&__slider {
		margin-left: 200px;
		width: 3000px;
		min-height: 360px;
		background: #eff4fd;
	}

	&__list {
		display: block;
		white-space: nowrap;
		font-size: 0;
	}

	&__item {
		transition: width .3s ease-out;
		display: inline-block;
		vertical-align: top;
		width: 520px;
		padding: 60px 0 60px 60px;
		white-space: normal;

		&.--active {

			.news__title {
				font-size: 24px;
			}

			.news__desc {
				opacity: .7;
			}
		}
	}

	&__date {
		margin-top: -10px;
		margin-bottom: 20px;
		display: block;
		font-size: 14px;
		color: #6f8fb9;
	}

	&__title {
		transition: font-size .3s ease-out;
		margin-bottom: 20px;
		font-size: 18px;
		font-weight: 700;
		line-height: 1.35;

		a {
			color: #000 !important;
		}
	}

	&__desc {
		transition: opacity .3s ease-out;
		font-size: 14px;
		line-height: 1.5;
		opacity: 0;
	}
}

@media all and (max-width: 1300px) {

	.news {

		&__label {
			top: -20px;
		    left: 20px;
		    min-width: auto;
		}

		&__slider {
			margin-left: 0;
		}
	}
}