.numbers {

}


.numbers__heading {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 45px;
    @media screen and (max-width: 800px) {
        margin-bottom: 25px;
    }
}


.numbers__list {
    display: flex;
    flex-wrap: wrap;
    margin: -12px -60px;
    @media screen and (max-width: 800px) {
        margin: -12px -40px;
    }
}


.numbers__list-item {
    padding: 12px 60px;
    width: 33.33%;
    @media screen and (max-width: 1024px) {
        width: 50%;
    }
    @media screen and (max-width: 800px) {
        padding: 12px 40px;
    }
    @media screen and (max-width: 600px) {
        width: 100%;
    }
}



.numbers__card {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 35px;
    @media screen and (max-width: 800px) {
        padding-top: 25px;
    }
    &::before {
        content: '';
        width: 200px;
        height: 200px;
        position: absolute;
        right: 0;
        top: 0;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('../img/numbers/wings-bg.png');
        z-index: -1;
        @media screen and (max-width: 1300px) {
            width: 160px;
            height: 160px;
        }
        @media screen and (max-width: 800px) {
            width: 130px;
            height: 130px;
        }
        @media screen and (max-width: 600px) {
            width: 100px;
            height: 100px;
        }
    }
}



.numbers__card-more {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    
}


.numbers__card-amount {
    font-weight: 700;
    font-size: 80px;
    color: #59B4E6;
    white-space: nowrap;
    display: block;
    @media screen and (max-width: 800px) {
        font-size: 70px;
    }
    @media screen and (max-width: 800px) {
        font-size: 50px;
    }
}


.numbers__card-details {
    
    margin-top: 8px;
   
}