
.overview {
	position: relative;

	&__label {
		position: absolute;
		z-index: 30;
		top: 49px;
		left: 0;
	}

	&__center {
		position: relative;
		z-index: 20;
	}

	&__bg {
		@include position-fill();
		background: #000;
		overflow: hidden;
		
		&__item {
			transition: all .5s;
			position: absolute;
			height: 120%;
			top: 0;
			left: 0;
			width: 100%;
			opacity: 0;

			&._default {
				transform: translateY(-40px);
				opacity: 1;
			}

			&--frozen {
				transition-duration: 0s;
			}
		}
	}

	&__nav {

		margin-left: 300px;
		padding-top: 20px;

		&__list {
			font-size: 0;
		}

		&__item {
			display: inline-block;
			vertical-align: top;
			padding-right: 50px;
			width: 25%;

			&:nth-child(-n+4) {
				margin-top: 0;
			}

			&._active {
				
				.overview__nav__text{
					&:before {
						transform: translateX(0);
						opacity: 1;
					}
				}

				.overview__nav__icon {
					opacity: 1;
				}
			}
		}

		&__link {
			position: relative;
			display: inline-block;
			height: 100px;
			font-size: 0;

			&:before {
				content: " ";
				display: inline-block;
				vertical-align: middle;
				height: 100%;
				font-size: 0;
				width: 0;
			}
			
			&:hover {
				color: #fff;
			}

			&--wheat,
			&--factory,
			&--city {
				.overview__nav__icon {
					margin-top: -35px;
				}
			}

			&--ruble {
				.overview__nav__icon {
					margin-top: -27px;
				}
			}
		}

		&__text {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			padding-left: 80px;
			font-size: 16px;
			line-height: 1.5;
			color: #fff;
			user-select: none;

			&:before {
				@extend .icon;
				@extend .icon-arrow-right;
				transition: transform .2s, opacity .2s;
				transform: translateX(-10px);
				position: absolute;
				left: 100%;
				top: 50%;
				margin-top: -7px;
				margin-left: 10px;
				opacity: 0;
			}
		}

		&__icon {
			transition: opacity .2s;
			position: absolute;
			top: 50%;
			margin-top: -30px;
			left: 0;
			height: 60px;
			line-height: 60px;

			&--white {
				opacity: 0;
			}

			img {
				vertical-align: middle;
			}
		}

		&__body {
			display: none;
		}
	}

	&__about {
		
		@extend .clearfix;
		padding: 80px 0;
		margin-left: 260px;
		max-width: 480px;

		&__item {
			transition: opacity .3s;
			position: relative;
			float: left;
			margin-left: -100%;
			width: 100%;
			opacity: 0;

			&:first-child {
				margin-left: 0;
			}

			&._active {
				z-index: 1;
				opacity: 1;
			}
		}
	}

	&__title {
		margin-bottom: 20px;
		font-size: 24px;
		font-weight: 700;
		line-height: 1.35;
		color: #ffffff;
	}

	&__desc {
		font-size: 14px;
		line-height: 1.5;
		color: rgba(#fff, .8);
	}

	&__button-arrow {
		margin-top: 60px;
		margin-bottom: 10px;
		text-align: right;
	}

	&__button-more {
	 	margin-bottom: 20px;
	 	margin-top: 50px;
	}



}

@media all and (max-width: 1500px) {

	.overview {

		&__nav {
			padding-top: 30px;

			&__link {
				height: 80px;
			}

			&__item {
				width: 33.33%;
			}
		}


	}

}

@media all and (max-width: 1300px) {

	.overview {

		&__label {
			top: -20px;
		}

		&__nav {
			margin-left: 60px;
			padding-top: 60px;
		}

		&__about {
			margin-left: 60px;
		}
	}

}


@media all and (max-width: 1050px) {
	
	.overview {

		&__nav {

			margin-left: 0;

			&__item {
				width: 50%;
			}
		}

		&__about {
			margin-left: 0;
		}



		&__button-more {
			margin-top: 40px;
		}

	}

}

@media all and (max-width: 850px) {
	
	.overview {

		&__nav {
			margin-left: 0;
		}

		&__about {
			margin-left: 0;
		}
	}

}


@media all and (max-width: 600px) {
	
	.overview {

		&__bg {
			&__item {
				height: 1000px;
			}
		}

		&__center {
			height: auto;
		}

		&__nav {
			padding-top: 30px;

			&__item {
				display: block;
				border-top: 1px solid rgba(#fff, .1);
				padding-right: 0;
				width: 100%;

				&:first-child {
					border-top: 0;
				}

				&._active {
					.overview__nav__text {
						&:before {
							transform: rotate(90deg) scaleX(-1) !important;
						}
					}
				}
			}

			&__link {
				width: 100%;
				height: 70px;
			}

			&__text {
				width: 100%;
				padding-left: 50px;
				font-size: 13px;

				&:before {
					transform: rotate(90deg) !important;
					opacity: 1;
					left: auto;
					right: 0;
				}
			}

			&__icon {
				transform: scale(.6);
				transform-origin: 0 50%;
			}

			&__body {
				display: block;

				&__inner {
					padding: 15px 0;
				}
			}
		}

		&__about {
			display: none;
		}

		&__title {
			font-size: 17px;
		}

		&__desc {
			position: relative;
			margin-top: 17px;
			font-size: 12px;
			line-height: 1.7;
		}
	}

}

