
.page {

	&__wrapper {
		overflow: hidden;
	}

	&__center {
		max-width: 1600px;
		margin: 0 auto;

		&--about {
			max-width: inherit;
		}
	}

	&__inner {
		padding: 0 40px;
	}

	&__col-side {
		float: left;
		padding-right: 30px;
		width: 200px;
	}

	&__col-main {
		margin-left: 200px;
	}

	&__decor {
		@include position-fill();
		background: #000;
		opacity: .3;
	}

	&__click {
		@include position-fill();
		z-index: 30;
	}

	&__label {
		position: relative;
		z-index: 100;
		display: inline-block;
		min-width: 240px;
		padding: 13px 15px;
		background: #5CB3E5;
		font-size: 16px;
		font-weight: 600;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: 1.78px;
		color: #ffffff;

		&--green {
			background: #A1C527
		}

		&--yellow {
			background: #F4CB23;
		}

		&--red {
			background: #D74738;
		}

		&--dark {
			background: #4F4949;
		}

	}

	&__gap-80 {
		height: 80px;
	}

	&__gap-100 {
		height: 100px;
	}

	&__gap-120 {
		height: 120px;
	}

	&__gap-140 {
		height: 140px;
	}

	&__gap-160 {
		height: 160px;
	}

	&__h1 {
		margin-bottom: .8em;
		max-width: 700px;
		font-size: 36px;
		font-weight: 700;
		line-height: 1.4;

	}

	&__h2 {
		margin-bottom: 1.4em;
		max-width: 700px;
		font-size: 30px;
		font-weight: 700;
		line-height: 1.3;
	}

}

@media all and (max-width: 1300px) {

	.page {

		&__col-side {
			float: none;
			padding-right: 0;
			width: auto;
		}

		&__col-main {
			margin-left: 0;
		}

		&__gap-80 {
			height: 0.8*80px;
		}

		&__gap-100 {
			height: 0.8*100px;
		}

		&__gap-120 {
			height: 0.8*120px;
		}

		&__gap-140 {
			height: 0.8*140px;
		}

		&__gap-160 {
			height: 0.8*160px;
		}

		&__h1 {
			font-size: 30px;
		}

		&__h2 {
			font-size: 28px;
		}

	}

}

@media all and (max-width: 1300px) {

	.page {
		&__label {
			min-width: auto;
		}
	}

}

@media all and (max-width: 1050px) {
	
	.page {

		&__label {
			padding: 12px 14px;
			font-size: 14px;
		}

		&__gap-80 {
			height: 0.6*80px;
		}

		&__gap-100 {
			height: 0.6*100px;
		}

		&__gap-120 {
			height: 0.6*120px;
		}

		&__gap-140 {
			height: 0.6*140px;
		}

		&__gap-160 {
			height: 0.6*160px;
		}

		&__h1 {
			font-size: 28px;
		}

		&__h2 {
			font-size: 26px;
		}

	}


}


@media all and (max-width: 600px) {

	.page {

		&__inner {
			padding: 0 20px;
		}

		&__label {
			padding: 10px 12px;
			font-size: 11px;
			letter-spacing: 1.22px;
		}

		&__h1 {
			font-size: 24px;
		}

		&__h2 {
			font-size: 22px;
		}

	}


}





