
.page {

	&__wrapper {
		overflow: hidden;
		max-width: 3000px;
		margin: 0 auto;
	}
	
	&__center {
		max-width: 1600px;
		margin: 0 auto;
	}

	&__inner {
		padding: 0 40px;
	}

	&__col-side {
		float: left;
		padding-right: 30px;
		width: 200px;
	}

	&__col-main {
		margin-left: 200px;
	}

	&__label {
		display: inline-block;
		padding: 0 16px;
		height: 43px;
		line-height: 43px;
		background: #59b4e6;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1.78px;
		color: #ffffff;
	}

	&__gap-xs {
		height: 80px;
	}

	&__gap-sm {
		height: 100px;
	}

	&__gap-lg {
		height: 160px;
	}

}


@media all and (max-width: 1300px) {

	.page {

		&__gap-xs {
			height: 0.9*80px;
		}

		&__gap-sm {
			height: 0.9*100px;
		}

		&__gap-lg {
			height: 0.9*160px;
		}

	}
}

@media all and (max-width: 1050px) {

	.page {

		&__label {
			font-size: 14px;
		}

		&__col-side {
			float: none;
			padding-right: 0;
			width: auto;
		}

		&__col-main {
			margin-left: 0;
		}

		&__gap-xs {
			height: 0.7*80px;
		}

		&__gap-sm {
			height: 0.7*100px;
		}

		&__gap-lg {
			height: 0.7*160px;
		}

	}

}

@media all and (max-width: 850px) {

	.page {

		&__inner {
			padding: 0 20px;
		}

	}

}

@media all and (max-width: 600px) {

	.page {

		&__label {
			padding: 0 8px;
			height: 30px;
			line-height: 30px;
			font-size: 11px;
			letter-spacing: 1.22px;
		}

		&__gap-xs {
			height: 0.5*80px;
		}

		&__gap-sm {
			height: 0.5*100px;
		}

		&__gap-lg {
			height: 0.5*160px;
		}

	}


}