
.page {

	&__wrapper {
		overflow: hidden;
		max-width: 3000px;
		margin: 0 auto;
	}
	
	&__center {
		max-width: 1600px;
		margin: 0 auto;
	}

	&__inner {
		padding: 0 40px;
	}

	&__label {
		display: inline-block;
		padding: 0 16px;
		height: 43px;
		line-height: 43px;
		background: #59b4e6;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1.78px;
		color: #ffffff;

		&--header {
			height: 40px;
			line-height: 40px;
		}
	}

	&__content {
		margin-left: 200px;
	}

}

@media all and (max-width: 1200px) {

	.page {
		&__label {
			font-size: 14px;
		}
	}
}

@media all and (max-width: 850px) {

	.page {

		&__inner {
			padding: 0 20px;
		}

	}

}

@media all and (max-width: 600px) {

	.page {

		&__label {
			padding: 0 8px;
			height: 30px;
			line-height: 30px;
			font-size: 11px;
			letter-spacing: 1.22px;
		}
	}
}