
.popup {
	position: relative;
	width: 600px;

	&--large {
		width: 950px;
	}

	&--fixed {
		position: fixed;
		top: 0;
		left: -9999px;

		&.fancybox-content {
			position: relative;
			left: 0;
		}
	}

	&__close {
		@extend .icon;
		@extend .icon-close;
		transition: all .2s;
		position: absolute;
		width: 2.5em;
		height: 2.5em;
		line-height: 2.5em;
		text-align: center;
		top: 0;
		right: 0;
		background: #5cb3e5;
		color: #fff !important;

		&:hover {
			background: darken(#5cb3e5, 5%);
		}
	}
}