
.press-center {

	background: #eff4fd;
	
	&__content {
		position: relative;
		padding: 70px 0;
	}

	&__label {
		position: absolute;
		top: 70px;
		left: 0;
	}

	&__list {
		display: flex;
		justify-content: flex-end;
		margin: 0 -12px;
	}

	&__col {
		flex: 0 0 33.33%;
		max-width: 33.33%;
		padding: 0 12px;
	}

	&__item {
		border-top: 2px solid #59b4e6;
		padding-right: 40px;
		padding-top: 25px;
	}

	&__desc {
		line-height: 1.55;
	}

	&__human {
		margin-top: 8px;
		font-size: 22px;
		font-weight: 700;
		line-height: 1.35;
	}

	&__call-lg {
		margin-top: 20px;
		white-space: nowrap;
		font-size: 40px;
		font-weight: 700;

		a {
			color: #000 !important;
		}
	}

	&__call-sm {
		margin-top: 40px;
		white-space: nowrap;
		font-size: 28px;
		font-weight: 700;

		a {
			color: #000 !important;
		}
	}

	&__email {
		margin-top: 15px;
		font-size: 16px;
	}

	&__social {
		margin-top: 15px;
		margin-left: -5px;

		i {
			font-size: 24px;
		}
	}

}

@media all and (max-width: 1300px) {

	.press-center {
		
		margin-top: 18px;

		&__label {
			top: -20px;
		}

		&__col {
			flex-basis: 50%;
			max-width: 50%;
		}

		&__human {
			font-size: 20px;
		}
		
		&__call-lg {
			font-size: 36px;
		}
		
		&__call-sm {
			font-size: 24px;
		}

	}
}

@media all and (max-width: 700px) {

	.press-center {
		
		&__list {
			display: block;
			margin-top: -40px;
		}

		&__col {
			max-width: none;
			margin-top: 40px;

			&:first-child {
				.press-center__item {
					border-top: 0;
					padding-top: 0;
				}
			}
		}

		&__call-lg {
			margin-top: 40px;
		}
	
	}
}

@media all and (max-width: 600px) {

	.press-center {
		
		font-size: 14px;

		&__content {
			padding: 50px 0;
		}

		&__call-lg {
			font-size: 32px;
		}

		&__human {
			font-size: 16px;
		}

		&__email {
			font-size: 14px;
		}
	
	}
}