
.slider-content {

	position: relative;

	&.--has-wing {
		.slider-content__ctrl {
			right: 0;
		}
	}

	&__item {
		display: none;
		position: relative;
		background: $base-gray;
		height: 450px;
		
		.is-admin &,
		&:first-child {
			display: block;
		}
	}

	&__image {
		@include position-fill();
		background-color: $base-gray;
		background-position: 50% 50%;
		background-size: cover;

		&.--inited:after {
			content: ' ';
			@include position-fill();
			background: rgba(#000, .3);
		}

		img {
			display: none;
		}
	}

	&__desc {
		position: relative;
		z-index: 1;
		padding: 60px;
	}

	&__date {
		margin-top: -10px;
		margin-bottom: 18px;
		color: #fff;
	}

	&__h1 {
		@extend .typo-28;
		max-width: 600px;
		color: #fff;
	}

	&__text {
		@extend .typo-14;
		max-width: 450px;
		color: rgba(#fff, .9);
	}

	&__ctrl {
		position: absolute;
		z-index: 10;
		bottom: 50px;
		right: 60px;
	}

}

@media all and (max-width: 1050px) {

	.slider-content {

		margin: 0 -40px;

		
	}
}

@media all and (max-width: 850px) {

	.slider-content {

		margin: 0 -20px;

		&__desc {
			padding: 40px;
		}

		&__ctrl {
			right: 40px;
			bottom: 40px;
		}
		
	}
}

@media all and (max-width: 600px) {

	.slider-content {

		&__h1 {
			font-size: 26px;
		}

		&__desc {
			padding: 20px;
		}

		&__date {
			margin-top: 10px;
		}

		&__ctrl {
			right: 20px;
			bottom: 20px;
		}
		
	}
}