
.slider-digits {

	margin-top: 140px;
	margin-bottom: 160px;

	&._visible {
		.slider-digits__nums__list {
			visibility: visible;
		}
	}

	&._ready {
		.slider-digits__nums__list {
			transition: transform .4s ease-in-out;
		}
	}

	&__center {
		@extend .clearfix;
		position: relative;
	}

	&__content {
		@extend .clearfix;
	}

	&__slider {
		position: relative;
		overflow: hidden;
		float: left;
		margin-left: 200px;
		height: 260px;
		width: 60%;
		background: $base-gray;
	}

	&__pics {
		@include position-fill();

		&:after {
			@include position-fill();
			z-index: 5;
			content: ' ';
			background: #525354;
			opacity: .5;
		}

		&__item {
			position: absolute;
			width: 120%;
			height: 100%;
			top: 0;
			left: -10%;
			opacity: 0;

			&._active {
				opacity: 1;
			}

			&._cover {
				z-index: 1;
			}

			// элемент вложен, потому что при трансформации элемента 
			// с фоновой картинкой есть проблемы
			> div {
				height: 100%;
				background-position: 30% 50%;
				background-size: cover;
			}

			img {
				visibility: hidden;
			}
		}
	}

	&__text {
		@include position-fill();
		z-index: 5;

		&__item {
			@include position-fill();
			display: flex;
			align-items: center;
			opacity: 0;

			&._active {
				opacity: 1;
			}
		}

		&__desc {
			position: relative;
			flex-grow: 1;
			padding: 0 60px;
			max-width: 500px;
			font-size: 24px;
			font-weight: 700;
			line-height: 1.35;
			color: #fff;
		}

		&__value {
			position: relative;
			padding-right: 60px;
			margin-left: auto;
			font-size: 80px;
			font-weight: 700;
			color: #fff;

			&._ready {
				transition: transform .4s ease-in-out;
			}
		}
	}

	&__nums {
		float: left;
		width: 0;

		&__crop {
			position: relative;
			overflow: hidden;
			width: 1400px;
		}

		&__list {
			visibility: hidden;
			display: inline-block;
			white-space: nowrap;
			font-size: 0;
		}

		&__item {
			transition: transform .4s ease-in-out, color .2s;
			display: inline-block;
			margin-left: 65px;
			height: 260px;
			line-height: 260px;
			font-size: 80px;
			font-weight: 700;
			cursor: pointer;
			color: #dde7f8;
			user-select: none;

			&:hover {
				color: darken(#dde7f8, 5%);
			}

			&._hidden {
				visibility: hidden;
			}

			&._fixed {
				position: absolute;
				margin-left: 0;
				top: 0;
			}
		}

	}

	&__label {
		position: absolute;
		z-index: 10;
		top: 27px;
		left: 0;
	}

	&__buttons {
		position: absolute;
		right: 0;
		bottom: -85px;
	}

	&__about {
		display: none;
	}

	._fadeOutLeft {
		animation: imDigitsFadeOutLeft .4s ease-in-out;
		animation-fill-mode: forwards;
	}

	._fadeOutRight {
		animation: imDigitsFadeOutRight .4s ease-in-out;
		animation-fill-mode: forwards;
	}

	._fadeInRight {
		animation: imDigitsFadeInRight .4s ease-in-out;
		animation-fill-mode: forwards;
	}

	._fadeInLeft {
		animation: imDigitsFadeInLeft .4s ease-in-out;
		animation-fill-mode: forwards;
	}

	._fadeInImage {
		animation: imDigitsFadeInImage .5s ease-in-out;
		animation-fill-mode: forwards;
	}

}

@media all and (max-width: 1300px) {

	.slider-digits {

		&__slider {
			margin-left: 0;
			width: 75%;
		}

		&__label {
			top: -20px;
			left: 20px;
		}
	}
}

@media all and (max-width: 1050px) {

	.slider-digits {

		margin-bottom: 70px;

		&__label {
			left: 0;
		}

		&__content {
			margin: 0 -40px;
		}

		&__slider {
			width: 100%;
		}

		&__text {
			&__desc {
				display: none;
			}

			&__value {
				margin-left: 0;
				padding: 0 40px;
			}
		}

		&__nums {
			margin-left: -1px;
			overflow: hidden;

			&__item {
				visibility: visible !important;
			}
		}

		&__about {
			display: block;
			margin-top: 25px;

			&__list {
				overflow: hidden;
			}

			&__item {
				transition: opacity .4s;
				opacity: 0;
				float: left;
				width: 100%;
				margin-left: -100%;
	
				&:first-child {
					margin-left: 0;
				}

				&._active {
					opacity: 1;
				}
			}

			&__title {
				margin-bottom: 20px;
				font-size: 24px;
				font-weight: 700;
				line-height: 1.35;
			}

			&__desc {
				font-size: 14px;
				line-height: 1.5;
				color: rgba(#000, .7);
			}
		}

		&__buttons {
			position: static;
			float: right;
			margin-top: 20px;
		}

	}
}

@media all and (max-width: 600px) {

	.slider-digits {

		margin-bottom: 70px;

		&__content {
			margin: 0 -20px;
		}

		&__slider {
			height: 160px;
		}

		&__text {
			&__value {
				padding: 0 20px;
				font-size: 60px;
			}
		}

		&__nums {
			&__item {
				height: 160px;
				line-height: 160px;
			}
		}

		&__about {

			&__title {
				margin-bottom: 15px;
				font-size: 17px;
			}

			&__desc {
				font-size: 12px;
				line-height: 1.7;
			}
		}

		

	}
}




@keyframes imDigitsFadeOutLeft {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		transform: translateX(-200px);
		opacity: 0;
	}
}

@keyframes imDigitsFadeOutRight {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		transform: translateX(100px);
		opacity: 0;
	}
}

@keyframes imDigitsFadeInRight {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes imDigitsFadeInLeft {
	0% {
		transform: translateX(-200px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes imDigitsFadeInImage {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}