
.slogan {
    background-color: #EFF4FD;
    position: relative;
}


.slogan__content {
    min-height: 300px;
    
    display: flex;
    flex-direction: column;
    padding: 82px 0;
    position: relative;
    z-index: 20;
    @media screen and (max-width: 800px) {
        padding: 60px 0;
    }
}


.slogan__bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


.slogan__text {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    width: 100%;
    @media screen and (max-width: 800px) {
        font-size: 24px;
        line-height: 32px;
    }
    @media screen and (max-width: 600px) {
        font-size: 20px;
        line-height: 28px;
    }
}