
.subscribe {

	padding: 45px;
	background: #eff4fd;

	&__form {
		display: flex;
		align-items: center;
	}

	&__text {
		display: flex;
		align-items: center;
	}

	&__title {
		font-size: 22px;
		font-weight: 700;
		line-height: 1.35;
	}

	&__desc {
		box-sizing: content-box;
		padding: 0 70px;
		font-size: 16px;
		line-height: 1.7;
	}

	&__list {
		flex: 0 0 40%;
		margin-left: auto;
	}

}

@media all and (max-width: 1300px) {

	.subscribe {

		&__form {
			margin: 0 -12px;
		}

		&__text {
			flex-wrap: wrap;
			padding: 0 12px;
		}

		&__title {
			margin-bottom: .8em;
			margin-top: -.2em;

			br {
				display: none;
			}
		}

		&__desc {
			padding: 0;
		}

		&__list {
			padding: 0 12px;
			flex: 0 0 50%;
		}

	
	}
}

 @media all and (max-width: 850px) {

	.subscribe {

		&__form {
			flex-wrap: wrap;
		}

		&__list {
			flex: 0 0 100%;
			margin-top: 40px;
			margin-left: 0;
		}

	}

 }

@media all and (max-width: 650px) {

  	.subscribe {
  		max-width: none;
  	}

}

@media all and (max-width: 600px) {

  	.subscribe {
  		padding: 30px 20px;

		&__title {
			font-size: 20px;
		}

		&__desc {
			font-size: 12px;
		}
  	}
  	
}