.svody {
    background-color: #000;
    overflow: hidden;
    
}


.svody__link {
    
    color: white;
    position: relative;
    padding-top: 95px;
    padding-bottom: 60px;
    display: block;
    @media screen and (max-width: 800px) {
        padding-top: 40px;
        padding-bottom: 20px;
    }
    &:link,
    &:visited {
        color: white;
    }

    &:hover {
        .svody__bg-image {
            transform: scale(1.05);
        }
    }
}


.svody__bg-image {
    position: absolute;
    
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
    transition: transform .35s ease-out;
}


.svody__content {
    display: flex;
    position: relative;
    z-index: 15;
    @media screen and (max-width: 800px) {
        flex-direction: column;
    }
}


.svody__content-logo {
    width: 218px;
    height: auto;
    flex-shrink: 0;
    margin-top: 8px;
    align-self: flex-start;
}


.svody__content-right-column {
    width: 65%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 800px) {
        width: 100%;
        margin-top: 40px;
    }
}


.svody__icon {
    margin-left: auto;
    margin-top: 15px;
}