
.tech-promo {

	height: calc(100vh - 74px);
	min-height: 800px;
	max-height: 1000px;

	.brand-box__text-2 {
		color: #fff;
	}

	.banner__image {
		background-color: #000;
	}

	.banner__text {
		height: 100%;
	}

	&__base {
		position: absolute;
		width: 600px;
		top: 50%;
		margin-top: -300px;
		left: 45%;
	}

	&__elem-1 {
		transform: rotate(-90deg);

		&.--active {
			.tech-promo__line {
				animation: tech-promo-stroke 2s ease-out forwards;
			}
		}
	}

	&__elem-2 {
		transform: translate(-36px, -36px);
		width: 300px;
		height: 300px;
	}

	&__data {
		transition: all .4s;
		transform: scale(0);
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		width: 100%;
		height: 100%;
		border: 1px solid #fff;
		border-radius: 50%;
		opacity: 0;

		&.--active {
			transform: scale(1);
			opacity: 1;
		}
	}

	&__line {
		stroke-dasharray: 2000;
		stroke-dashoffset: 2000;
	}

	&__point {
		@include position-fill;

		&.--active {
			.tech-promo__point__label {
				transform: scale(1);
			}
		}

		&--1 {
			transform: rotate(45deg);

			.tech-promo__point__label {
				transition-delay: 0.0s;
			}

			.tech-promo__point__data {
				transform: rotate(-45deg);
			}
		}

		&--2 {
			transform: rotate(135deg);

			.tech-promo__point__label {
				transition-delay: 0.3s;
			}
		}

		&--3 {
			transform: rotate(200deg);

			.tech-promo__point__label {
				transition-delay: 0.6s;
			}
		}

		&--4 {
			transform: rotate(230deg);

			.tech-promo__point__label {
				transition-delay: 0.9s;
			}
		}

		&--5 {
			transform: rotate(270deg);

			.tech-promo__point__label {
				transition-delay: 1.2s;
			}
		}

		&--6 {
			transform: rotate(310deg);

			.tech-promo__point__label {
				transition-delay: 1.5s;
			}
		}

		&__label {
			transition: transform .3s;
			transform: scale(0);
			width: 20px;
			height: 20px;
			position: absolute;
			top: -9px;
			left: 50%;
			margin-left: -10px;
			background: #fff;
			box-shadow: 0 0 15px #fff;
			border-radius: 50%;
		}

		&__data {
			transform-origin: 0 0;
		}

	}

}

@keyframes tech-promo-stroke {
  to {
    stroke-dashoffset: 0;
  }
}