
.vacancies {

	padding: 110px 0;

	&__center {
		margin: 0 200px;
	}



	&__item {
		border-top: 1px solid rgba(#000, .3);

		&:last-child {
			border-bottom: 1px solid rgba(#000, .3);
		}
	}

	&__title {
		position: relative;
		display: block;
		padding: 30px 0;
		padding-right: 50px;
		font-size: 22px;
		font-weight: 700;
		line-height: 1.35;
		color: #000 !important;

		&.collapsed {
			&:before {
				transform: rotate(0);
			}
		}
		
		&:before {
			@extend .icon;
			@extend .icon-plus;
			transition: transform .2s;
			transform: rotate(-45deg);
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -10px;
			font-size: 20px;
			color: #59b4e6;
		}
	}

	&__body {
		padding-bottom: 75px;
	}

	&__intro {
		margin-bottom: 45px;
		line-height: 1.6;
		color: #6e7f95;
	}

	&__button {
		margin-top: 55px;
	}

}

@media all and (max-width: 1300px) {

	.vacancies {
		
		&__center {
			margin: 0;
		}
	}
}

@media all and (max-width: 1050px) {

	.vacancies {

		padding: 0.8*110px 0;


	}

}

@media all and (max-width: 600px) {

	.vacancies {

		padding: 0.6*110px 0;

		
		&__title {
			padding-top: 21px;
			padding-bottom: 21px;
			font-size: 16px;

			&:before {
				font-size: 17px;
				margin-top: -8px;
			}
		}

		&__body {
			padding-bottom: 55px;
		}

		&__intro {
			margin-bottom: 40px;
			font-size: 14px;
		}

		&__button {
			float: right;
			margin-top: 40px;
		}

	}

}