.was-integrated {
    display: flex;
    @media screen and (max-width: 800px) {
        flex-direction: column;
    }
}



.was-integrated__left-column {
   
    width: 484px;
    flex-shrink: 0;
    margin-right: 80px;
    @media screen and (max-width: 800px) {
        width: 100%;
        flex-grow: 0;
        margin-right: 0;
        margin-bottom: 40px;
    }
}


.was-integrated__right-column {
    
    width: 30%;
    flex-grow: 1;
    
    position: relative;

    figcaption {
        @include visuallyHidden();
    }

    img {
        width: 100%;
        height: auto;
    }
    @media screen and (max-width: 800px) {
        width: 100%;
        flex-grow: 0;
    }
}



.was-integrated__subtitle {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #59b4e6;
    margin-bottom: 8px;
    @media (max-width: 600px) {
        font-size: 14px;
    }
}



.was-integrated__heading {

}